.module.module--0616stadtnatur
    .row
        .small-12.columns
            .row
                .small-12.large-10.large-offset-1.columns
                    head-area
                .small-0.large-1.end.columns

            .row.row__after-fixed-header.main-content-area
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            page-headline(data-content="ARCHIV: Langer Tag der Stadtnatur 2018")
                    
                    .row
                        .small-12.columns
                            img.teaser-image(src="/images/banner/einlad.jpg")

                    .row
                        
                        .small-12.columns
                                p.copytext.copytext__centered Mit einem Rundgang durch die Bornholmer Gärten beteiligen wir uns wieder am "Langen Tag der Stadtnatur"; was es zu sehen und hören gibt, erfahrt ihr <a href="https://www.langertagderstadtnatur.de/angebote/details/3119"><u><strong>hier</u></strong></a>.

                    .small-0.large-1.end.columns
                    
            .row
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            foot-area
                .small-0.large-1.end.columns