.foot-area.foot-area__fixed
    foot-teaser-image(data-content="MACH MIT!")
    .row
        .small-0.large-2.columns &nbsp;
        div(ng-transclude)
        .small-0.large-2.columns &nbsp;
    .navigation
        .navigation--item
            a.navigation--anchor(href="#") Politik
        .navigation--separator /
        .navigation--item
            a.navigation--anchor(href="/#/bilder") Bilder
        .navigation--separator /
        .navigation--item
            a.navigation--anchor(href="#") Lageplan
        .navigation--separator /
        .navigation--item
            a.navigation--anchor(href="#") Satzung
        .navigation--separator /
        .navigation--item
            a.navigation--anchor(href="#") Vorstand
        .navigation--separator /
        .navigation--item
            a.navigation--anchor(href="#") Kontakt
        .navigation--separator /
        .navigation--item
            a.navigation--anchor(href="#") Impressum