@import '../../constants';

.foot-area {
  padding: 40px 0;
  position: relative;
  text-align: center;

  .copytext {
    text-align: center;
  }

  .copytext__highlighted {
    color: $color--accent;
  }

  .navigation {
    font-weight: 700;
    font-size: #{18 / $font-size--base__no-unit}em;
  }
}

.foot-area__fixed {
  width: 804px;
  padding-bottom: 55px;

  .foot-teaser-image {
    position: fixed;
    bottom: 20px;
    top: auto;
    left: auto;
    margin-left: -40px;
    z-index: 1;
  }

  .navigation {
    position: fixed;
    bottom: 0;
    width: 804px;
    background-color: $color--white;
    padding: 10px 0 20px;
  }
}

// small devices
@media screen and (max-width: $breakpoint--small__max) {
  .foot-area {
    padding-top: 125px;
    margin-top: 25px;
  }

  .foot-area__fixed {
    width: 100%;
    padding-bottom: 0;

    .foot-teaser-image {
      position: absolute;
      bottom: auto;
      top: -15px;
      left: 50%;
      margin-left: -75px;
    }

    .navigation {
      position: static;
      width: 100%;
      background-color: transparent;
      padding: 0;
    }
  }
}

// medium devices
@media screen and (min-width: $breakpoint--medium__min) and (max-width: $breakpoint--medium__max) {
  .foot-area {
    padding-top: 125px;
    margin-top: 25px;
  }

  .foot-area__fixed {
    width: 100%;
    padding-bottom: 0;

    .foot-teaser-image {
      position: absolute;
      bottom: auto;
      top: -15px;
      left: 50%;
      margin-left: -75px;
    }

    .navigation {
      position: static;
      width: 100%;
      background-color: transparent;
      padding: 0;
    }
  }
}