.foot-area.foot-area__fixed
    foot-teaser-image(data-content="MACH MIT!")

    .row
        .small-0.large-2.columns &nbsp;
        .small-12.large-8.columns
            .row
                .small-12.columns
                    .copytext.copytext__highlighted.invisible-on-desktop Wenn euch gefällt, was wir machen, könnt ihr in Kürze ein Zeichen setzen und an unserer Online-Petition zur Sicherung der Kleingartenanlage teilnehmen.
        .small-0.large-2.columns &nbsp;

    .navigation.hide-on-print
        .navigation--item
            a.navigation--anchor(href="/#/neuigkeiten") Neuigkeiten
        .navigation--separator /
        .navigation--item
            a.navigation--anchor(href="/#/archiv") Archiv
        .navigation--separator /
        .navigation--item
            a.navigation--anchor(href="/#/galerie") Galerie
        .navigation--separator /
        .navigation--item
            a.navigation--anchor(href="/#/termine") Termine
        .navigation--separator /
        .navigation--item
            a.navigation--anchor(href="/#/lageplan") Lageplan
        .navigation--separator /
        .navigation--item
            a.navigation--anchor(href="/#/satzung") Satzung
        // .navigation--separator /
        // .navigation--item
        //    a.navigation--anchor(href="/#/presse") Presse
        .navigation--separator /
        .navigation--item
            a.navigation--anchor(href="/#/impressum") Impressum