.foot-area.foot-area__fixed
    foot-teaser-image(data-content="MACH MIT!")
    .row
        .small-0.large-2.columns &nbsp;
        div(ng-transclude)
        .small-0.large-2.columns &nbsp;
    .navigation
        .navigation--item
            a.navigation--anchor(href="/#/politik") Politik
        .navigation--separator /
        .navigation--item
            a.navigation--anchor(href="/#/galerie") Galerie
        .navigation--separator /
        .navigation--item
            a.navigation--anchor(href="/#/termine") Termine
        .navigation--separator /
        .navigation--item
            a.navigation--anchor(href="/#/lageplan") Lageplan
        .navigation--separator /
        .navigation--item
            a.navigation--anchor(href="/#/satzung") Satzung
        .navigation--separator /
        .navigation--item
            a.navigation--anchor(href="/#/kontakt") Kontakt
        .navigation--separator /
        .navigation--item
            a.navigation--anchor(href="/#/impressum") Impressum