.foot-area.foot-area__fixed
    foot-teaser-image(data-content="MACH MIT!")
    .row
        .small-0.large-2.columns &nbsp;
        .small-12.large-8.columns.copytext.copytext--highlighted Wenn euch gefällt was wir machen, könnt ihr bereits jetzt ein Zeichen setzen und an unserer Online-Petition zur dauerhaften Sicherung der Kleingartenanlage teilnehmen.
        .small-0.large-2.columns &nbsp;
    .navigation
        .navigation--item
            a.navigation--anchor(href="#") Politik
        .navigation--separator /
        .navigation--item
            a.navigation--anchor(href="#") Bilder
        .navigation--separator /
        .navigation--item
            a.navigation--anchor(href="#") Satzung
        .navigation--separator /
        .navigation--item
            a.navigation--anchor(href="#") Vorstand
        .navigation--separator /
        .navigation--item
            a.navigation--anchor(href="#") Kontakt
        .navigation--separator /
        .navigation--item
            a.navigation--anchor(href="#") Impressum