.module.module--galerie
    .row
        .small-0.large-1.columns &nbsp;
        .small-12.large-10.columns
            head-area

            .content-area__after-fixed-header
                page-headline(data-content="POLITIK")

            foot-area
        .small-0.large-1.columns &nbsp;