RewriteEngine on

RewriteCond %{REQUEST_URI} !^/build/app/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /build/app/$1

RewriteRule ^(/)?$ build/app/index.html [L]
