.module.module--0430walpurgis
    .row
        .small-12.columns
            .row
                .small-12.large-10.large-offset-1.columns
                    head-area
                .small-0.large-1.end.columns

            .row.row__after-fixed-header.main-content-area
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            page-headline(data-content="ARCHIV: WALPURGISNACHT UNTER OBSTBLÜTEN")
                    
                    .row
                        .small-12.columns
                            img.teaser-image(src="/images/banner/einlad.jpg")

                    .row
                        
                        .small-12.columns
                                    p.copytext.copytext__centered <br><strong>Walpurgisnacht unter blühenden Obstbäumen</strong>
                                    p.copytext.copytext__centered Liebe Gärtner, liebe Nachbarn im Kiez,<br>am 30. April laden wir euch ab 20:00 Uhr zum<br><strong>Tanz in den Mai</strong><br>ganz herzlich ein. Für Unterhaltung sorgt die Discothek <strong>Pankowsound</strong> und für das leibliche Wohl unser Wirt. Bei schönem Wetter ist der Biergarten schon nachmittags geöffnet.
                                    p.copytext.copytext__centered Viel Vergnügen wünschen euch die Gärtner von nebenan
                     //.row
                           .small-12.columns
                            ng-gallery.imagegallery(images="[{thumb: '/images/archiv/thumbs/obstbaum18-1_thumb.jpg', img: '/images/archiv/obstbaum18-1.jpg', description: 'obstbaum18-1'},{thumb: '/images/archiv/thumbs/obstbaum18-2_thumb.jpg', img: '/images/archiv/obstbaum18-2.jpg', description: 'obstbaum18-2'},{thumb: '/images/archiv/thumbs/obstbaum18-3_thumb.jpg', img: '/images/archiv/obstbaum18-3.jpg', description: 'obstbaum18-3'}]" thumbs-num="3")
                    .small-0.large-1.end.columns
                    
            .row
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            foot-area
                .small-0.large-1.end.columns