@import "../../constants";

.block-header {
  border-top: 1px solid $color--ci;
  border-bottom: 1px solid $color--ci;
  color: $color--ci;
  padding: 5px 0;
  margin-bottom: 15px;
}

.block-header__right {
  text-align: right;
}

// small devices
@media screen and (max-width: $breakpoint--small__max) {
  .module--geschichte-und-geschichten {
    .row ~ .row {
      > .columns {
        .block-header {
          text-align: center;
        }
      }
    }

    img {
      margin-top: 10px;
      width: 100%;
      height: auto;
    }
  }
}