.module.module--geschichte-und-geschichten
    .row
        .small-12.columns
            .row
                .small-12.large-10.large-offset-1.columns
                    head-area
                .small-0.large-1.end.columns

            .row.row__after-fixed-header.main-content-area
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            page-headline(data-content="GESCHICHTE & GESCHICHTEN")

                    .row
                        .small-12.columns
                            img.teaser-image(src="/images/natur.jpg")

                    .row
                        .small-12.large-10.large-offset-1.columns
                            .row
                                .small-12.columns
                                    .copytext.copytext__highlighted Kein Mist, die Anlage wurde 1886 auf einer Mülldeponie gegründet. Die ersten Siedler bauten an, um zu überleben.

                            .row
                                .small-12.columns
                                    .copytext Wie viele andere Berliner Laubenkolonien entstand auch die heutige Gartenkolonie „Bornholm“ ursprünglich ohne sorgfältige Planung und Absprachen ihrer Siedler. Die Gärten waren vor allem Anbauflächen für Obst und Gemüse und wurden seit Ende des 19. Jahrhunderts wild in Besitz genommen, um die kärglichen Lebensumstände der Siedler zu verbessern. Dem buchstäblichen Hunger verdankt die Kolonie möglicherweise ihren früheren Namen „Hungriger Wolf“, unter dem sie am 22. September 1919 beim Amtsgericht Wedding in das Vereinsregister eingetragen wurde.

                            .row
                                .small-12.columns
                                    .copytext Als 1908 der Bau der nahegelegenen Paul-Gerhardt-Kirche begann, verteilte man den Erdaushub ungleichmäßig auf das Territorium der heutigen Kleingartenanlage. Das erklärt die Höhenunterschiede von bis zu über einem Meter zwischen einzelnen Gärten der Kolonie.
                            .row
                                .small-12.columns
                                    .copytext In den Goldenen Zwanzigern wurde an genau der Stelle, wo sich auch heute Vereinshaus und Gaststätte befinden, das Gartenlokal „Tante Klara“ eröffnet, benannt nach Klara Vickers, der Betreiberin. Daneben stand damals der sogenannte Hungerturm, in dem Bier und Gurken gelagert wurden und der auch die Wasserversorgung der Gartenkolonie übernahm.
                            .row
                                .small-12.columns
                                    .copytext Während des Zweiten Weltkriegs zerstörten etliche Bomben das Laubengelände zwischen Esplanade in Pankow und Ibsenstraße im Prenzlauer Berg. Nach dem Wiederaufbau erhielt die Kolonie ihren jetzigen Namen aufgrund ihrer Lage nahe der Bornholmer Straße, die - im Nordischen Viertel des Prenzlauer Bergs gelegen - nach der dänischen Insel Bornholm benannt worden war.
                            .row
                                .small-12.columns
                                    .copytext Als am 13. August 1961 die Berliner Mauer gebaut wurde, hatte das auch gravierende Folgen für die Gartenkolonie Bornholm. Der Mauerbau machte die Kleingartenanlage von heute auf morgen mitten in der Stadt zum Grenzgebiet, für das besondere Besuchs- und Verhaltensregeln galten. So durfte in keinem der Kleingärten eine Leiter frei herumstehen, schließlich hätte sie als „Werkzeug“ zur Flucht über die Mauer genutzt werden können. An diese Jahre im Grenzgebiet denken die Gärtner nur ungern zurück.
                            .row
                                .small-12.columns
                                    .copytext Als am 13. August 1961 die Berliner Mauer gebaut wurde, hatte das auch gravierende Folgen für die Gartenkolonie Bornholm. Der Mauerbau machte die Kleingartenanlage von heute auf morgen mitten in der Stadt zum Grenzgebiet, für das besondere Besuchs- und Verhaltensregeln galten. So durfte in keinem der Kleingärten eine Leiter frei herumstehen, schließlich hätte sie als „Werkzeug“ zur Flucht über die Mauer genutzt werden können. An diese Jahre im Grenzgebiet denken die Gärtner nur ungern zurück.

                            .row
                                .small-12.columns
                                    .copytext Am 9. November 1989 bejubelten auch die Gärtner von Bornholm die Öffnung des ersten Grenzübergangs zwischen Ost- und Westberlin auf der Bösebrücke in unmittelbarer Nachbarschaft der Gartenkolonie. Im September 2016 feiert die Kolonie Bornholm ihr 120-jähriges Jubiläum: Anlass für einen Blick zurück. Aber die Geschichte geht weiter!

                        .small-0.large-1.end.columns
                .small-0.large-1.end.columns

            .row
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            foot-area
                .small-0.large-1.end.columns