.module.module--fruechte_fuer_fluechtlinge
    .row
        .small-12.columns
            .row
                .small-12.large-10.large-offset-1.columns
                    head-area
                .small-0.large-1.end.columns

            .row.row__after-fixed-header.main-content-area
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            page-headline(data-content="FRÜCHTE FÜR FLÜCHTLINGE")

                    .row
                        .small-12.columns
                            img.teaser-image(src="/images/banner/fruechte-fluechte.jpg")

                    .row
                        .small-12.large-10.large-offset-1.columns
                            .row
                                .small-12.columns
                                    .copytext.copytext__highlighted Menschen in Not muss geholfen werden. Dabei macht jeder, was er kann. Wir auch: wir ernten!

                            .row
                                .small-12.columns
                                    .copytext Im letzten Jahr haben uns die Fernsehbilder von Menschen auf der Flucht nicht losgelassen. So wurde die Aktion „Früchte für Flüchtlinge“ ins Leben gerufen. Zur Erntezeit sammelten wir jeden Sonntag vor dem Vereinshaus stiegen- und körbeweise alles was unsere Gärten hergeben: Äpfel, Birnen, Pflaumen, Brombeeren, Zucchini, Kürbisse, Gurken und Tomaten wurden von uns in die Flüchtlingsunterkunft in der Mühlenstraße gebracht. Dort sind bis zu 250 Menschen untergebracht, die vor Krieg oder Armut aus ihrer Heimat geflohen sind.

                            .row
                                .small-12.columns
                                    .copytext Mit unserer Ernte wollten wir die Menschen hier willkommen heißen. Viele kommen aus Ländern, in denen noch viel im Garten selbst angebaut wird. Vielleicht haben ihnen unsere Früchte ein wenig Heimatgefühl gegeben.

                            .row
                                .small-12.columns
                                    .copytext Das Teilen der reichen Ernte hat unter Kleingärtnern Tradition. Auch Spaziergänger in Bornholm II kennen und schätzen die „Wegzehrung“, die so manches Gartentor seit vielen Jahren im Spätsommer und Herbst für sie bereit hält. 

                            .row
                                .small-12.columns
                                    ng-gallery.imageExpand(images="[{thumb: '/images/fruchte.jpg', img: '/images/fruchte.jpg', description: 'Bornholm Zwei'}]" thumbs-num="0")
                        .small-0.large-1.end.columns
                .small-0.large-1.end.columns

            .row
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            foot-area
                .small-0.large-1.end.columns