.module.module--fruechte-fuer-fluechtlinge
    .row
        .small-0.large-1.columns &nbsp;
        .small-12.large-10.columns
            .row
                .small-12.columns
                    head-area

            .row.row__after-fixed-header
                .small-12.columns
                    page-headline(data-content="FRÜCHTE FÜR FLÜCHTLINGE")

            .row
                .small-12.columns
                    img.teaser-image(src="/images/fruechte-fluechte.jpg")

            .row
                .small-0.large-1.columns &nbsp;
                .small-12.large-10.columns
                    .row
                        .small-12.columns
                            .copytext.copytext__highlighted Prenzlauer Berg. Die Kleingärtner der Anlage Bornholm II haben eine neue Aktion zur Unterstützung von Flüchtlingen gestartet. Sie spenden jetzt ihre Früchte für sie.

                    .row
                        .small-12.columns
                            .copytext &#132;Die Fernsehbilder von Menschen auf der Flucht lassen uns nicht los&#148;, sagt Edwin Damrose, der Vorstand des Kleingartenvereins Bornholm II. &#132;Wir wollen mit unserer Ernte die Menschen hier willkommen heißen. Viele kommen aus Ländern, in denen noch vieles im Garten selbst angebaut wird. Sie wissen, wie der Apfel oder die Tomate aus eigenem Anbau schmecken. Vielleicht geben ihnen unsere Früchte auch ein wenig Heimatgefühl.&#148;

                    .row
                        .small-12.columns
                            .copytext Um viele Früchte zu sammeln, sind die Kleingärtner der Anlage aufgerufen, sonntags einen Teil ihrer Ernte an einem Stand vorbeizubringen. Der ist etwa um 13 Uhr vor dem Vereinshaus in der Ibsenstraße 20 aufgebaut. Gespendet werden können Pflückobst und Gemüse. Am ersten Sonntag sei bereits rund ein Zentner zusammengekommen, sagt Silvia Teich, die bei der Aktion mitmacht. Es wurden stiegenweise Äpfel, Birnen, Pflaumen, Brombeeren, Zucchini, Kürbisse, Gurken und Tomaten am Stand vorbeigebracht.

                    .row
                        .small-12.columns
                            .copytext Die Spenden sind nach der Aktion in das Flüchtlingsheim an der Mühlenstraße gebracht worden. Dort kam die Initiative der Kleingärtner gut an. Die Bewohner hätten sich sehr gefreut, und die Früchte seien ratzfatz weggewesen, berichtet Silvia Teich. Im Heim an der Mühlenstraße sind etwa 250 Menschen untergebracht, die vor Krieg oder Armut aus ihrer Heimat flohen.

                    .row
                        .small-12.columns
                            ng-gallery.imageExpand(images="[{thumb: '/images/fruchte.jpg', img: '/images/fruchte.jpg', description: 'Bornholm Zwei'}]" thumbs-num="0")
                .small-0.large-1.columns &nbsp;

            .row
                .small-12.columns
                    foot-area
        .small-0.large-1.columns &nbsp;