.row
    .small-0.large-1.columns &nbsp;
    .small-12.large-10.columns
        head-area
            page-title(data-content="BORNHOLM-ZWEI.DE")
            page-slogan(data-content="DA WÄCHST WAS")
            page-logo
        page-headline(data-content="FRÜCHTE FÜR FLÜCHTLINGE")
    .small-0.large-1.columns &nbsp;