.row
    .small-0.large-1.columns &nbsp;
    .small-12.large-10.columns
        head-area

        .content-area__after-fixed-header
            page-headline(data-content="FRÜCHTE FÜR FLÜCHTLINGE")

            img.teaser-image(src="/images/fruechte-fluechte.jpg")

            .copytext.copytext__highlighted Prenzlauer Berg. Die Kleingärtner der Anlage Bornholm II haben eine neue Aktion zur Unterstützung von Flüchtlingen gestartet. Sie spenden jetzt ihre Früchte für sie.

            .copytext Die Spenden sind nach der Aktion in das Flüchtlingsheim an der Mühlenstraße gebracht worden. Dort kam die Initiative der Kleingärtner gut an. Die Bewohner hätten sich sehr gefreut, und die Früchte seien ratzfatz weggewesen, berichtet Silvia Teich. Im Heim an der Mühlenstraße sind etwa 250 Menschen untergebracht, die vor Krieg oder Armut aus ihrer Heimat flohen.

            .copytext Das Teilen der Ernte hat bei den Kleingärtnern der Anlage Bornholm II übrigens Tradition. Spaziergänger konnten sich im Spätsommer und Herbst bisher jedes Jahr über eine „Wegzehrung“ freuen, die an den Gartentoren für sie bereitstand. Doch in diesem Jahr werden die Früchte den Flüchtlingen zur Verfügung gestellt. BW

        foot-area
    .small-0.large-1.columns &nbsp;