.module.module--0519deutschrock
    .row
        .small-12.columns
            .row
                .small-12.large-10.large-offset-1.columns
                    head-area
                .small-0.large-1.end.columns

            .row.row__after-fixed-header.main-content-area
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            page-headline(data-content="ARCHIV: Die Band Engerling am 19.05.2017")
                    
                    .row
                        .small-12.columns
                            img.teaser-image(src="/images/banner/einlad.jpg")

                    .row
                        .small-12.large-10.large-offset-1.columns
                                 
                            .row
                                .small-12.columns
                                    p.copytext.copytext__centered <strong>Liebe Gärtner, liebe Nachbarn im Kiez,</strong><br>wir laden euch ein zu Deutschrock in Bornholm II. 
                                    p.copytext.copytext__centered Am Freitag, d. 19. Mai spielt um 20:00 Uhr in unserem Vereinshaus die Blues- und Rockband "Engerling" und das Wetter spielt auch mit. Deshalb ist schon ab 16:00 Uhr der Biergarten geöffnet, ab 19:00 Uhr ist Einlass zum Konzert.
                                    p
                                    p.copytext.copytext__centered Viel Vergnügen wünschen euch<br>die Gärtner von nebenan
                                    
                                .small-0.large-1.end.columns
                .small-0.large-1.end.columns

            .row
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            foot-area
                .small-0.large-1.end.columns