.module.module--termine
    .row
        .small-0.large-1.columns &nbsp;
        .small-12.large-10.columns
            .row
                .small-12.columns
                    head-area

            .row.row__after-fixed-header
                .small-12.columns
                    page-headline(data-content="POLITIK")

            .row
                .small-12.columns
                    .copytext Hier könnte ein Kalender verlinkt sein.

            .row
                .small-12.columns
                    foot-area
        .small-0.large-1.columns &nbsp;