.module.module--0902erntedank
    .row
        .small-12.columns
            .row
                .small-12.large-10.large-offset-1.columns
                    head-area
                .small-0.large-1.end.columns

            .row.row__after-fixed-header.main-content-area
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            page-headline(data-content="ARCHIV: Erntedankfest am 02. und 03.09.")
                    
                    .row
                        .small-12.columns
                            img.teaser-image(src="/images/banner/einlad.jpg")

                    .row
                        .small-12.large-10.large-offset-1.columns
                                 
                            .row
                                p.copytext.copytext__centered Liebe große und kleine Gärtner, liebe Nachbarn aus dem Kiez, 
                                p.copytext.copytext__centered <strong>am 2. und 3. September</strong><br>laden wir Euch wieder herzlich ein, gemeinsam ein Wochenende in den Bornholmer Gärten zu verbringen. Dafür haben wir ein Programm vorbereitet, das sich sehen lassen kann und bei dem hoffentlich für jeden etwas dabei ist.
                                p.copytext.copytext__centered 
                                p.copytext.copytext__centered Das Programm findet Ihr <strong><a href="/downloads/Bornholm-Erntedank2017.pdf">hier</a>.</strong> 
                            .small-0.large-1.end.columns
                .small-0.large-1.end.columns

            .row
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            foot-area
                .small-0.large-1.end.columns