.teaserPanel.teaserPanel__7(
  ng-controller="Panel7Ctrl as Panel7Vm"
  ng-mousemove="Panel7Vm.handleMouseMove()"
  ng-class="{'showControls': Panel7Vm.controlsVisible}"
)
  img.panelContentImage(src="/images/panels/7.png")

  .panelBottom
    a.goHome(href="/#/home")
      img(src="/images/panels/bottom.png")

  a.goNext(href="/#/8") &gt;

  a.goPrev(href="/#/6") &lt;

  a.goAway(href="/#/home") zur Homepage
