.teaserPanel.teaserPanel__7
  img.panelContentImage(src="/images/panels/7.png")

  .panelBottom
    a.goHome(href="/#/home")
      img(src="/images/panels/bottom.png")

  a.goNext(href="/#/panel8") &gt;

  a.goPrev(href="/#/panel6") &lt;

  a.goAway(href="/#/home") &times;
