@import '../../constants';

.page-slogan {
  font-family: 'Lilita One', cursive;
  font-size: 50px;
  line-height: 1;
  word-spacing: 2px;
  letter-spacing: 9px;
  color: $color--ci;
}

// small devices
@media screen and (max-width: $breakpoint--small__max) {
  .page-slogan {
    font-size: 35px;
    letter-spacing: 6px;
    text-align: center;
  }
}

// medium devices
@media screen and (min-width: $breakpoint--medium__min) and (max-width: $breakpoint--medium__max) {
  .page-slogan {
    font-size: 45px;
    letter-spacing: 8px;
  }
}