@import '../../constants';

.page-slogan {
  font-family: BrandonPrintedOneWeb, sans-serif;
  font-size: #{52.7 / $font-size--base__no-unit}em;
  font-weight: 500;
  line-height: 1;
  margin-left: -1px;
  color: $color--ci;
}

// small devices
@media screen and (max-width: $breakpoint--small__max) {
  .page-slogan {
    font-size: #{40 / $font-size--base__no-unit}em;
    text-align: center;
  }
}

// medium devices
@media screen and (min-width: $breakpoint--medium__min) and (max-width: $breakpoint--medium__max) {
  .page-slogan {
    font-size: #{51.5 / $font-size--base__no-unit}em;
  }
}