@import '../../constants';

.page-slogan {
  font-family: BrandonPrintedOneWeb, sans-serif;
  font-size: #{53 / $font-size--base__no-unit}em;
  line-height: 1;
  color: $color--ci;
}

// small devices
@media screen and (max-width: $breakpoint--small__max) {
  .page-slogan {
    font-size: #{35 / $font-size--base__no-unit}em;
    text-align: center;
  }
}

// medium devices
@media screen and (min-width: $breakpoint--medium__min) and (max-width: $breakpoint--medium__max) {
  .page-slogan {
    font-size: #{45 / $font-size--base__no-unit}em;
  }
}