.teaserPanel.teaserPanel__2
  img.panelContentImage(src="/images/panels/2.png")

  .panelBottom
    a.goHome(href="/#/home")
      img(src="/images/panels/bottom.png")

  a.goNext(href="/#/panel3") &gt;

  a.goPrev(href="/#/panel1") &lt;

  a.goAway(href="/#/home") &times;
