.teaserPanel.teaserPanel__2(
  ng-controller="Panel2Ctrl as Panel2Vm"
  ng-mousemove="Panel2Vm.handleMouseMove()"
  ng-class="{'showControls': Panel2Vm.controlsVisible}"
)
  img.panelContentImage(src="/images/panels/2.png")

  .panelBottom
    a.goHome(href="/#/home")
      img(src="/images/panels/bottom.png")

  a.goNext(href="/#/3") &gt;

  a.goPrev(href="/#/1") &lt;

  a.goAway(href="/#/home") &times;
