head-area
    page-title(data-content="BORNHOLM-ZWEI.DE")
    page-slogan(data-content="DA WÄCHST WAS")
    page-logo

.copytext.copytext--highlighted Als Kleingärtner von nebenan sind wir uns bewusst: Ein eigenes Stück Grün mitten in der Stadt ist ein Privi- leg. Dafür sind wir dankbar und möchten euch aus dem Kiez an diesem Glück teilhaben lassen. Es ist unser Wunsch und unsere Verpflichtung dauerhaft eine lebendige Rolle in der Nachbarschaft zu spielen.
.copytext Unser Gelände ist heiß begehrt. Den blühenden Phantasien der Investoren und Bauplanern möchten wir mit eurer Unterstützung entgegnen. Für ‘Bäume statt Baustellen‘ benötigen wir euer Interesse und eure e-mail Adresse, um euch über unsere Aktionen auf dem Laufenden zu halten. Was wir machen, planen und anbieten findet Ihr in unseren Aushängen und auf unser Internetseite. Willkommen in unseren Gärten!

imagegallery

headline(data-content="UNSERE IDEEN, AKTIONEN UND INITIATIVEN")

two-col-teaser-block
    .two-col-teaser-block--column
        .two-col-teaser-block--left-item
            teaser-anchor(data-content="FRÜCHTE FÜR FLÜCHTLINGE" data-anchor="/#/fruechte" target="_blank")
        .two-col-teaser-block--right-item
            span In diesen Zeiten versuchen viele unseren unfreiwilligen Gäs- ten zu helfen. Dabei macht jeder, was er kann. Wir auch: wir ernten! In zwei konzentrierten Aktionen konnten wir x Kilo. Im Früjhar gehts mit den ersten Beeren weiter.
    .two-col-teaser-block--column
        .two-col-teaser-block--left-item
            teaser-anchor(data-content="BORNHOLM LÄDT EIN" data-anchor="/#/bornholm" target="_blank")
        .two-col-teaser-block--right-item
            span Die Gartenanlage ist grundsätzlich für Spaziergänger, Jog- ger und andere Luftholer geöffnet. Und manchmal laden auch einzelne Gärtner ein, ihr Idyll zu besuchen. So wie am 27.09.2015. Für die Großen gabs eine Führung durch aus-
    .two-col-teaser-block--column
        .two-col-teaser-block--left-item
            teaser-anchor(data-content="UNSERE NATUR" data-anchor="/#/natur" target="_blank")
        .two-col-teaser-block--right-item
            span Us audam dolestem eatemol oratur, consendit labo. Lenes- sim dolupta tiorum, quibus endamenis dit volesse diorro od que rem volo officiam que cores doluptior ratet hillacest- rum ernatiur? Id enim ad quid que nobit pera aut
    .two-col-teaser-block--column
        .two-col-teaser-block--left-item
            teaser-anchor(data-content="GESCHICHTE UND GESCHICHTEN" data-anchor="/#/geschichte" target="_blank")
        .two-col-teaser-block--right-item
            span Kein Mist - die Anlage wurde 1886 auf einer Mülldeponie gegründet.
    .two-col-teaser-block--column
        .two-col-teaser-block--left-item
            teaser-anchor(data-content="BIENEN FÜR DAS VOLK" data-anchor="/#/bienen" target="_blank")
        .two-col-teaser-block--right-item
            span Us audam dolestem eatemol oratur, consendit labo. Lenes- sim dolupta tiorum, quibus endamenis dit volesse diorro od que rem volo officiam que cores doluptior ratet hillacest- rum ernatiur? Id enim ad quid que nobit pera aut

foot-area
    foot-teaser-image
    .copytext.copytext--highlighted Wenn euch gefällt was wir machen, könnt ihr bereits jetzt ein Zeichen setzen und an unserer Online-Petition zur dauerhaften Sicherung der Kleingartenanlage teilnehmen.
    .navigation
        .navigation--item
            a(href="/#/politik" target="_blank") Politik
        .navigation--separator /
        .navigation--item
            a(href="/#/bilder" target="_blank") Bilder
        .navigation--separator /
        .navigation--item
            a(href="/#/satzung" target="_blank") Satzung
        .navigation--separator /
        .navigation--item
            a(href="/#/vorstand" target="_blank") Vorstand
        .navigation--separator /
        .navigation--item
            a(href="/#/kontakt" target="_blank") Kontakt
        .navigation--separator /
        .navigation--item
            a(href="/#/impressum" target="_blank") Impressum