.module--home
    .row
        .small-0.large-1.columns &nbsp;
        .small-12.large-10.columns
            head-area

            .content-area__after-fixed-header
                .copytext.copytext__highlighted Als Kleingärtner von nebenan sind wir uns bewusst: Ein eigenes Stück Grün mitten in der Stadt ist ein Privi- leg. Dafür sind wir dankbar und möchten euch aus dem Kiez an diesem Glück teilhaben lassen. Es ist unser Wunsch und unsere Verpflichtung dauerhaft eine lebendige Rolle in der Nachbarschaft zu spielen.
                .copytext Unser Gelände ist heiß begehrt. Den blühenden Phantasien der Investoren und Bauplanern möchten wir mit eurer Unterstützung entgegnen. Für ‘Bäume statt Baustellen‘ benötigen wir euer Interesse und eure e-mail Adresse, um euch über unsere Aktionen auf dem Laufenden zu halten. Was wir machen, planen und anbieten findet Ihr in unseren Aushängen und auf unser Internetseite. Willkommen in unseren Gärten!

                imagegallery

                headline(data-content="UNSERE IDEEN, AKTIONEN UND INITIATIVEN")

                two-col-teaser-block
                    .row.two-col-teaser-block--column
                        .small-12.large-7.columns.two-col-teaser-block--left-item
                            teaser-anchor(data-content="FRÜCHTE FÜR FLÜCHTLINGE" data-anchor="/#/fruechte-fuer-fluechtlinge")
                        .small-12.large-5.columns.two-col-teaser-block--right-item
                            span.copytext In diesen Zeiten versuchen viele unseren unfreiwilligen Gäs- ten zu helfen. Dabei macht jeder, was er kann. Wir auch: wir ernten! In zwei konzentrierten Aktionen konnten wir x Kilo. Im Früjhar gehts mit den ersten Beeren weiter.
                    .row.two-col-teaser-block--column
                        .small-12.large-7.columns.two-col-teaser-block--left-item.two-col-teaser-block--left-item
                            teaser-anchor(data-content="BORNHOLM ZWEI LÄDT EIN" data-anchor="/#/bornholm-zwei-laedt-ein")
                        .small-12.large-5.columns.two-col-teaser-block--right-item
                            span.copytext Die Gartenanlage ist grundsätzlich für Spaziergänger, Jog- ger und andere Luftholer geöffnet. Und manchmal laden auch einzelne Gärtner ein, ihr Idyll zu besuchen. So wie am 27.09.2015. Für die Großen gabs eine Führung durch aus-
                    .row.two-col-teaser-block--column
                        .small-12.large-7.columns.two-col-teaser-block--left-item.two-col-teaser-block--left-item
                            teaser-anchor(data-content="UNSERE NATUR" data-anchor="#")
                        .small-12.large-5.columns.two-col-teaser-block--right-item
                            span.copytext Us audam dolestem eatemol oratur, consendit labo. Lenes- sim dolupta tiorum, quibus endamenis dit volesse diorro od que rem volo officiam que cores doluptior ratet hillacest- rum ernatiur? Id enim ad quid que nobit pera aut
                    .row.two-col-teaser-block--column
                        .small-12.large-7.columns.two-col-teaser-block--left-item.two-col-teaser-block--left-item
                            teaser-anchor(data-content="GESCHICHTE & GESCHICHTEN" data-anchor="/#/geschichte-und-geschichten")
                        .small-12.large-5.columns.two-col-teaser-block--right-item
                            span.copytext Kein Mist - die Anlage wurde 1886 auf einer Mülldeponie gegründet.
                    .row.two-col-teaser-block--column
                        .small-12.large-7.columns.two-col-teaser-block--left-item.two-col-teaser-block--left-item
                            teaser-anchor(data-content="BIENEN FÜR DAS VOLK" data-anchor="#")
                        .small-12.large-5.columns.two-col-teaser-block--right-item
                            span.copytext Us audam dolestem eatemol oratur, consendit labo. Lenes- sim dolupta tiorum, quibus endamenis dit volesse diorro od que rem volo officiam que cores doluptior ratet hillacest- rum ernatiur? Id enim ad quid que nobit pera aut

            foot-area
                .small-12.large-8.columns.copytext.copytext__highlighted.copytext__centered Wenn euch gefällt was wir machen, könnt ihr bereits jetzt ein Zeichen setzen und an unserer Online-Petition zur dauerhaften Sicherung der Kleingartenanlage teilnehmen.
        .small-0.large-1.columns &nbsp;