.module.module--home
    .row
        .small-12.columns
            .row
                .small-12.large-10.large-offset-1.columns
                    head-area
                .small-0.large-1.end.columns

            .row.row__after-fixed-header.main-content-area
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            .copytext.copytext__highlighted Als Kleingärtner von nebenan sind wir uns bewusst: Ein eigenes Stück Grün mitten in der Stadt ist ein Privileg. Dafür sind wir dankbar und möchten auch für unsere Nachbarn eine lebendige Rolle im Kiez spielen. Dauerhaft. Was wir jetzt schon für Euch sind, soll <u><a href="/#/kampagne" class="kampagnenlink">unsere Kampagne</a></u> zeigen.

                    .row
                        .small-12.columns
                            a(href="/#/kampagne")
                                img.teaser-image(src="/images/banner/balken_kiez.jpg")

                    //.row
                        .small-12.columns
                            .copytext Dafür benötigen wir Euer Interesse und Eure e-mail Adresse, um Euch über unsere Aktionen auf dem Laufenden zu halten. Was wir machen, planen und anbieten, findet Ihr auch in unseren Aushängen und auf unser Internetseite. Willkommen in unseren Gärten!<br>
                    //.row
                        .small-12.columns
                            .copytext Shanghai EcolandClub zu Besuch in Bornholm II! Mehr dazu findet ihr <strong><a href="/#/neuigkeiten">hier</a></strong>.
                    .row
                        .small-12.columns
                            imagecarousel

                    .row
                        .small-12.columns
                            // headline(data-content="UNSERE IDEEN, AKTIONEN UND INITIATIVEN")
                            two-col-teaser-block
                                .two-col-teaser-block--row
                                    .row
                                        .small-12.large-7.columns.two-col-teaser-block--left-item
                                            teaser-anchor(data-content="NEUIGKEITEN" data-anchor="/#/neuigkeiten")
                                        .small-12.large-5.columns.two-col-teaser-block--right-item
                                            .copytext Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                                .two-col-teaser-block--row
                                    .row
                                        .small-12.large-7.columns.two-col-teaser-block--left-item
                                            teaser-anchor(data-content="BORNHOLM ZWEI LÄDT EIN" data-anchor="/#/bornholm-zwei-laedt-ein")
                                                .teaser-anchor--corner
                                                   // .teaser-anchor--corner-background
                                                    .teaser-anchor--corner-content VIDEO//
                                        .small-12.large-5.columns.two-col-teaser-block--right-item
                                            .copytext Frische Luft gibt's bei uns immer. Manchmal verschenken wir auch Pflanzen oder etwas Ernte. Und feiern können wir auch.
                                .two-col-teaser-block--row
                                    .row
                                        .small-12.large-7.columns.two-col-teaser-block--left-item
                                            teaser-anchor(data-content="UNSERE NATUR" data-anchor="/#/unsere-natur")
                                        .small-12.large-5.columns.two-col-teaser-block--right-item
                                            .copytext Natur ist, was ohne Menschen gewachsen ist. Unsere Aufgabe ist es, sie zu pflegen und Begegnungen mit ihr zu ermöglichen.
                                .two-col-teaser-block--row
                                    .row
                                        .small-12.large-7.columns.two-col-teaser-block--left-item
                                            teaser-anchor(data-content="GESCHICHTE & GESCHICHTEN" data-anchor="/#/geschichte-und-geschichten")
                                        .small-12.large-5.columns.two-col-teaser-block--right-item
                                            .copytext Kein Mist, die Anlage wurde 1896 auf einer Mülldeponie gegründet. Die ersten Siedler bauten an, um zu überleben.
                                .two-col-teaser-block--row
                                    .row
                                        .small-12.large-7.columns.two-col-teaser-block--left-item
                                            teaser-anchor(data-content="BIENEN FÜR DAS VOLK" data-anchor="/#/bienen-fuer-das-volk")
                                        .small-12.large-5.columns.two-col-teaser-block--right-item
                                            .copytext Wisst ihr, was eine Win-win-Situation ist? Bienen in einer Gartenkolonie!
                .small-0.large-1.end.columns

            .row
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            foot-area
                .small-0.large-1.end.columns