.module--home {
  .imagecarousel {
    margin-top: 20px;
  }

  .imagecarousel ~ .headline {
    margin-top: 50px;
  }

  .foot-area__fixed {
    padding-bottom: 75px;
  }

  .copytext {
    text-align: justify;
  }
}