.module.module--home
    .row
        .small-12.columns
            .row
                .small-12.large-10.large-offset-1.columns
                    head-area
                .small-0.large-1.end.columns

            .row.row__after-fixed-header.main-content-area
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            .copytext.copytext__highlighted Als Kleingärtner von nebenan sind wir uns bewusst: Ein eigenes Stück Grün mitten in der Stadt ist ein Privileg. Dafür sind wir dankbar und möchten euch aus dem Kiez an diesem Glück teilhaben lassen. Es ist unser Wunsch und unsere Verpflichtung dauerhaft eine lebendige Rolle in der Nachbarschaft zu spielen.

                    .row
                        .small-12.columns
                            .copytext Unser Gelände ist heiß begehrt. Den blühenden Phantasien der Investoren und Bauplanern möchten wir mit eurer Unterstützung entgegnen. Für ‘Bäume statt Baustellen‘ benötigen wir euer Interesse und eure e-mail Adresse, um euch über unsere Aktionen auf dem Laufenden zu halten. Was wir machen, planen und anbieten findet Ihr in unseren Aushängen und auf unser Internetseite. Willkommen in unseren Gärten!

                    .row
                        .small-12.columns
                            imagecarousel

                    .row
                        .small-12.columns
                            headline(data-content="UNSERE IDEEN, AKTIONEN UND INITIATIVEN")
                            two-col-teaser-block
                                .row.two-col-teaser-block--column
                                    .small-12.large-7.columns.two-col-teaser-block--left-item
                                        teaser-anchor(data-content="FRÜCHTE FÜR FLÜCHTLINGE" data-anchor="/#/fruechte-fuer-fluechtlinge")
                                    .small-12.large-5.columns.two-col-teaser-block--right-item
                                        span.copytext In diesen Zeiten versuchen viele unseren unfreiwilligen Gästen zu helfen. Dabei macht jeder, was er kann. Wir auch: wir
                                .row.two-col-teaser-block--column
                                    .small-12.large-7.columns.two-col-teaser-block--left-item.two-col-teaser-block--left-item
                                        teaser-anchor(data-content="BORNHOLM ZWEI LÄDT EIN" data-anchor="/#/bornholm-zwei-laedt-ein")
                                            .teaser-anchor--corner
                                                .teaser-anchor--corner-background
                                                .teaser-anchor--corner-content VIDEO
                                    .small-12.large-5.columns.two-col-teaser-block--right-item
                                        span.copytext Die Gartenanlage ist grundsätzlich für Spaziergänger, Jogger und andere Luftholer geöffnet. Und manchmal laden
                                .row.two-col-teaser-block--column
                                    .small-12.large-7.columns.two-col-teaser-block--left-item.two-col-teaser-block--left-item
                                        teaser-anchor(data-content="UNSERE NATUR" data-anchor="/#/unsere-natur")
                                    .small-12.large-5.columns.two-col-teaser-block--right-item
                                        span.copytext Us audam dolestem eatemol oratur, consendit labo. Lenessim dolupta tiorum, quibus endamenis dit volesse diorro od que
                                .row.two-col-teaser-block--column
                                    .small-12.large-7.columns.two-col-teaser-block--left-item.two-col-teaser-block--left-item
                                        teaser-anchor(data-content="GESCHICHTE & GESCHICHTEN" data-anchor="/#/geschichte-und-geschichten")
                                    .small-12.large-5.columns.two-col-teaser-block--right-item
                                        span.copytext Kein Mist - die Anlage wurde 1886 auf einer Mülldeponie gegründet.
                                .row.two-col-teaser-block--column
                                    .small-12.large-7.columns.two-col-teaser-block--left-item.two-col-teaser-block--left-item
                                        teaser-anchor(data-content="BIENEN FÜR DAS VOLK" data-anchor="/#/bienen-fuer-das-volk")
                                    .small-12.large-5.columns.two-col-teaser-block--right-item
                                        span.copytext Us audam dolestem eatemol oratur, consendit labo. Lenessim dolupta tiorum, quibus endamenis dit volesse diorro od que
                .small-0.large-1.end.columns

            .row
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            foot-area
                .small-0.large-1.end.columns