.module.module--bienen_fuer_das_volk
    .row
        .small-12.columns
            .row
                .small-12.large-10.large-offset-1.columns
                    head-area
                .small-0.large-1.end.columns

            .row.row__after-fixed-header.main-content-area
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            page-headline(data-content="BIENEN FÜR DAS VOLK")

                    .row
                        .small-12.columns
                            img.teaser-image(src="/images/banner/bienen.jpg")

                    .row
                        .small-12.large-10.large-offset-1.columns
                            .row
                                .small-12.columns
                                    .copytext.copytext__highlighted Wisst Ihr, was eine Win-win-Situation ist? Bienen in einer Gartenkolonie!

                            .row
                                .small-12.columns
                                    .copytext Es summt in unseren Gärten. Dafür sorgen neben den vielfältigsten Blütenbesuchern auch unsere Honigbienen. Für sie ist der Tisch bei uns reich gedeckt. Seit anderthalb Jahren beherbergen wir in Bornholm II wieder bis zu fünf Bienenvölker. Sie wohnen in sogenannten Beuten, den Bienenkästen. Besonders bei schönem Wetter kann man die fleißigen Insekten am Flugloch beim stetigen Ein- und Ausfliegen beobachten. Für ein 500-Gramm-Glas Honig müssen die Bienen rund 50.000 mal den Stock verlassen.
                            .row
                                .small-12.columns
                                    .copytext Doch unsere Bienen liefern nicht nur guten Honig: sie sind eine der tragenden Säulen im Ökosystem. Durch ihre Bestäubung leisten sie enorm viel für die Artenvielfalt – und letztlich auch zur Nahrungssicherheit. Ein einziges Honigbienenvolk mit rund 20.000 Flugbienen kann pro Tag drei Millionen Obstblüten bestäuben, hat der Naturschutzbund (Nabu) berechnet. 
                            .row
                                .small-12.columns
                                    .copytext Durch das Aufstellen von Bienenvölkern lässt sich der Ertrag bei Himbeeren und Erdbeeren um 50 Prozent, bei Birnen um 71 Prozent, bei Pflaumen um 75 und Sauerkirschen um 78 Prozent und bei Äpfeln sogar um 86 Prozent steigern, heißt es. Bienen sichern eine reiche Ernte – und das nicht nur in unseren Gärten. Bienen in Bornholm II: eine echte Win-win-Situation eben.

                            .row
                                .small-12.columns
                                    p.copytext.copytext
                                    p.copytext.copytext <strong>Versilberter Honig</strong>
                                    p.copytext.copytext Am Sonntag, 9. Oktober 2016, hat “unser” Imker Jan-Vincent auf dem Berliner Imkertag an der Freien Universität eine Silber-Medaillie für seinen Honig “Sommerblüte mit Linde” erhalten. Jan-Vincent nahm in diesem Jahr zum ersten Mal an der Honigprämierung des Deutschen Imkerbundes (DIB) teil.
                                    p.copytext.copytext Der Berliner Landesverband hatte seine Imker aufgefordert, drei Gläser ihres Honigs für den Wettbewerb abzugeben. Bewertungskritieren der einmal jährlich stattfindenden Prämierung sind die Qualitätsrichtlinien des Deutschen Imkerbundes, die der “Echte Deutsche Honig” mindestens erfüllen muss. Diese sind strenger als die Bestimmungen der Lebensmittelgesetze, insbesondere als die Verordnung über Honig. So muss beispielsweise der Wassergehalt unter 18% liegen, denn wasserarme Honige sind reifer, weniger gärungsgefährdet und besitzen ein volleres Aroma. Neben den Inhaltsstoffen, dem Aussehen des Honigs und der korrekten Bezeichnung und Etikettierung wurde natürlich auch der Geschmack bewertet.
                                    p.copytext.copytext “Die Silber-Medaillie ist eine schöne Anerkennung für die Sorgfalt, die der Imker bei der Honigernte walten lassen muss”, freute sich Jan-Vincent.
                                    p.copytext.copytext Während das geöffnete und getestete Glas im Honiglabor blieb, werden die zwei weiteren Gläser übrigens auf der Grünen Woche für den guten Zweck veräußert.
                                .small-12.columns
                                    ng-gallery.imagegallery(images="[{thumb: '/images/galerie/thumbs/honig1_thumb.jpg', img: '/images/galerie/honig1.jpg', description: 'honig1'},{thumb: '/images/galerie/thumbs/honig2_thumb.jpg', img: '/images/galerie/honig2.jpg', description: 'honig2'}]" thumbs-num="2")
                                .small-0.large-1.end.columns        
                            
                            .row
                                .small-12.columns
                                    ng-gallery.imageExpand(images="[{thumb: '/images/imkerei.jpg', img: '/images/imkerei.jpg', description: 'Bornholm Zwei'}]" thumbs-num="0")           
                        .small-0.large-1.end.columns
                .small-0.large-1.end.columns

            .row
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            foot-area
                .small-0.large-1.end.columns