.module.module--bienen_fuer_das_volk
    .row
        .small-12.columns
            .row
                .small-12.large-10.large-offset-1.columns
                    head-area
                .small-0.large-1.end.columns

            .row.row__after-fixed-header.main-content-area
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            page-headline(data-content="BIENEN FÜR DAS VOLK")

                    .row
                        .small-12.columns
                            img.teaser-image(src="/images/natur.jpg")

                    .row
                        .small-12.large-10.large-offset-1.columns
                            .row
                                .small-12.columns
                                    .copytext.copytext__highlighted Bienen.

                            .row
                                .small-12.columns
                                    .copytext Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ.

                            .row
                                .small-12.columns
                                    .copytext
                                        br
                                        br
                                        br
                                        br
                                        br
                        .small-0.large-1.end.columns
                .small-0.large-1.end.columns

            .row
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            foot-area
                .small-0.large-1.end.columns