.module.module--bienen_fuer_das_volk
    .row
        .small-12.columns
            .row
                .small-12.large-10.large-offset-1.columns
                    head-area
                .small-0.large-1.end.columns

            .row.row__after-fixed-header.main-content-area
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            page-headline(data-content="BIENEN FÜR DAS VOLK")

                    .row
                        .small-12.columns
                            img.teaser-image(src="/images/natur.jpg")

                    .row
                        .small-12.large-10.large-offset-1.columns
                            .row
                                .small-12.columns
                                    .copytext.copytext__highlighted Wisst Ihr, was eine Win-win-Situation ist? Bienen in einer Gartenkolonie!

                            .row
                                .small-12.columns
                                    .copytext Es summt in unseren Gärten. Dafür sorgen neben den vielfältigsten Blütenbesuchern auch unsere Honigbienen. Seit anderthalb Jahren beherbergen wir in Bornholm II wieder bis zu fünf Bienenvölker. Sie wohnen in sogenannten Beuten, den Bienenkästen. Besonders bei schönem Wetter kann man die fleißigen Insekten am Flugloch beim stetigen Ein- und Ausfliegen beobachten. 
                            .row
                                .small-12.columns
                                    .copytext Für ein 500-Gramm-Glas Honig müssen die Bienen rund 50.000 mal den Stock verlassen. Doch unsere Bienen liefern nicht nur guten Honig: sie sind eine der tragenden Säulen im Ökosystem. Durch ihre Bestäubung leisten sie enorm viel für die Artenvielfalt – und letztlich auch zur Nahrungssicherheit. Ein einziges Honigbienenvolk mit rund 20.000 Flugbienen kann pro Tag drei Millionen Obstblüten bestäuben, hat der Naturschutzbund (Nabu) berechnet. 
                            .row
                                .small-12.columns
                                    .copytext Durch das Aufstellen von Bienenvölkern lässt sich der Ertrag bei Himbeeren und Erdbeeren um 50 Prozent, bei Birnen um 71 Prozent, bei Pflaumen um 75 und Sauerkirschen um 78 Prozent und bei Äpfeln sogar um 86 Prozent steigern, heißt es. Bienen sichern eine reiche Ernte – und das nicht nur in unseren Gärten. Bienen in Bornholm II: eine echte Win-win-Situation eben.
                                       
                        .small-0.large-1.end.columns
                .small-0.large-1.end.columns

            .row
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            foot-area
                .small-0.large-1.end.columns