.module.module--fruechte-fuer-fluechtlinge
    .row
        .small-0.large-1.columns &nbsp;
        .small-12.large-10.columns
            .row
                .small-12.columns
                    head-area

            .row.row__after-fixed-header
                .small-12.columns
                    page-headline(data-content="BIENEN FÜR DAS VOLK")

            .row
                .small-12.columns
                    img.teaser-image(src="/images/natur.jpg")

            .row
                .small-0.large-1.columns &nbsp;
                .small-12.large-10.columns
                    .row
                        .small-12.columns
                            .copytext.copytext__highlighted Bienen.

                    .row
                        .small-12.columns
                            .copytext Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ.

                    .row
                        .small-12.columns
                            .copytext
                                br
                                br
                                br
                                br
                                br

                .small-0.large-1.columns &nbsp;

            .row
                .small-12.columns
                    foot-area

        .small-0.large-1.columns &nbsp;