.module.module--kontakt
    .row
        .small-12.columns
            .row
                .small-12.large-10.large-offset-1.columns
                    head-area
                .small-0.large-1.end.columns

            .row.row__after-fixed-header.main-content-area
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            page-headline(data-content="PRESSE")
                    .row
                        .small-12.columns
                            img.teaser-image(src="/images/banner/presse.jpg")

                    .row
                        .small-12.large-10.large-offset-1.columns
                            .row
                                .small-12.columns
                                    .copytext.copytext__highlighted Unser kleiner Pressespiegel

                    .row
                         .small-12.large-10.large-offset-1.columns
                            .row
                                .small-12.columns
                                    p.copytext<a href="http://www.prenzlauerberg-nachrichten.de/politik/_/stimmt-es-dass-bornholm-bebaut-wird-172211.html"><strong>20.10.2016 - Prenzlauer Berg Nachrichten</strong><br>Bornholmer Gärten: Stimmt es, dass...</a>
                                    p.copytext<a href="http://www.morgenpost.de/bezirke/pankow/article208170505/Garten-und-Kiezfest-in-der-Kleingartenanlage-Bornholm.html"><strong>02.09.2016 - Berliner Morgenpost</strong><br>Garten- und Kiezfest in der Kleingartenanlage Bornholm</a>
                                    p.copytext<a href="http://www.pankower-allgemeine-zeitung.de/garten-und-kiezfest-120-jahre-bornholmer-gaerten/"><strong>28.08.2016 - Pankower Allgemeine Zeitung</strong><br>Garten- und Kiezfest „120 Jahre Bornholmer Gärten“</a>
                                    p.copytext<a href="http://www.prenzlauerberg-nachrichten.de/alltag/_/gaertnerfreud-und-gaertnerleid-172138.html"><strong>04.07.2016 - Pankower Allgemeine Zeitung</strong><br>Gärtnerfreud und Gärtnerleid</a>
                                    p.copytext<a href="http://www.pankower-allgemeine-zeitung.de/fete-de-la-musique-im-garten/"><strong>20.06.2016 - Pankower Allgemeine Zeitung</strong><br>Fête de la Musique im Garten</a>
                                    p.copytext<a href="http://2016.langertagderstadtnatur.de/angebote/details/2499"><strong>18.06.2016 - Stiftung Naturschutz Berlin: Langer Tag der Stadtnatur</strong><br>Die Gärten an der Mauer - Führung zu Bienen, schwarzer Erde und Geschichte</a>
                                    p.copytext<a href="http://www.pankower-allgemeine-zeitung.de/pfingstfest-in-der-gartenkolonie-bornholm-ii/"><strong>05.05.2016 - Pankower Allgemeine Zeitung</strong><br>Pfingstfest in der Gartenkolonie Bornholm II</a>
                                    p.copytext<a href="http://www.pankower-allgemeine-zeitung.de/bornholm-ii-laedt-ein/"><strong>22.09.2015 - Pankower Allgemeine Zeitung</strong><br>Bornholm II lädt ein!</a>
                                    p.copytext<a href="http://www.pankower-allgemeine-zeitung.de/fruechte-fuer-fluechtlinge-kleingaertner-von-bornholm-ii-spenden-ernte/"><strong>21.09.2015 - Pankower Allgemeine Zeitung</strong><br>Früchte für Flüchtlinge - Kleingärtner von Bornholm II spenden Ernte</a>
                                .small-0.large-1.end.columns
                    

            .row
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            foot-area
                .small-0.large-1.end.columns