.module.module--0709kinderfest
    .row
        .small-12.columns
            .row
                .small-12.large-10.large-offset-1.columns
                    head-area
                .small-0.large-1.end.columns

            .row.row__after-fixed-header.main-content-area
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            page-headline(data-content="ARCHIV: Kinderfest am 09.07.2016")
                    
                    .row
                        .small-12.columns
                            img.teaser-image(src="/images/banner/einlad.jpg")

                    .row
                        .small-12.large-10.large-offset-1.columns
                                 
                            .row
                                .small-12.columns
                                     p.copytext.copytext__centered Liebe Kinder, Eltern und Großeltern, liebe Nachbarn,
                                    p.copytext.copytext__centered <strong> am kommenden Sonnanbend, den 9. Juli,<br>findet in Bornholm II von 15:00 bis 18:00 Uhr<br>das diesjährige Kinderfest statt.</strong>
                                    p.copytext.copytext__centered Yule von <i>Laubrausch - Naturpädagogik</i> wird mit den Kindern auf der Wiese am Vereinshaus jonglieren und Mäuseroulette sowie andere Abenteuerspiele spielen. Wer möchte, kann sich von Katja mit Theaterschminke in eine Prinzessin, einen Panda, Schmetterling oder eine gute Fee verwandeln lassen.
                                    p.copytext.copytext__centered Für Groß und Klein gibt es einen Basar mit Büchern, Blumen, Marmelade und allerhand Sachen, die der Garten gerade bietet. Getränke und einen Imbiss bekommt Ihr im Vereinshaus.
                                    p.copytext.copytext__centered Wir hoffen auf schönes Sommerwetter und freuen uns auf viele Gäste!
                                .small-0.large-1.end.columns

                           

                .small-0.large-1.end.columns

            .row
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            foot-area
                .small-0.large-1.end.columns