.module.module--062117musique
    .row
        .small-12.columns
            .row
                .small-12.large-10.large-offset-1.columns
                    head-area
                .small-0.large-1.end.columns

            .row.row__after-fixed-header.main-content-area
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            page-headline(data-content="ARCHIV: Pflanzentauschbörse am 21.05.2017")
                    
                    .row
                        .small-12.columns
                            img.teaser-image(src="/images/banner/einlad.jpg")

                    .row
                        .small-12.large-10.large-offset-1.columns
                                 
                            .row
                                .small-0.large-1.end.columns.row
                                .small-12.columns
                                    p.copytext.copytext__centered <strong>Pflanzen- und Setzlingstauschbörse am 21. Mai 2017<br>11-13 Uhr auf der Wiese vor dem Vereinsheim</strong>
                                    p.copytext.copytext__centered <strong>Blumen, Gemüsepflanzen, Staudenableger - Tauschen, abgeben, mitnehmen! Damit unsere Gärten und Balkone noch schöner und vielfältiger werden...</strong>
                                    p.copytext.copytext__centered Liebe Gartenfreundinnen und Gartenfreunde<br>liebe Anwohnerinnen und Anwohner,
                                    p.copytext.copytext__centered wer einen Überschuss an tomaten, Gurken oder allen möglichen anderen Gemüse-Setzlingen und Kräutern auf der Fensterbank herangezogen hat oder Ableger von Stauden etc. in gute Hände abgeben will und dafür gern andere Setzlinge eintauschen möchte, bringt seine Pflänzchen in kleinen Töpfen o.ä. mit.
                                    p.copytext.copytext__centered Es darf getauscht und verschenkt werden - KEIN Verkauf!
                                .small-0.large-1.end.columns

                        .row
                                .small-12.columns
                                    ng-gallery.imagegallery(images="[{thumb: '/images/galerie/thumbs/tausch1_thumb.jpg', img: '/images/galerie/tausch1.jpg', description: 'tausch 1'},{thumb: '/images/galerie/thumbs/tausch2_thumb.jpg', img: '/images/galerie/tausch2.jpg', description: 'tausch2'},{thumb: '/images/galerie/thumbs/tausch3_thumb.jpg', img: '/images/galerie/tausch3.jpg', description: 'tausch3'}]" thumbs-num="3")

            .row
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            foot-area
                .small-0.large-1.end.columns