.menu
    .menu--burger(title="Hauptmen체" ng-click="toggleMenu()")
        .menu--burger-line
        .menu--burger-line
        .menu--burger-line
    .menu--content-wrapper
        .menu--content.menu--content__primary
            a.menu--anchor(href="/#neuigkeiten") Neuigkeiten
            a.menu--anchor(href="/#/bornholm-zwei-laedt-ein") Bornholm zwei l채dt ein
            a.menu--anchor(href="/#/unsere-natur") Unsere Natur
            a.menu--anchor(href="/#/geschichte-und-geschichten") Geschichte und Geschichten
            a.menu--anchor(href="/#/bienen-fuer-das-volk") Bienen f체r das Volk
        .menu--content.menu--content__secondary
            a.menu--anchor(href="/#/archiv") Archiv
            a.menu--anchor(href="/#/galerie") Galerie
            a.menu--anchor(href="/#/termine") Termine
            a.menu--anchor(href="/#/presse") Presse
            a.menu--anchor(href="/#/lageplan") Lageplan
            a.menu--anchor(href="/#/satzung") Satzung
            a.menu--anchor(href="/#/impressum") Impressum
            a.menu--anchor(href="/#datenschutz") Datenschutzerkl채rung