.module.module--unsere_natur
    .row
        .small-12.columns
            .row
                .small-12.large-10.large-offset-1.columns
                    head-area
                .small-0.large-1.end.columns

            .row.row__after-fixed-header.main-content-area
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            page-headline(data-content="UNSERE NATUR")

                    .row
                        .small-12.columns
                            img.teaser-image(src="/images/natur.jpg")

                    .row
                        .small-12.large-10.large-offset-1.columns
                            .row
                                .small-12.columns
                                    .copytext.copytext__highlighted Natur bezeichnet in der Regel das, was nicht vom Menschen geschaffen wurde. Der Begriff wird jedoch unterschiedlich und bisweilen in sich widersprechenden Bedeutungen verwendet, weshalb es öfter strittig ist, was zur Natur gehört und was nicht.

                            .row
                                .small-12.columns
                                    .copytext Ob der Mensch selbst zur Natur gehört oder nicht, ist bereits nicht mehr gesellschaftlicher Konsens. Im ersten Fall spricht man auch von außermenschlicher Natur, um auszudrücken, dass Menschen ansonsten Teil der Natur sind, wobei sich der Naturbegriff damit dem Begriff Umwelt annähert.

                            .row
                                .small-12.columns
                                    .copytext Und wenn ich Lust habe, ganz oft "Summ summ" zu schreiben, dann mache ich das.
                                    .copytext Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ.
                        .small-0.large-1.end.columns
                .small-0.large-1.end.columns

            .row
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            foot-area
                .small-0.large-1.end.columns