.module.module--unsere-natur
    .row
        .small-12.columns
            .row
                .small-12.large-10.large-offset-1.columns
                    head-area
                .small-0.large-1.end.columns

            .row.row__after-fixed-header.main-content-area
                .small-12.large-10.large-offset-1.columns
                    .image-text-blocks
                        .row
                            .small-12.columns
                                page-headline(data-content="UNSERE NATUR")

                        .row
                            .small-12.medium-6.columns
                                .image-text-blocks--title Artenschutz
                                .copytext Grünstreifen zwischen Autobahnen oder Industriebrachen sind neben den bekannten Naturschutzgebieten Orte, an denen die Natur sich (wieder) frei entfalten kann. Hier können sich seltene Tier- und Pflanzenarten ungestört ansiedeln. Auch wir Gärtner von Bornholm II haben einen solchen Ort in unmittelbarer Nähe: den ehemaligen Mauerstreifen. Unsere Gärten bieten der bedrohten Flora und Fauna zusätzliches gemütliches Obdach. Fledermäuse, unzählige Insektenarten, kostbare Wildkräuter sowie alte oder seltene Obst-und Gemüsesorten und vieles, vieles mehr kann man bei uns finden.
                            .small-12.medium-6.columns
                                img(src="/images/fuchs_thumb.jpg" alt="")

                        .row.hidden-for-small-only
                            .small-12.medium-6.columns
                                img(src="/images/vogel_thumb.jpg" alt="")
                            .small-12.medium-6.columns
                                .image-text-blocks--title.image-text-blocks--title__right Stadtklima
                                .copytext Krähen und Raben scheinen Ähnlichkeiten zu besitzen, die allerdings Vogelkundige energisch bestreiten. Sie mögen ja auch nur geringfügig äußerlich sein. Dem Raben sagt man Weisheit nach, insbesondere den alten (Raben sind immer alt). Er ist auch immer männlichen Geschlechts, dennoch gibt es wohl auch Eier legende Raben, die offensichtlich weiblicher Natur sein dürften. Sie spielen aber keine Rolle. Die Krähen sind meistens weder jung noch schön, eher immer alt, dürr also hässlich. Auch ist von klugen Krähen landläufig kaum die Rede, mehr von rätselhaften unleserlichen, unschönen Schriften, an Krähenfüße erinnernd oder unbeliebte Fältchen um menschliche Augen.
                        .row.hidden-for-medium-up
                            .small-12.medium-6.columns
                                .image-text-blocks--title.image-text-blocks--title__right Stadtklima
                                .copytext Krähen und Raben scheinen Ähnlichkeiten zu besitzen, die allerdings Vogelkundige energisch bestreiten. Sie mögen ja auch nur geringfügig äußerlich sein. Dem Raben sagt man Weisheit nach, insbesondere den alten (Raben sind immer alt). Er ist auch immer männlichen Geschlechts, dennoch gibt es wohl auch Eier legende Raben, die offensichtlich weiblicher Natur sein dürften. Sie spielen aber keine Rolle. Die Krähen sind meistens weder jung noch schön, eher immer alt, dürr also hässlich. Auch ist von klugen Krähen landläufig kaum die Rede, mehr von rätselhaften unleserlichen, unschönen Schriften, an Krähenfüße erinnernd oder unbeliebte Fältchen um menschliche Augen.
                            .small-12.medium-6.columns
                                img(src="/images/vogel_thumb.jpg" alt="")

                        .row
                            .small-12.medium-6.columns
                                .image-text-blocks--title Naherholung
                                p.copytext Nicht zuletzt ist unsere Anlage ein Naherholungsgebiet für die umliegenden Kieze, das diesen Namen wirklich verdient. Ein wunderschöner Spazierweg, der dem Auge zu jeder Jahreszeit mehr bietet als öffentliche Grünanlagen, vom Frühjahr bis zum Herbst voll bunter Blumen und Früchte und freundlicher Gärtner, die gern auch mal zum Plausch bereit sind. Gerade auch für Kindergärten, Schulen und ältere oder in ihrer Mobilität eingeschränkte Menschen aus der nahen Umgebung ist es ein sehr kurzer Weg zu uns, um unmiYelbare Erfahrung mit echter Natur zu machen, auch ohne stundenlang mit der BVG ins Umland reisen zu müssen. Schöne Feste, Basare, Tage des offenen Gartens, gemeinsame ErnteakGonen und Führungen, die alle auch für die Öffentlichkeit zugänglich sind, finden bereits jetzt regelmäßig statt und sollen in Zukunft noch ausgeweitet werden.
                                p.copytext Informationen dazu sind hier auf der Homepage zu finden.
                            .small-12.medium-6.columns
                                img(src="/images/hund_thumb.jpg" alt="")
                .small-0.large-1.end.columns

            .row
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            foot-area
                .small-0.large-1.end.columns