.module.module--fruechte-fuer-fluechtlinge
    .row
        .small-0.large-1.columns &nbsp;
        .small-12.large-10.columns
            head-area

            .content-area__after-fixed-header
                page-headline(data-content="UNSERE NATUR")

                img.teaser-image(src="/images/natur.jpg")

                .row
                    .small-0.large-1.columns &nbsp;
                    .small-12.large-10.columns
                        .copytext.copytext__highlighted.copytext__centered Natur bezeichnet in der Regel das, was nicht vom Menschen geschaffen wurde. Der Begriff wird jedoch unterschiedlich und bisweilen in sich widersprechenden Bedeutungen verwendet, weshalb es öfter strittig ist, was zur Natur gehört und was nicht.
                        .copytext.copytext__centered Ob der Mensch selbst zur Natur gehört oder nicht, ist bereits nicht mehr gesellschaftlicher Konsens. Im ersten Fall spricht man auch von außermenschlicher Natur, um auszudrücken, dass Menschen ansonsten Teil der Natur sind, wobei sich der Naturbegriff damit dem Begriff Umwelt annähert.
                        .copytext.copytext__centered
                            | Und wenn ich Lust habe, ganz oft "Summ summ" zu schreiben, dann mache ich das.
                            br
                            | Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ. Summ summ.
                    .small-0.large-1.columns &nbsp;

            foot-area
        .small-0.large-1.columns &nbsp;