.module.module--unsere-natur
    .row
        .small-12.columns
            .row
                .small-12.large-10.large-offset-1.columns
                    head-area
                .small-0.large-1.end.columns

            .row.row__after-fixed-header.main-content-area
                .small-12.large-10.large-offset-1.columns
                    .image-text-blocks
                        .row
                            .small-12.columns
                                page-headline(data-content="UNSERE NATUR")

                        .row
                            .small-12.columns
                                .copytext.copytext__highlighted Natur ist, was ohne Menschen gewachsen ist. Aber auch unsere Gärten sind Natur. Unsere Aufgabe ist es, sie zu pflegen, ernst zu nehmen und Begegnungen mit ihr zu ermöglichen.
                  
                         .row
                            .small-12.medium-6.columns
                                .image-text-blocks--title Artenschutz
                                .copytext Unsere Gärten sind menschengemacht. Aber sie sind nicht nur idyllische Rückzugsorte für uns, sondern auch wichtige Lebensräume für viele Wildtiere und Wildpflanzen, darunter auch eine große Zahl, die hier ihre Hauptverbreitungsgebiete haben. Vögel, Fledermäuse, unzählige Insektenarten, kostbare Wildkräuter sowie alte oder seltene Obst-und Gemüsesorten und vieles, vieles mehr kann man bei uns finden.<br>&nbsp;&nbsp;&nbsp;Auch die Grünstreifen zwischen Straßen und Autobahnen oder Industriebrachen sind neben den bekannten Naturschutzgebieten Orte, an denen die Natur sich (wieder) frei entfalten kann. Hier können sich seltene Tier-und Pflanzenarten ungestört ansiedeln. Auch wir Gärtner von Bornholm II haben einen solchen Ort in unmittelbarer Nähe: den ehemaligen Mauerstreifen.Der ehemalige Mauerstreifen und unsere Gärten bilden eine einzigartige grüne Oase mitten in Berlin – ein echtes Stück Stadtnatur.
                            .small-12.medium-6.columns
                                img(src="/images/natur/fuchs_thumb.jpg" alt="")

                        .row.hidden-for-small-only
                            .small-12.medium-6.columns
                                img(src="/images/natur/vogel_thumb.jpg" alt="")
                            .small-12.medium-6.columns
                                .image-text-blocks--title.image-text-blocks--title__right Stadtklima
                                .copytext Unsere Gärten sind die „grüne Lunge“ zwischen Prenzlauer Berg und Pankow. Sie leisten einen wichtigen Beitrag zur Verbesserung des Stadtklimas. Vom Norden Berlins her zieht sich ein grünes Band bis in die Innenstadt: unsere Gärten, der ehemalige Mauerstreifen und der Mauerpark sind dabei besonders prägend. Stadtgärten enthalten einer Studie zufolge rund ein Viertel aller nicht in Wälder und Forsten wachsenden Bäume und machen bis zu 86 Prozent des gesamten städtischen Baumbestandes aus. Dies sorgt für ein messbar kühleres, gesünderes Stadtklima in der Betonwüste Berlins, von dem alle profitieren.
                        .row.hidden-for-medium-up
                            .small-12.medium-6.columns
                                .image-text-blocks--title.image-text-blocks--title__right Stadtklima
                                .copytextUnsere Unsere Gärten sind die „grüne Lunge“ zwischen Prenzlauer Berg und Pankow. Sie leisten einen wichtigen Beitrag zur Verbesserung des Stadtklimas. Vom Norden Berlins her zieht sich ein grünes Band bis in die Innenstadt: unsere Gärten, der ehemalige Mauerstreifen und der Mauerpark sind dabei besonders prägend. Stadtgärten enthalten einer Studie zufolge rund ein Viertel aller nicht in Wälder und Forsten wachsenden Bäume und machen bis zu 86 Prozent des gesamten städtischen Baumbestandes aus. Dies sorgt für ein messbar kühleres, gesünderes Stadtklima in der Betonwüste Berlins, von dem alle profitieren.
                            .small-12.medium-6.columns
                                img(src="/images/natur/vogel_thumb.jpg" alt="")

                        .row
                            .small-12.medium-6.columns
                                .image-text-blocks--title Naherholung
                                p.copytext Unsere Anlage ist ein Naherholungsgebiet für die umliegenden Kieze, das diesen Namen wirklich verdient. Ein wunderschöner Spazierweg, der dem Auge zu jeder Jahreszeit mehr bietet als öffentliche Grünanlagen, vom Frühjahr bis zum Herbst voll bunter Blumen und Früchte und freundlicher Gärtner, die gern auch mal zum Plausch bereit sind. Gerade auch für Kindergarten- und Schülergruppen, sowie ältere oder in ihrer Mobilität eingeschränkte Menschen aus der nahen Umgebung ist es ein sehr kurzer Weg zu uns, um unmittelbare Erfahrungen in der Natur zu machen. Städtische Naturräume sind wichtig für das menschliche Wohlbefinden, denn ohne Natur kann Mensch nicht sein. Fehlt die Natur in unseren Siedlungen, sind oftmals Depressionen und neurotische Störungen die Folge. Das sollten auch Stadt- und Landschaftsplaner stets bedenken.
                                p.copytext Nicht zuletzt sind unsere Gärten Orte der Muße und Gemeinschaft. Schöne Feste, Basare, Tage des offenen Gartens, gemeinsame Ernteaktionen und Führungen, die alle auch für die Öffentlichkeit zugänglich sind, finden bereits jetzt regelmäßig statt und sollen in Zukunft noch ausgeweitet werden. Informationen dazu sind hier auf der Homepage zu finden. 
                            .small-12.medium-6.columns
                                img(src="/images/natur/hund_thumb.jpg" alt="")
                .small-0.large-1.end.columns

            .row
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            foot-area
                .small-0.large-1.end.columns