.module.module--unsere-natur
    .row
        .small-12.columns
            .row
                .small-12.large-10.large-offset-1.columns
                    head-area
                .small-0.large-1.end.columns

            .row.row__after-fixed-header.main-content-area
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            page-headline(data-content="UNSERE NATUR")

                    .row
                        .small-12.medium-6.columns
                            .block-header Fuchs
                            .copytext Der Fuchs teilte also die Wurst, aber die Teile waren sehr ungleich. Wolf und Hund versuchten beide, das größere Stück zu packen, und der Streit drohte erneut zu entbrennen. Aber der Fuchs wußte Rat: Angeblich um der Gerechtigkeit willen biß er ein Stück vom größeren Teil. Doch wiederum blieb sein Bemühen, wie beabsichtigt, ohne Erfolg. Jetzt war das andere Ende der Wurst das größere. Auf diese Weise verfuhr der Fuchs mehrmals, und die beiden Vettern versuchten jedes Mal, sich des größeren Stücks zu bemächtigen.
                        .small-12.medium-6.columns
                            img(src="/images/fuchs_thumb.jpg" alt="")

                    .row.hidden-for-small-only
                        .small-12.medium-6.columns
                            img(src="/images/vogel_thumb.jpg" alt="")
                        .small-12.medium-6.columns
                            .block-header.block-header__right Krähen und Raben
                            .copytext Krähen und Raben scheinen Ähnlichkeiten zu besitzen, die allerdings Vogelkundige energisch bestreiten. Sie mögen ja auch nur geringfügig äußerlich sein. Dem Raben sagt man Weisheit nach, insbesondere den alten (Raben sind immer alt). Er ist auch immer männlichen Geschlechts, dennoch gibt es wohl auch Eier legende Raben, die offensichtlich weiblicher Natur sein dürften. Sie spielen aber keine Rolle. Die Krähen sind meistens weder jung noch schön, eher immer alt, dürr also hässlich. Auch ist von klugen Krähen landläufig kaum die Rede, mehr von rätselhaften unleserlichen, unschönen Schriften, an Krähenfüße erinnernd oder unbeliebte Fältchen um menschliche Augen.

                    .row.hidden-for-medium-up
                        .small-12.medium-6.columns
                            .block-header.block-header__right Krähen und Raben
                            .copytext Krähen und Raben scheinen Ähnlichkeiten zu besitzen, die allerdings Vogelkundige energisch bestreiten. Sie mögen ja auch nur geringfügig äußerlich sein. Dem Raben sagt man Weisheit nach, insbesondere den alten (Raben sind immer alt). Er ist auch immer männlichen Geschlechts, dennoch gibt es wohl auch Eier legende Raben, die offensichtlich weiblicher Natur sein dürften. Sie spielen aber keine Rolle. Die Krähen sind meistens weder jung noch schön, eher immer alt, dürr also hässlich. Auch ist von klugen Krähen landläufig kaum die Rede, mehr von rätselhaften unleserlichen, unschönen Schriften, an Krähenfüße erinnernd oder unbeliebte Fältchen um menschliche Augen.
                        .small-12.medium-6.columns
                            img(src="/images/vogel_thumb.jpg" alt="")

                    .row
                        .small-12.medium-6.columns
                            .block-header Schaf
                            .copytext Als Schaf hat man ein nicht so spannendes Leben. Man grast, man trinkt und ab und an wird man geschoren. Oder schon vorher als Lamm gebraten! Viel besser lebt es sich doch als Hund. Insofern hat ein Schaf aus jetzt die ganz richtige Entscheidung getroffen: Es hält sich offenbar auch selbst für einen Hund. Mit allem, was dazugehört.
                        .small-12.medium-6.columns
                            img(src="/images/hund_thumb.jpg" alt="")
                .small-0.large-1.end.columns

            .row
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            foot-area
                .small-0.large-1.end.columns