.module.module--galerie
    .row
        .small-12.columns
            .row
                .small-12.large-10.large-offset-1.columns
                    head-area
                .small-0.large-1.end.columns

            .row.row__after-fixed-header.main-content-area
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            page-headline(data-content="VIDEOS")

                    .row
                        .small-12.columns
                            #videogallery.videogallery--list
                                span.videogallery--item
                                    img.videogallery--thumbnail(src="https://i.ytimg.com/vi/USb1xFguebE/hqdefault.jpg" alt="" data-reveal-id="video1")

                                #video1.reveal-modal.large(data-reveal aria-hidden="true" role="dialog")
                                    .flex-video.widescreen.youtube
                                        iframe(width="1280" height="720" src="//www.youtube-nocookie.com/embed/USb1xFguebE" frameborder="0" allowfullscreen)
                                    a.close-reveal-modal(aria-label="Close") &#215;

                                span.videogallery--item
                                    img.videogallery--thumbnail(src="https://i.ytimg.com/vi/VzK4LxFQxE4/hqdefault.jpg" alt="" data-reveal-id="video2")

                                #video2.reveal-modal.large(data-reveal aria-hidden="true" role="dialog")
                                    .flex-video.widescreen.youtube
                                        iframe(width="1280" height="720" src="//www.youtube-nocookie.com/embed/VzK4LxFQxE4" frameborder="0" allowfullscreen)
                                    a.close-reveal-modal(aria-label="Close") &#215;

                            script(type="text/javascript")
                                | jQuery('#videogallery').foundation();

                    .row
                        .small-12.columns
                            page-headline.modifier--double-margin-top(data-content="BILDER")

                    .row
                        .small-12.columns
                            ng-gallery.imagegallery(images="[{thumb: '/images/galerie/thumbs/1_thumb.jpg', img: '/images/galerie/1.jpg', description: 'Bild 1'},{thumb: '/images/galerie/thumbs/2_thumb.jpg', img: '/images/galerie/2.jpg', description: 'Bild 2'},{thumb: '/images/galerie/thumbs/3_thumb.jpg', img: '/images/galerie/3.jpg', description: 'Bild 3'},{thumb: '/images/galerie/thumbs/4_thumb.jpg', img: '/images/galerie/4.jpg', description: 'Bild 4'},{thumb: '/images/galerie/thumbs/5_thumb.jpg', img: '/images/galerie/5.jpg', description: 'Bild 5'},{thumb: '/images/galerie/thumbs/6_thumb.jpg', img: '/images/galerie/6.jpg', description: 'Bild 6'},{thumb: '/images/galerie/thumbs/7_thumb.jpg', img: '/images/galerie/7.jpg', description: 'Bild 7'},{thumb: '/images/galerie/thumbs/8_thumb.jpg', img: '/images/galerie/8.jpg', description: 'Bild 8'},{thumb: '/images/galerie/thumbs/9_thumb.jpg', img: '/images/galerie/9.jpg', description: 'Bild 9'},{thumb: '/images/galerie/thumbs/10_thumb.jpg', img: '/images/galerie/10.jpg', description: 'Bild 10'},{thumb: '/images/galerie/thumbs/11_thumb.jpg', img: '/images/galerie/11.jpg', description: 'Bild 11'},{thumb: '/images/galerie/thumbs/14_thumb.jpg', img: '/images/galerie/14.jpg', description: 'Bild 14'},{thumb: '/images/galerie/thumbs/13_thumb.jpg', img: '/images/galerie/13.jpg', description: 'Bild 13'},{thumb: '/images/galerie/thumbs/12_thumb.jpg', img: '/images/galerie/12.jpg', description: 'Bild 12'},{thumb: '/images/galerie/thumbs/15_thumb.jpg', img: '/images/galerie/15.jpg', description: 'Bild 15'},{thumb: '/images/galerie/thumbs/16_thumb.jpg', img: '/images/galerie/16.jpg', description: 'Bild 16'},{thumb: '/images/galerie/thumbs/17_thumb.jpg', img: '/images/galerie/17.jpg', description: 'Bild 17'},{thumb: '/images/galerie/thumbs/18_thumb.jpg', img: '/images/galerie/18.jpg', description: 'Bild 18'},{thumb: '/images/galerie/thumbs/19_thumb.jpg', img: '/images/galerie/19.jpg', description: 'Bild 19'},{thumb: '/images/galerie/thumbs/20_thumb.jpg', img: '/images/galerie/20.jpg', description: 'Bild 20'},{thumb: '/images/galerie/thumbs/21_thumb.jpg', img: '/images/galerie/21.jpg', description: 'Bild 21'},{thumb: '/images/galerie/thumbs/22_thumb.jpg', img: '/images/galerie/22.jpg', description: 'Bild 22'},{thumb: '/images/galerie/thumbs/23_thumb.jpg', img: '/images/galerie/23.jpg', description: 'Bild 23'},{thumb: '/images/galerie/thumbs/24_thumb.jpg', img: '/images/galerie/24.jpg', description: 'Bild 24'}]" thumbs-num="24")
                .small-0.large-1.end.columns

            .row
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            foot-area
                .small-0.large-1.end.columns