.module.module--galerie
    .row
        .small-0.large-1.columns &nbsp;
        .small-12.large-10.columns
            .row
                .small-12.columns
                    head-area

            .row.row__after-fixed-header
                .small-12.columns
                    page-headline(data-content="BILDER")

            .row
                .small-12.columns
                    ng-gallery.imagegallery(images="[{thumb: '/images/slider/thumbs/IMG_1948.jpg', img: '/images/slider/IMG_1948.jpg', description: 'Bild 1'},{thumb: '/images/slider/thumbs/IMG_4578.jpg', img: '/images/slider/IMG_4578.jpg', description: 'Bild 2'},{thumb: '/images/slider/thumbs/IMG_9129.jpg', img: '/images/slider/IMG_9129.jpg', description: 'Bild 3'},{thumb: '/images/slider/thumbs/IMG_9139.jpg', img: '/images/slider/IMG_9139.jpg', description: 'Bild 4'},{thumb: '/images/slider/thumbs/IMG_9146.jpg', img: '/images/slider/IMG_9146.jpg', description: 'Bild 5'},{thumb: '/images/slider/thumbs/IMG_9195.jpg', img: '/images/slider/IMG_9195.jpg', description: 'Bild 6'},{thumb: '/images/slider/thumbs/IMG_9198.jpg', img: '/images/slider/IMG_9198.jpg', description: 'Bild 7'},{thumb: '/images/slider/thumbs/IMG_9204.jpg', img: '/images/slider/IMG_9204.jpg', description: 'Bild 8'},{thumb: '/images/slider/thumbs/IMG_9195.jpg', img: '/images/slider/IMG_9195.jpg', description: 'Bild 9'},{thumb: '/images/slider/thumbs/IMG_9198.jpg', img: '/images/slider/IMG_9198.jpg', description: 'Bild 10'},{thumb: '/images/slider/thumbs/IMG_9204.jpg', img: '/images/slider/IMG_9204.jpg', description: 'Bild 11'}]" thumbs-num="11")

            .row
                .small-12.columns
                    foot-area
        .small-0.large-1.columns &nbsp;