.module.module--kampagne
  .row
    .small-12.columns
      .row
        .small-12.large-10.large-offset-1.columns
          head-area
        .small-0.large-1.end.columns

      .row.row__after-fixed-header.main-content-area
        .small-12.large-10.large-offset-1.columns
          .row
            .small-12.columns
              img.teaser-image(src="/images/banner/balken_kiez.jpg")

          .row
            .small-12.columns
              imagecarousel2

          .image-text-blocks
            .row
              .small-12.medium-6.columns
                ng-gallery.imageExpand(images="[{thumb: '/images/kampagne/thumbs/1-Biotopm_thumb.png', img: '/images/kampagne/1-Biotopm.png', description: 'Biotopmanager'}]" thumbs-num="0")

              .small-12.medium-6.columns
                .copytext
                  strong
                    a(href="https://www.shirtinator.de/kampagnen/biotopmanager_f" target="_blank") T-Shirts für Frauen

            .row
              .small-12.medium-6.columns
                ng-gallery.imageExpand(images="[{thumb: '/images/kampagne/thumbs/2-Revoluft_thumb.png', img: '/images/kampagne/2-Revoluft.png', description: 'Revoluftionaere'}]" thumbs-num="0")

              .small-12.medium-6.columns
                .copytext
                  strong
                    a(href="https://www.shirtinator.de/kampagnen/revoluftionare_k/" target="_blank") T-Shirts für Kinder

            .row
              .small-12.medium-6.columns
                ng-gallery.imageExpand(images="[{thumb: '/images/kampagne/thumbs/3-Unsruhe_thumb.png', img: '/images/kampagne/3-Unsruhe.png', description: 'Unsruhestifter'}]" thumbs-num="0")

              .small-12.medium-6.columns
                .copytext
                  strong
                    a(href="https://www.shirtinator.de/kampagnen/unsruhestifter_k" target="_blank") T-Shirts für Kinder

            .row
              .small-12.medium-6.columns
                ng-gallery.imageExpand(images="[{thumb: '/images/kampagne/thumbs/4-Raumteiler_thumb.png', img: '/images/kampagne/4-Raumteiler.png', description: 'Raumteiler'}]" thumbs-num="0")

            .row
              .small-12.medium-6.columns
                ng-gallery.imageExpand(images="[{thumb: '/images/kampagne/thumbs/5-Luftpumpen_thumb.png', img: '/images/kampagne/5-Luftpumpen.png', description: '5-Luftpumpen'}]" thumbs-num="0")

              .small-12.medium-6.columns
                .copytext
                  strong
                    a(href="https://www.shirtinator.de/kampagnen/luftpumpen_m/" target="_blank") T-Shirts für Männer

            .row
              .small-12.medium-6.columns
                ng-gallery.imageExpand(images="[{thumb: '/images/kampagne/thumbs/6-Duftspender_thumb.png', img: '/images/kampagne/6-Duftspender.png', description: 'Duftspender'}]" thumbs-num="0")

              .small-12.medium-6.columns
                .copytext
                  strong
                    a(href="https://www.shirtinator.de/kampagnen/duftspender_f/" target="_blank") T-Shirts für Frauen

            .row
              .small-12.medium-6.columns
                ng-gallery.imageExpand(images="[{thumb: '/images/kampagne/thumbs/7-Faunanziers_thumb.png', img: '/images/kampagne/7-Faunanziers.png', description: 'Faunanziers'}]" thumbs-num="0")

              .small-12.medium-6.columns
                .copytext
                  strong
                    a(href="https://www.shirtinator.de/kampagnen/faunanziers_f" target="_blank") T-Shirts für Frauen
                    br
                    a(href="https://www.shirtinator.de/kampagnen/faunanziers_m/" target="_blank") T-Shirts für Männer

            .row
              .small-12.medium-6.columns
                ng-gallery.imageExpand(images="[{thumb: '/images/kampagne/thumbs/8-Sauerstoff_thumb.png', img: '/images/kampagne/8-Sauerstoff.png', description: 'Sauerstoffiziere'}]" thumbs-num="0")

              .small-12.medium-6.columns
                .copytext
                  strong
                    a(href="https://www.shirtinator.de/kampagnen/sauerstoffiziere_m/" target="_blank") T-Shirts für Männer

            .row
              .small-12.medium-6.columns
                ng-gallery.imageExpand(images="[{thumb: '/images/kampagne/thumbs/9-Gruenanlage_thumb.png', img: '/images/kampagne/9-Gruenanlage.png', description: 'Gruenanlageberater'}]" thumbs-num="0")

            .row
              .small-12.medium-6.columns
                ng-gallery.imageExpand(images="[{thumb: '/images/kampagne/thumbs/10-Voelkerwirte_thumb.png', img: '/images/kampagne/10-Voelkerwirte.png', description: 'Voelkerwirte'}]" thumbs-num="0")

              .small-12.medium-6.columns
                .copytext
                  strong
                    a(href="https://www.shirtinator.de/kampagnen/voelkerwirte_f" target="_blank") T-Shirts für Frauen
                    br
                    a(href="https://www.shirtinator.de/kampagnen/voelkerwirte_m" target="_blank") T-Shirts für Männer

            .small-12.columns
              p.copytext.copytext__centered
              br
              p.copytext.copytext__centered
              br
              p.copytext.copytext__centered
              br
              ng-gallery#campaignGallery.imagegallery(images="[{thumb: '/images/kampagne/thumbs/K1_thumb.jpg', img: '/images/kampagne/K1.JPG', description: 'Kampagne1'},{thumb: '/images/kampagne/thumbs/K2_thumb.JPG', img: '/images/kampagne/K2.JPG', description: 'Kampagne2'},{thumb: '/images/kampagne/thumbs/K3_thumb.jpg', img: '/images/kampagne/K3.JPG', description: 'Kampagne3'},{thumb: '/images/kampagne/thumbs/K4_thumb.jpg', img: '/images/kampagne/K4.JPG', description: 'Kampagne4'},{thumb: '/images/kampagne/thumbs/K5_thumb.jpg', img: '/images/kampagne/K5.JPG', description: 'Kampagne5'},{thumb: '/images/kampagne/thumbs/K6_thumb.jpg', img: '/images/kampagne/K6.JPG', description: 'Kampagne6'},{thumb: '/images/kampagne/thumbs/K7_thumb.jpg', img: '/images/kampagne/K7.JPG', description: 'Kampagne7'},{thumb: '/images/kampagne/thumbs/K8_thumb.jpg', img: '/images/kampagne/K8.JPG', description: 'Kampagne8'}]" thumbs-num="8")
              .small-0.large-1.end.columns

        .small-0.large-1.end.columns

      .row
        .small-12.large-10.large-offset-1.columns
          .row
            .small-12.columns
              foot-area

        .small-0.large-1.end.columns
