.teaserPanel.teaserPanel__3(
  ng-controller="Panel3Ctrl as Panel3Vm"
  ng-mousemove="Panel3Vm.handleMouseMove()"
  ng-class="{'showControls': Panel3Vm.controlsVisible}"
)
  img.panelContentImage(src="/images/panels/3.png")

  .panelBottom
    a.goHome(href="/#/home")
      img(src="/images/panels/bottom.png")

  a.goNext(href="/#/4") &gt;

  a.goPrev(href="/#/2") &lt;

  .goAway
    a(href="/#/home") zur Homepage
