.teaserPanel.teaserPanel__3
  img.panelContentImage(src="/images/panels/3.png")

  .panelBottom
    a.goHome(href="/#/home")
      img(src="/images/panels/bottom.png")

  a.goNext(href="/#/panel4") &gt;

  a.goPrev(href="/#/panel2") &lt;

  a.goAway(href="/#/home") &times;
