.module.module--0618rundgang
    .row
        .small-12.columns
            .row
                .small-12.large-10.large-offset-1.columns
                    head-area
                .small-0.large-1.end.columns

            .row.row__after-fixed-header.main-content-area
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            page-headline(data-content="ARCHIV: Führung am 04.06.2016")
                    
                    .row
                        .small-12.columns
                            img.teaser-image(src="/images/banner/einlad.jpg")

                    .row
                        .small-12.large-10.large-offset-1.columns
                                 
                            .row
                                .small-12.columns
                                    p.copytext.copytext__centered Liebe Gartenfreunde, liebe Anwohner,
                                    .copytext.copytext__centered wir machen mit beim
                                    .copytext.copytext__centered <strong>"Langen Tag der Stadtnatur"</strong>
                                    p.copytext.copytext__centered am <strong>Samstag, 18.Juni</strong>
                                    .copytext.copytext__centered Der <strong>Rundgang "Die Gärten an der Mauer"</strong> führt zu unseren Bienen und in einige Gärten. 
                                    p.copytext.copytext__centered Es gibt viel zu erfahren über ökologischen Anbau von Obst, Gemüse und Blumen, über “terra preta” und über die Zeit der Berliner Mauer, wie sie die Gärtner erlebten.
                                    p.copytext.copytext__centered Die Führung mit Ina Rathfelder und Gundi Freitag startet um <strong>16 Uhr am Vereinshaus</strong> und geht bis 17.30 Uhr. Wir freuen uns, dass der Rundgang von Stephan Lenz, Mitglied des Berliner Abgeordnetenhauses (CDU), begleitet wird. 
                                    p.copytext.copytext__centered <strong><a href="http://2016.langertagderstadtnatur.de/angebote/details/2499">Nähere Informationen</a></strong> zu dieser und anderen Veranstaltungen sowie zu den Tickets (z.B. Einzelveranstaltungsticket 4€, 26-Stunden-Ticket für alle Veranstaltungen 7€) gibt es <strong><a href="http://2016.langertagderstadtnatur.de/angebote/details/2499">hier.</a></strong>
                                    p.copytext.copytext__centered Die Gärtner von nebenan.
                                    
                                .small-0.large-1.end.columns
                .small-0.large-1.end.columns

            .row
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            foot-area
                .small-0.large-1.end.columns