.teaserPanel.teaserPanel__6
  img.panelContentImage(src="/images/panels/6.png")

  .panelBottom
    a.goHome(href="/#/home")
      img(src="/images/panels/bottom.png")

  a.goNext(href="/#/panel7") &gt;

  a.goPrev(href="/#/panel5") &lt;

  a.goAway(href="/#/home") &times;
