.teaserPanel.teaserPanel__6(
  ng-controller="Panel6Ctrl as Panel6Vm"
  ng-mousemove="Panel6Vm.handleMouseMove()"
  ng-class="{'showControls': Panel6Vm.controlsVisible}"
)
  img.panelContentImage(src="/images/panels/6.png")

  .panelBottom
    a.goHome(href="/#/home")
      img(src="/images/panels/bottom.png")

  a.goNext(href="/#/panel7") &gt;

  a.goPrev(href="/#/panel5") &lt;

  a.goAway(href="/#/home") &times;
