.module.module--0308frauentag
    .row
        .small-12.columns
            .row
                .small-12.large-10.large-offset-1.columns
                    head-area
                .small-0.large-1.end.columns

            .row.row__after-fixed-header.main-content-area
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            page-headline(data-content="ARCHIV: Frauentagsfeier am 08.03.2017")
                    
                    .row
                        .small-12.columns
                            img.teaser-image(src="/images/banner/einlad.jpg")

                    .row
                        .small-12.large-10.large-offset-1.columns
                                 
                            .row
                                .small-12.columns
                                    p.copytext.copytext__centered <strong>Liebe Gärtnerinnen, aber auch: liebe Gärtner, liebe Nachbarn und Kiezbewohner,</strong>
                                    p.copytext.copytext__centered es wird endlich Frühling, Schneeglöckchen und Märzenbecher sprießen in unseren Gärten und in Bornholm II beginnt die Saison. 
                                    p.copytext.copytext__centered Zur ersten Veranstaltung in der neuen Saison laden wir euch <strong>am Mittwoch, dem 8. März um 20:00 Uhr</strong> zu einer musikalischen Frauentagsfeier ein, bei der auch Männer gern gesehene Gäste sind. 
                                    p.copytext.copytext__centered Für die Unterhaltung sorgt der Gitarrist und Sänger Roland Scull <a href="http://www.rolandscull.de">(www.rolandscull.de)</a>, der Eintritt ist frei.
                                    p.copytext.copytext__centered Auf viele Gäste freuen sich Wolf Spors, der neue Wirt in unserem Vereinshaus, und die Gärtner von nebenan.
                                    
                                .small-0.large-1.end.columns
                .small-0.large-1.end.columns

            .row
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            foot-area
                .small-0.large-1.end.columns