@import "../../constants";

.two-col-teaser-block {
  overflow: hidden;

  .teaser-anchor {
    width: 100%;
    padding: 25px 0 20px 15px;
  }

  .copytext {
    font-size: #{12 / $font-size--base__no-unit}em;
  }
}

.two-col-teaser-block--column,
.row .two-col-teaser-block--column {
  margin-top: 10px;
}

// small devices
@media screen and (max-width: $breakpoint--small__max) {
  .two-col-teaser-block--right-item {
    font-size: #{16 / $font-size--base__no-unit}em;
  }

  .two-col-teaser-block--column,
  .row .two-col-teaser-block--column {
    margin-top: 25px;
  }
}

// medium devices
@media screen and (min-width: $breakpoint--medium__min) and (max-width: $breakpoint--medium__max) {
  .two-col-teaser-block--right-item {
    font-size: #{16 / $font-size--base__no-unit}em;
  }

  .two-col-teaser-block--column,
  .row .two-col-teaser-block--column {
    margin-top: 25px;
  }
}