$color--ci: #65A45E;
$color--ci__hover: #3D8346;
$color--accent: #E3996F;
$color--copytext: #808080;
$color--copytext__hover: #3C3D3C;
$color--white: #FFF;
$color--black: #000;
$color--burger: #DDD;
$color--burger__hover: #BBB;

// panels
$color--panel__variantA: #72AB74;
$color--panel__variantB: #688F9C;
$color--panel__variantC: #F79672;
$color--panel__variantD: #F2B93E;
$color--panel1: $color--panel__variantA;
$color--panel2: $color--panel__variantB;
$color--panel3: $color--panel__variantC;
$color--panel4: $color--panel__variantA;
$color--panel5: $color--panel__variantB;
$color--panel6: $color--panel__variantC;
$color--panel7: $color--panel__variantA;
$color--panel8: $color--panel__variantB;
$color--panel9: $color--panel__variantC;
$color--panel10: $color--panel__variantD;

$path--images: '/images/';
$path--fonts: '/fonts/';

$breakpoint--small__max: 39.9375em;
$breakpoint--medium__min: 40em;
$breakpoint--medium__max: 63.9375em;
$breakpoint--large__min: 64em;
$breakpoint--large__max: 74.9375em;

$font-size--base: 16px;
$font-size--neutral: 1px;
$font-size--base__no-unit: $font-size--base / $font-size--neutral;
