$color--ci: #5F9D65;
$color--ci__hover: #3D8346;
$color--accent: #E3996F;
$color--copytext: #636463;
$color--copytext__hover: #3C3D3C;
$color--white: #FFF;

$path--images: '/images/';
$path--fonts: '/fonts/';

$breakpoint--small__max: 39.9375em;
$breakpoint--medium__min: 40em;
$breakpoint--medium__max: 63.9375em;
$breakpoint--large__min: 64em;
$breakpoint--large__max: 74.9375em;