@import "constants";
@import "print";
@import url(https://fonts.googleapis.com/css?family=Oxygen:300,400,700);

@font-face {
  font-family: BrandonPrintedOneWeb;
  src: url("#{$path--fonts}Brandon_Printed_OneWeb.eot#") format('eot'),
       url("#{$path--fonts}Brandon_Printed_OneWeb.woff") format('woff');
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 500;
  color: $color--copytext;
}

// show background image only on desktop
@media screen and (min-width: $breakpoint--large__min) {
  body {
    background: url("#{$path--images}holz.jpg") fixed no-repeat 0 0 transparent;
  }
}

a {
  color: $color--copytext;

  &:hover,
  &:active,
  &:focus {
    color: $color--copytext;
  }
}

.modifier--double-margin-top {
  margin-top: 60px;
}

.ng-view,
.module {
  height: 100%;
}

.module > .row {
  min-height: 100%;
}

.row {
  background-color: $color--white;
}

.row ~ .row {
  margin-top: 30px;
}

@media screen and (min-width: $breakpoint--large__min) {
  .invisible-on-desktop {
    opacity: 0;
  }
}

.copytext {
  display: block;
  text-align: justify;
  font-size: #{16 / $font-size--base__no-unit}em;
}

.copytext__centered {
  text-align: center;
}

.copytext__left {
  text-align: left;
}

.copytext__highlighted {
  color: $color--ci;
  font-style: italic;
  font-weight: 700;
  font-size: 105%;
  text-align: center;
}

.imagegallery {
  display: block;

  .ng-thumb {
    height: auto;
    width: 100%;
    margin: 0;
  }

  .ng-thumbnails-wrapper {
    img {
      margin: 0;
    }
  }

  .ng-gallery-content {
    .info-text {
      display: none;
    }
  }

  img {
    margin-top: -40px;
  }

  .ng-gallery {
    width: calc(100% + 20px);
    height: 100%;
    display: inline-block;
    margin-left: -20px;

    > div {
      padding-left: 20px;
      padding-bottom: 20px;
      float: left;
      width: 25%;
    }
  }
}

.imageExpand {
  display: block;

  .ng-thumb {
    margin: 0;
    width: 100%;
    height: auto;
  }

  .ng-gallery-content {
    .info-text,
    .nav-left,
    .nav-right {
      display: none;
    }
  }
}

.navigation {
  text-align: center;
}

.navigation--item {
  display: inline-block;
}

.navigation--separator {
  display: inline-block;
  padding: 0 5px;
}

.navigation--anchor {
  color: $color--copytext;

  &:hover,
  &:active,
  &:focus {
    color: $color--copytext;
    text-decoration: underline;
  }
}

.teaser-image {
  width: 100%;
  max-width: 100%;
}

.row.row__after-fixed-header {
  margin-top: 180px;
}

// small devices
@media screen and (max-width: $breakpoint--small__max) {
  .row.row__after-fixed-header {
    margin-top: 0;
  }
}

// medium devices
@media screen and (min-width: $breakpoint--medium__min) and (max-width: $breakpoint--medium__max) {
  .row.row__after-fixed-header {
    margin-top: 0;
  }
}

.flex-video {
  display: block !important;
}

.videogallery--list {
  margin: 0 0 0 -20px;
  list-style-type: none;
  width: calc(100% + 20px);
}

.videogallery--item {
  width: 25%;
  float: left;
  padding-left: 20px;
  padding-top: 20px;
}

.videogallery--thumbnail {
  width: 100%;
  height: auto;
  cursor: pointer;
}

// bugfix: on phones the combination of .hidden-for-small-only and .row ~ .row would override the width: 1px to width: auto,
// thus creating negative right margin that would make the page scrollable horizontally, which is absolutely bollocks
.row.hidden-for-small-only {
  width: 1px;
}

@media screen and (min-width: $breakpoint--medium__min) {
  .row.hidden-for-small-only {
    width: auto;
  }
}