@import "constants";
@import url(https://fonts.googleapis.com/css?family=Oxygen:300,400,700);

@font-face {
  font-family: BrandonPrintedOneWeb;
  src: url("#{$path--fonts}Brandon_Printed_OneWeb.eot#") format('eot'),
       url("#{$path--fonts}Brandon_Printed_OneWeb.woff") format('woff');
}

body {
  font-family: 'Oxygen', sans-serif;
  color: $color--copytext;
  background: url("#{$path--images}holz.jpg") fixed no-repeat 0 0 transparent;
}

a {
  color: $color--copytext;

  &:hover,
  &:active,
  &:focus {
    color: $color--copytext;
  }
}

.row {
  background-color: $color--white;
}

.copytext ~ .copytext {
  margin-top: 15px;
}

.copytext--highlighted {
  color: $color--ci;
  font-style: italic;
  font-weight: 700;
}

.navigation {
  text-align: center;
  margin-top: 25px;
}

.navigation--item {
  display: inline-block;
}

.navigation--separator {
  display: inline-block;
  padding: 0 5px;
}

.navigation--anchor {
  color: $color--copytext;

  &:hover,
  &:active,
  &:focus {
    color: $color--copytext;
    text-decoration: underline;
  }
}

.teaser-image {
  margin-top: 20px;
  width: 100%;
  max-width: 100%;
}

.teaser-image ~ .copytext {
  margin-top: 25px;
}

.content-area__after-fixed-header {
  margin-top: 180px;
}

// small devices
@media screen and (max-width: $breakpoint--small__max) {
  .content-area__after-fixed-header {
    margin-top: 0;
  }
}

// medium devices
@media screen and (min-width: $breakpoint--medium__min) and (max-width: $breakpoint--medium__max) {
  .content-area__after-fixed-header {
    margin-top: 0;
  }
}