doctype html
html(lang='en' data-ng-app='bornholmZwei')
  head
    title bornholm-zwei
    meta(name='viewport' content='width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes')
    |<!-- inject:head:js -->
    |<!-- endinject -->
    |<!-- inject:html -->
    |<!-- endinject -->
    |<!-- bower:css -->
    |<!-- endbower -->
    |<!-- inject:css -->
    |<!-- endinject -->
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
  body
    .ng-view(data-ui-view autoscroll="true")

    script(src="https://www.youtube.com/iframe_api")
    |<!-- bower:js -->
    |<!-- endbower -->
    |<!-- inject:js -->
    |<!-- endinject -->
