.button-change-size
    span.button-change-size--action.button-change-size--action--small(ng-click="setFontSize('small')" title="Schriftgröße verkleinern") A
    span.button-change-size--action.button-change-size--action--medium(ng-click="setFontSize('regular')" title="normale Schriftgröße") A
    span.button-change-size--action.button-change-size--action--large(ng-click="setFontSize('large')" title="Schriftgröße erhöhen") A