.module.module--bornholm_zwei_laedt_ein
    .row
        .small-12.columns
            .row
                .small-12.large-10.large-offset-1.columns
                    head-area
                .small-0.large-1.end.columns

            .row.row__after-fixed-header.main-content-area
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            page-headline(data-content="BORNHOLM ZWEI LÄDT EIN")

                    
                    .row
                        .small-12.columns
                            img.teaser-image(src="/images/banner/einlad.jpg")
                    .row
                        .small-12.large-10.large-offset-1.columns
                            .row
                                .small-12.columns
                                    //.copytext.copytext__highlighted Frische Luft gibt's bei uns immer. Manchmal verschenken wir auch Pflanzen oder etwas Ernte. Und feiern können wir auch.<p>
                                    .small-12.columns
                                     .copytext.copytext__highlighted <strong>Forum Stadtgärtnern:<br>Zukunft für die GÄRTEN - Gärten für die ZUKUNFT</strong><p>
                                    p.copytext.copytext__centered Liebe Gärtner*innen aus Kleingärten und Gemeinschaftsgärten und solche, die es werden wollen!
                                    p.copytext.copytext__centered Gärten gehören zu Berlin. Sie begrünen und belüften die Stadt für alle, produzieren gesunde Nahrungsmittel, erhalten und schaffen fruchtbaren Boden, sind Orte der Begegnung, des Teilens, der Gemeinschaft. Die Berliner Kleingärten haben damit vor über hundert Jahren begonnen und sind ungebrochen beliebt. Gemeinschaftsgärten sind noch recht jung, aber ihre Zahl wächst stetig. Doch zunehmend geraten sowohl Berliner Klein- als auch Gemeinschaftsgärten durch Bauvorhaben unter Druck.
                                    p.copytext.copytext__centered Wir wollen die Vielfalt der Berliner Gärten erhalten und deren Zukunft sichern – mit Rücksicht auf die vielfältigen Ansprüche an den Stadtraum, mit kooperativen Lösungsvorschlägen und mit Entschlossenheit. Wenn wir Klein- und Gemeinschaftsgärtner*innen unsere Kräfte, unser Wissen und unsere Kreativität dabei bündeln, können wir viel bewirken!
                                    p.copytext.copytext__centered Deshalb laden wir Sie und Euch herzlich zur Auftaktveranstaltung der neuen Reihe des Forums Stadtgärtnern ein:
                                    .copytext.copytext__highlighted »Zukunft für die GÄRTEN – Gärten für die ZUKUNFT«<br> am 15. November 2019, von 17 bis 20 Uhr im Vereinshaus der Kleingartenanlage Bornholm II in Pankow.<p>
                                    p.copytext.copytext__centered An diesem Abend geht es vor allem um das gegenseitige Kennenlernen und um das Aufzeigen vielfältiger Themenfelder und Ziele, die uns verbinden. Anekdoten aus dem Gartenalltag haben dabei ebenso Platz wie ernste Zukunftsfragen. Darüber hinaus wollen wir gemeinsam Ideen für den Fortgang der Reihe »Zukunft für die GÄRTEN – Gärten für die ZUKUNFT« sammeln und uns für nächste Schritte verabreden.
                                    p.copytext.copytext__centered Wir freuen uns auf einen anregenden Austausch! Das Veranstaltungsteam:
                                    p.copytext.copytext__centeredAndreas Zurell, Christiane Unger, Estrid Sørensen, Eva Foos, Ina Rathfelder, Dr. Jennifer Schulz, Kerstin Stelmacher, Luisa Gedon, Susanne Fünfstück, Torsten Löhn, Volker Hegmann
                                    p.copytext.copytext__centered aus den Kleingartenvereinen „Bornholm II“ in Pankow und „Zur Linde“ in Treptow, dem Allmende-Kontor e. V., dem Netzwerk Urbane Gärten Berlin und den Projekten „Grüne Klimaoasen: Integrierte Stadtgrünentwicklung in Berlin Marzahn-Hellersdorf“ und „Urbane Waldgärten“<p><p>
                                    p.copytext.copytext__highlighted <strong>Programm</strong><p>
                                    p.copytext.copytext__centered <strong>ab 16:30</strong><br>Anmeldung und Ankommen
                                    p.copytext.copytext__centered <strong>17:00</strong><br>Begrüßung und Programm
                                    p.copytext.copytext__centered <strong>17:15</strong><br>AmGartenzaun: Kennenlernen
                                    p.copytext.copytext__centered <strong>17:30</strong><br>Gartengeschichten: Zur Vielfalt von Gärten in der Stadt
                                    p.copytext.copytext__centered Luisa Gedon: Kleingärtenund Gemeinschaftsgärten - Unterschiede und Gemeinsamkeiten<br>Katharina Brechensbauer und Kerstin Stelmacher: Gemeinschaftsgärten in Berlin und deren Vernetzung<br>Christiane Unger und Torsten Löhn: Gemeinschaftsgarten 100 - Urban Gardening in der Kleingartenanlage Bornholm II
                                    p.copytext.copytext__centered <strong>18:15</strong><br>Garteneinsatz: Diskussion in Themengruppen
                                    p.copytext.copytext__centered <strong>19:30</strong><br>Ernte: Ergebnisse und Verabredungen
                                    p.copytext.copytext__centered <strong>20:00</strong><br>Ideensaatgut: Infos und Material von allen für alle
                                    p.copytext.copytext__centered <strong>ab 20:15</strong><br>Geselliger Ausklang im Vereinshaus
                                    p.copytext.copytext__highlighted <strong>Anmeldung</strong><p>
                                    p.copytext.copytext__centered Darum bitten wir sehr unter diesem Link:<br> <u> <a href="https://form.jotformeu.com/kiezgarten/forum-stadtgaertnern">https://form.jotformeu.com/kiezgarten/forum-stadtgaertnern<a></u>
                                    p.copytext.copytext__highlighted <strong>Anreise</strong><p>
                                    p.copytext.copytext__centered Vereinshaus des Kleingartenverein Bornholm II e.V.: 13187 Berlin, Esplanade, Eingang gegenüber Hausnummer 24, ca. 50 m bis zum Vereinshaus oder 10439 Berlin, Eingang Andersenstraße
                                    p.copytext.copytext__highlighted <strong>Körperliche und geistige Nahrung</strong><p>
                                    p.copytext.copytext__centered Es werden ein paar Snacks zur Verpflegung vorbereitet. Dafür freuen wir uns über Gaben in die Spendendose. Getränke gibt‘s am Tresen zu kaufen. Sehr gerne können Infomaterialien, Veranstaltungsflyer, Bücher usw. mitgebracht werden. Wir werden einen Materialtisch einrichten.
                                    p.copytext.copytext__highlighted <strong>Danke!</strong>
                                    p.copytext.copytext__centered Wir danken herzlich der <u><a href="https://anstiftung.de">anstiftung</a></u>, dem Projekt <u><a href="https://www.agrar.hu-berlin.de/de/institut/departments/daoe/bk/forschung/klimaoasen">„Grüne Klimaoasen“</a></u> der Humboldt-Universität zu Berlin (gefördert durch das Ministerium für Umwelt, Naturschutz und nukleare Sicherheit) und dem E+E Vorhaben an der Uni Potsdam „Urbane Waldgärten“(gefördert durch das Bundesamt für Naturschutz mit Mitteln des Bundesministeriums für Umwelt, Naturschutz und nukleare Sicherheit.)
                                    p.copytext.copytext__highlighted <strong>...und was ist eigentlich das „Forum Stadtgärtnern“?</strong><p>
                                    p.copytext.copytext__centered Das „Forum Stadtgärtnern“ gibt es seit 2014. Es ist der Zusammenschluss des Gartenaktivist*innentreffens (seit 2010) mit dem Runden Tisch des 2014 abgeschlossenen DBU-Projektes „Urban Gardening in Berlin“. Die selbstorganisierten Foren laden bis zu 4 x im Jahr an wechselnden Orten zu jeweils einem Thema rund ums Gärtnern in der Stadt ein. Bisherige Themen waren z.B. Naturnahes Gärtnern, Essbare Stadt, Stadtgärtern mit Geflüchteten. Jede*r kann ein Forum veranstalten! Unterstützung gibt es von einer kleinen Organisationsgruppe.





                                    //.copytext.copytext__highlighted Frische Luft gibt's bei uns immer. Manchmal verschenken wir auch Pflanzen oder etwas Ernte. Und feiern können wir auch.<p>
                                    //.small-12.columns
                                    //p.copytext.copytext__centered In der Sendung "heute" vom 31.07.2019 berichtet das ZDF von der Lage der Kleingärten. Den Beitrag könnt ihr euch <u><strong><a href="https://www.zdf.de/nachrichten/heute-in-deutschland/heute---in-deutschland-vom-31-juli-2019-100.html">HIER</u></strong></a> ansehen. Bei Minute 9:58 geht's los.

                    .row
                        .small-12.large-10.large-offset-1.columns
                            .row
                                .small-12.columns
                                    //.copytext.copytext__highlighted Frische Luft gibt's bei uns immer. Manchmal verschenken wir auch Pflanzen oder etwas Ernte. Und feiern können wir auch.<p>
                                    //.small-12.columns
                                    //p.copytext.copytext__centered <br>Wir laden euch ein zur <br><strong>Fête de la Musique in den Bornholmer Gärten.<br>am Freitag, dem 21.06.2019 ab 16:00 Uhr.</strong>
                                    //p.copytext.copytext__centered Und hier spielt die Musik:
                                    
                            .row
                                .small-12.columns
                                    //ng-gallery.imageExpand(images="[{thumb: '/images/galerie/Flyer21062019.png', img: '/images/galerie/Flyer21062019.png', description: 'Flyer'}]" thumbs-num="0")
                            .row
                                .small-12.columns
                                    //ng-gallery.imageExpand(images="[{thumb: '/images/galerie/Flyer21062019k.png', img: '/images/galerie/Flyer21062019k.png', description: 'Flyer'}]" thumbs-num="0")

                            .row
                                .small-12.columns
                                    //p.copytext.copytext__centered <a href="/downloads/Flyer21062019.pdf">Den Flyer könnt ihr <u><strong>hier</u></strong></a> herunterladen.

                    .row
                        .small-12.columns
                            //img.teaser-image(src="/images/einladung/Pfingstfest_2019.jpg")

                    .row
                        .small-12.large-10.large-offset-1.columns
                            .row
                                .small-12.columns
                                    //.small-12.columns
                                    //p.copytext.copytext__centered <br>Liebe Gärtner, liebe Nachbarn aus dem Kiez,
                                    //p.copytext.copytext__centered am <strong>Freitag, den 10. Mai um 19 Uhr</strong> laden der CDU-Wahlkreisabgeordnete Stephan Lenz und der Fraktionsvorsitzende der <strong>CDU-Fraktion im Abgeordnetenhaus</strong> Burkhard Dregger uns alle zu einem Gespräch in das <strong>Vereinshaus Bornholm II</strong> ein. Geplant ist eine Diskussion um die Herausforderungen im wachsenden Bezirk Pankow und die Situation der Kleingärten. Kommt gern vorbei und stellt den Politikern eure Fragen.
                                    //p.copytext.copytext__centered Die Gärtner von nebenan
                                    // p.copytext.copytext__centered <br>Wir laden euch ein zum Tanz in den Mai am 30.04. um 20:00 Uhr mit<br><strong>Dirty Work</strong> - The Rolling Stones Tribute Band
                                    // p.copytext.copytext__centered Die Gärtner von nebenan
                         .small-0.large-1.end.columns
                .small-0.large-1.end.columns

            .row
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            foot-area
                .small-0.large-1.end.columns