.module.module--bornholm_zwei_laedt_ein
    .row
        .small-12.columns
            .row
                .small-12.large-10.large-offset-1.columns
                    head-area
                .small-0.large-1.end.columns

            .row.row__after-fixed-header.main-content-area
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            page-headline(data-content="BORNHOLM ZWEI LÄDT EIN")

                    .row
                        .small-12.columns
                            img.teaser-image(src="/images/banner/einlad.jpg")

                    .row
                        .small-12.large-10.large-offset-1.columns
                            .row
                                .small-12.columns
                                    .copytext.copytext__highlighted Frische Luft gibt's bei uns immer. Manchmal verschenken wir auch Pflanzen oder etwas Ernte. Und feiern können wir auch.<p>
                                    .small-12.columns
                                    p.copytext.copytext__centered <br>Liebe Gärtner, liebe Nachbarn aus dem Kiez,
                                    p.copytext.copytext__centered am <strong>Freitag, den 10. Mai um 19 Uhr</strong> laden der CDU-Wahlkreisabgeordnete Stephan Lenz und der Fraktionsvorsitzende der <strong>CDU-Fraktion im Abgeordnetenhaus</strong> Burkhard Dregger uns alle zu einem Gespräch in das <strong>Vereinshaus Bornholm II</strong> ein. Geplant ist eine Diskussion um die Herausforderungen im wachsenden Bezirk Pankow und die Situation der Kleingärten. Kommt gern vorbei und stellt den Politikern eure Fragen.
                                    p.copytext.copytext__centered Die Gärtner von nebenan
                                    // p.copytext.copytext__centered <br>Wir laden euch ein zum Tanz in den Mai am 30.04. um 20:00 Uhr mit<br><strong>Dirty Work</strong> - The Rolling Stones Tribute Band
                                    // p.copytext.copytext__centered Die Gärtner von nebenan
                         .small-0.large-1.end.columns
                .small-0.large-1.end.columns

            .row
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            foot-area
                .small-0.large-1.end.columns