.module.module--bornholm_zwei_laedt_ein
    .row
        .small-12.columns
            .row
                .small-12.large-10.large-offset-1.columns
                    head-area
                .small-0.large-1.end.columns

            .row.row__after-fixed-header.main-content-area
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            page-headline(data-content="BORNHOLM ZWEI LÄDT EIN")

                    .row
                        .small-12.columns
                            img.teaser-image(src="/images/einlad.jpg")

                    .row
                        .small-12.large-10.large-offset-1.columns
                            .row
                                .small-12.columns
                                    .copytext.copytext__highlighted Prenzlauer Berg. Die Kleingärtner der Anlage Bornholm II laden ein.

                            .row
                                .small-12.columns
                                    .copytext Austin four dollar toast ethical, sartorial microdosing chambray polaroid godard tousled minim. Butcher flexitarian in quis intelligentsia, put a bird on it fingerstache laborum magna church-key everyday carry sint tacos. Sed offal VHS ugh intelligentsia. Mumblecore do voluptate, minim ramps pour-over tilde roof party. Thundercats whatever pariatur venmo umami, you probably haven't heard of them ennui ad esse DIY schlitz before they sold out. Truffaut gochujang excepteur hoodie hammock +1 vice, odio shoreditch swag kickstarter distillery nesciunt mustache quis. Normcore pug fashion axe magna elit XOXO labore.

                            .row
                                .small-12.columns
                                    youtube-video.youtube-video(video-id="'VzK4LxFQxE4'" player-vars="{controls: 0}" player-width="'100%'")
                        .small-0.large-1.end.columns
                .small-0.large-1.end.columns

            .row
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            foot-area
                .small-0.large-1.end.columns