.module.module--bornholm_zwei_laedt_ein
    .row
        .small-12.columns
            .row
                .small-12.large-10.large-offset-1.columns
                    head-area
                .small-0.large-1.end.columns

            .row.row__after-fixed-header.main-content-area
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            page-headline(data-content="BORNHOLM ZWEI LÄDT EIN")

                    .row
                        .small-12.columns
                            img.teaser-image(src="/images/banner/einlad.jpg")

                    .row
                        .small-12.large-10.large-offset-1.columns
                            .row
                                .small-12.columns
                                    .copytext.copytext__highlighted Frische Luft gibt's bei uns immer. Manchmal verschenken wir auch Pflanzen oder etwas Ernte. Und feiern können wir auch.
                            .row
                                .small-12.columns
                                    p.copytext.copytext__centered Liebe Gartenfreunde, liebe Anwohner,
                                    .copytext.copytext__centered wir machen mit beim
                                    .copytext.copytext__centered <strong>"Langen Tag der Stadtnatur"</strong>
                                    p.copytext.copytext__centered am <strong>Samstag, 18.Juni</strong>
                                    .copytext.copytext__centered Der <strong>Rundgang "Die Gärten an der Mauer"</strong> führt zu unseren Bienen und in einige Gärten. 
                                    p.copytext.copytext__centered Es gibt viel zu erfahren über ökologischen Anbau von Obst, Gemüse und Blumen, über “terra preta” und über die Zeit der Berliner Mauer, wie sie die Gärtner erlebten.
                                    p.copytext.copytext__centered Die Führung mit Ina Rathfelder und Gundi Freitag startet um <strong>16 Uhr am Vereinshaus</strong> und geht bis 17.30 Uhr. Wir freuen uns, dass der Rundgang von Stephan Lenz, Mitglied des Berliner Abgeordnetenhauses (CDU), begleitet wird. 
                                    p.copytext.copytext__centered <strong><a href="http://2016.langertagderstadtnatur.de/angebote/details/2499">Nähere Informationen</a></strong> zu dieser und anderen Veranstaltungen sowie zu den Tickets (z.B. Einzelveranstaltungsticket 4€, 26-Stunden-Ticket für alle Veranstaltungen 7€) gibt es <strong><a href="http://2016.langertagderstadtnatur.de/angebote/details/2499">hier.</a></strong>
                                    p.copytext.copytext__centered Die Gärtner von nebenan.
                                    
                                    p.copytext.copytext__centered ______________________________
                        
                                    p.copytext.copytext__centered Liebe Gartenfreunde, liebe Anwohner,
                                    .copytext.copytext__centered wir wollen mit viel Musik den Sommer begrüßen und laden zur
                                    p.copytext.copytext__centered <strong>"Fête de la Musique"</strong> am <strong>21. Juni 2016.</strong>
                                    p.copytext.copytext__centered Auf der Wiese am Vereinshaus - bei schlechtem Wetter im Saal - an der Esplanade gibt es
                                    .copytext.copytext__centered <strong>16.00 – 17.00 Uhr</strong> 
                                    p.copytext.copytext__centered "Laubrausch" Naturpädagogik - Yule und David basteln mit Kindern Instrumente aus Naturmaterialien
                                    .copytext.copytext__centered <strong>17.00 – 18.00 Uhr</strong> 
                                    p.copytext.copytext__centered "Saythams" - Klezmer und Folk
                                    .copytext.copytext__centered <strong>18.00 – 18.45 Uhr</strong> 
                                    p.copytext.copytext__centered "Chor der Berlin-Brandenburgischen Akademie der Wissenschaften" - Deutsche und englische Madrigale
                                    .copytext.copytext__centered <strong>18.50 – 19.20 Uhr</strong> 
                                    p.copytext.copytext__centered "Sejm und Monika - TWO IN ONE DAY" - Popsongs Cover
                                    .copytext.copytext__centered <strong>19.20 – 19.50 Uhr</strong> 
                                    p.copytext.copytext__centered "Weinstock &#38; Nachtigall" - Georgische Folklore aus acht Jahrhunderten
                                    .copytext.copytext__centered <strong>19.50 – 20.20 Uhr</strong> 
                                    p.copytext.copytext__centered "Ekke Maaß" - Lieder und Balladen von Goethe, Heine, Brecht und Biermann
                                    .copytext.copytext__centered <strong>20.20 – 21.20 Uhr</strong> 
                                    p.copytext.copytext__centered "Mapinguari-Band" - Blasmusik 
                                    p.copytext.copytext__centered Der Eintritt ist frei, das EM-Fußballspiel Nordirland - Deutschland wird im Vereinshaus übertragen.
                                    p.copytext.copytext__centered Wir freuen uns auf viele Gäste!
                                    p.copytext.copytext__centered Die Gärtner von nebenan.

                                    p.copytext.copytext__centered ______________________________
                                   
                                    p.copytext.copytext__centered <strong>Imkern für Kinder und Erwachsene in Bornholm II</strong>
                                    p
                                    p.copytext.copytext__centered Wer hat Lust, die Imkerei und das Bienenleben kennenzulernen?
                                    p.copytext.copytext__centered Ab 20.05.2016 treffen wir uns <strong>immer freitags</strong> für eine Stunde an den Bienenkästen hinter dem Vereinshaus.  Wir begleiten die Bienenvölker über das Bienenjahr und erfahren so alles Wissenswerte rund um die Honigbiene.

                                    p.copytext.copytext__centered Imkern für Kinder (ab 8 Jahre): freitags ab 16 Uhr
                                    p.copytext.copytext__centered Imkern für Erwachsene: freitags ab 17 Uhr
                                    .copytext.copytext__centered Die Teilnehmerzahl ist pro Gruppe auf sieben beschränkt, da sonst das praktische Arbeiten und Demonstrationen an den Bienen nicht so gut möglich sind.
                                    p.copytext.copytext__centered Die Kurse sind kostenlos, aber für Materialien wird ein Selbstkostenbeitrag erhoben.
                                    p.copytext.copytext__centered Eingeladen sind alle interessierten Gartenfreunde und Anwohner.
                                    .copytext.copytext__centered Anmeldung und Fragen bitte an Imker und Gartenfreund
                                    p.copytext.copytext__centered Jan-Vincent unter 0173/8185036   

                        .small-0.large-1.end.columns
                .small-0.large-1.end.columns

            .row
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            foot-area
                .small-0.large-1.end.columns