.module.module--bornholm_zwei_laedt_ein
    .row
        .small-12.columns
            .row
                .small-12.large-10.large-offset-1.columns
                    head-area
                .small-0.large-1.end.columns

            .row.row__after-fixed-header.main-content-area
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            page-headline(data-content="BORNHOLM ZWEI LÄDT EIN")

                    .row
                        .small-12.columns
                            img.teaser-image(src="/images/banner/einlad.jpg")

                    .row
                        .small-12.large-10.large-offset-1.columns
                            .row
                                .small-12.columns
                                    .copytext.copytext__highlighted Frische Luft gibt's bei uns immer. Manchmal verschenken wir auch Pflanzen oder etwas Ernte. Und feiern können wir auch.<p>
                                    .small-12.columns
                                    p.copytext.copytext__centered <br><strong>Erntedankfest in den Bornholmer Gärten</strong><br>an diesem Wochenende findet in Bornholm II  das diesjährige Erntedankfest statt.</strong>
                                    p.copytext.copytext__centered Ihr seid alle herzlich eingeladen!<br>
                                    p.copytext.copytext__centered <a href="/downloads/Erntedankfest Bornholmer Gärten 2019_ Offene Gärten PDF.pdf"><u>Die Karte mit den offenen Gärten könnte ihr euch hier als PDF herunterladen.</u></a>
                                    p.copytext.copytext__centered <a href="/downloads/Erntedankfest Bornholmer Gärten 2019_ Programm PDF.pdf"><u>Das Programm als PDF-Datei gibt's hier.</u></a>
                            .row
                                .small-12.columns
                                    ng-gallery.imageExpand(images="[{thumb: '/images/einladung/Erntedank18-Karte.jpg', img: '/images/einladung/Erntedank18-Karte.jpg', description: 'Karte'}]" thumbs-num="0")
                                    p.copytext
                                .small-12.columns
                                    ng-gallery.imageExpand(images="[{thumb: '/images/einladung/Erntedank18-Programm.jpg', img: '/images/einladung/Erntedank18-Programm.jpg', description: 'Programm'}]" thumbs-num="0")
                         .small-0.large-1.end.columns
                .small-0.large-1.end.columns

            .row
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            foot-area
                .small-0.large-1.end.columns