.module.module--bornholm_zwei_laedt_ein
    .row
        .small-12.columns
            .row
                .small-12.large-10.large-offset-1.columns
                    head-area
                .small-0.large-1.end.columns

            .row.row__after-fixed-header.main-content-area
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            page-headline(data-content="BORNHOLM ZWEI LÄDT EIN")

                    .row
                        .small-12.columns
                            img.teaser-image(src="/images/einlad.jpg")

                    .row
                        .small-12.large-10.large-offset-1.columns
                            .row
                                .small-12.columns
                                    .copytext.copytext__highlighted Frische Luft gibt's bei uns immer. Manchmal verschenken wir auch Pflanzen oder etwas Ernte. 
                                                                    br 
                                                                    |Und feiern können wir auch.

                            .row
                                .small-12.columns
                                    .copytext.copytext__centered Liebe Gartenfreunde, liebe Anwohner,
                                                br 
                                                |die Kleingartenanlage Bornholm II veranstaltet eine Gartenwerkstatt zum Thema
                                                p 
                                                strong "Biologische Vielfalt in Pankower Kleingärten - KGA Bornholm II e.V."
                                                p
                                                strong am Sonntag, 24. April 2016
                                                br
                                                strong von 11.00 bis ca. 13.00 Uhr
                                                br
                                                |im Vereinshaus der Gartenkolonie (Eingang Esplanade)  
                                                p
                                                |Wir laden alle interessierten Gärtner und Anwohner herzlich dazu ein!
                                                br 
                                                |Nicht zuletzt auch, um einander kennenzulernen.
                                                p
                                                strong Folgendes Programm ist geplant:

                            .row
                                .small-12.columns
                                    .copytext.copytext__left  
                                                strong 11.00 Uhr - 
                                                |Begrüßung durch den Vorstand der KGA Bornholm II
                                                br
                                                strong 11.05 Uhr - 
                                                |Herbert Lohner, BUND Berlin - "Biologische Vielfalt - warum?" 
                                                br
                                                strong 11.20 Uhr - 
                                                |Reinhard Schubert, Senatsverwaltung a.D. - "Berlins Biologische Vielfalt in den Kleingärten"
                                                br
                                                strong 11.35 Uhr - 
                                                |Juliane Andreas, Absolventin/Hochschule für nachhaltige Entwicklung Eberswalde - "Ein Naturschutzleitbild für Berlins Kleingärtner - und wie weiter?"
                                                br
                                                strong 11.50 Uhr - 
                                                strong Kaffeepause
                                                br
                                                strong 12.00 Uhr - 
                                                |Sebastian Unger, Landschaftsplaner, Berlin - "Schutz und Förderung streng geschützter Tiere (FFH-Arten)"
                                                br
                                                strong 12.15 Uhr - 
                                                |Susanne Fünfstück, KGA "Zur Linde" Treptow - "Naturnah gärtnern mit historischen Rosen" 
                                                br
                                                strong 12.30 Uhr - 
                                                |Gundi Freitag, Ina Rathfelder, KGA Bornholm II - "Alte Kulturpflanzen in Bornholm II"
                                                br
                                                strong 12.50 Uhr - 
                                                |Diskussion
                                                p
                                                |Wir freuen uns darauf, viele Gäste zu begrüßen.
                                                p
                                                |Der Vorstand

                            .row
                                .small-12.columns
                                    youtube-video.youtube-video(video-id="'VzK4LxFQxE4'" player-vars="{controls: 1}" player-width="'100%'")
                        .small-0.large-1.end.columns
                .small-0.large-1.end.columns

            .row
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            foot-area
                .small-0.large-1.end.columns