.module--fruechte-fuer-fluechtlinge
    .row
        .small-0.large-1.columns &nbsp;
        .small-12.large-10.columns
            head-area

            .content-area__after-fixed-header
                page-headline(data-content="BORNHOLM ZWEI LÄDT EIN")

                img.teaser-image(src="/images/einlad.jpg")

                .row
                    .small-0.large-1.columns &nbsp;
                    .small-12.large-10.columns
                        .copytext.copytext__highlighted.copytext__centered Prenzlauer Berg. Die Kleingärtner der Anlage Bornholm II laden ein.
                        .copytext.copytext__centered Austin four dollar toast ethical, sartorial microdosing chambray polaroid godard tousled minim. Butcher flexitarian in quis intelligentsia, put a bird on it fingerstache laborum magna church-key everyday carry sint tacos. Sed offal VHS ugh intelligentsia. Mumblecore do voluptate, minim ramps pour-over tilde roof party. Thundercats whatever pariatur venmo umami, you probably haven't heard of them ennui ad esse DIY schlitz before they sold out. Truffaut gochujang excepteur hoodie hammock +1 vice, odio shoreditch swag kickstarter distillery nesciunt mustache quis. Normcore pug fashion axe magna elit XOXO labore.
                        youtube-video.youtube-video(video-id="'VzK4LxFQxE4'" player-vars="{controls: 0}" player-width="'100%'")
                    .small-0.large-1.columns &nbsp;

            foot-area
        .small-0.large-1.columns &nbsp;