.module.module--0621musique
    .row
        .small-12.columns
            .row
                .small-12.large-10.large-offset-1.columns
                    head-area
                .small-0.large-1.end.columns

            .row.row__after-fixed-header.main-content-area
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            page-headline(data-content="ARCHIV: Fête de la musique am 18.06.2016")
                    
                    .row
                        .small-12.columns
                            img.teaser-image(src="/images/banner/einlad.jpg")

                    .row
                        .small-12.large-10.large-offset-1.columns
                                 
                            .row
                                .small-12.columns
                                    p.copytext.copytext__centered Liebe Gartenfreunde, liebe Anwohner,
                                    .copytext.copytext__centered wir wollen mit viel Musik den Sommer begrüßen und laden zur
                                    p.copytext.copytext__centered <strong>"Fête de la Musique"</strong> am <strong>21. Juni 2016.</strong>
                                    p.copytext.copytext__centered Auf der Wiese am Vereinshaus - bei schlechtem Wetter im Saal - an der Esplanade gibt es
                                    .copytext.copytext__centered <strong>16.00 – 17.00 Uhr</strong> 
                                    p.copytext.copytext__centered "Laubrausch" Naturpädagogik - Yule und David basteln mit Kindern Instrumente aus Naturmaterialien
                                    .copytext.copytext__centered <strong>17.00 – 18.00 Uhr</strong> 
                                    p.copytext.copytext__centered "Saythams" - Klezmer und Folk
                                    .copytext.copytext__centered <strong>18.00 – 18.45 Uhr</strong> 
                                    p.copytext.copytext__centered "Chor der Berlin-Brandenburgischen Akademie der Wissenschaften" - Deutsche und englische Madrigale
                                    .copytext.copytext__centered <strong>18.50 – 19.20 Uhr</strong> 
                                    p.copytext.copytext__centered "Sejm und Monika - TWO IN ONE DAY" - Popsongs Cover
                                    .copytext.copytext__centered <strong>19.20 – 19.50 Uhr</strong> 
                                    p.copytext.copytext__centered "Weinstock &#38; Nachtigall" - Georgische Folklore aus acht Jahrhunderten
                                    .copytext.copytext__centered <strong>19.50 – 20.20 Uhr</strong> 
                                    p.copytext.copytext__centered "Ekke Maaß" - Lieder und Balladen von Goethe, Heine, Brecht und Biermann
                                    .copytext.copytext__centered <strong>20.20 – 21.20 Uhr</strong> 
                                    p.copytext.copytext__centered "Mapinguari-Band" - Blasmusik 
                                    p.copytext.copytext__centered Der Eintritt ist frei, das EM-Fußballspiel Nordirland - Deutschland wird im Vereinshaus übertragen.
                                    p.copytext.copytext__centered Wir freuen uns auf viele Gäste!
                                    p.copytext.copytext__centered Die Gärtner von nebenan.
                                    
                                .small-0.large-1.end.columns
                .small-0.large-1.end.columns

            .row
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            foot-area
                .small-0.large-1.end.columns