@import '../../constants';

.headline {
  font-family: BrandonPrintedOneWeb, sans-serif;
  color: $color--ci;
  font-size: #{34 / $font-size--base__no-unit}em;
  text-align: center;
  margin-top: 20px;
}

// small devices
@media screen and (max-width: $breakpoint--small__max) {
  .headline {
    font-size: #{25 / $font-size--base__no-unit}em;
  }
}