.teaserPanel.teaserPanel__10
  img.panelContentImage(src="/images/panels/10.png")

  .panelBottom
    a.goHome(href="/#/home")
      img(src="/images/panels/bottom.png")

  a.goNext(href="/#/home") &gt;

  a.goPrev(href="/#/panel9") &lt;

  a.goAway(href="/#/home") &times;
