.teaserPanel.teaserPanel__10(
  ng-controller="Panel10Ctrl as Panel10Vm"
  ng-mousemove="Panel10Vm.handleMouseMove()"
  ng-class="{'showControls': Panel10Vm.controlsVisible}"
)
  img.panelContentImage(src="/images/panels/10.png")

  .panelBottom
    a.goHome(href="/#/home")
      img(src="/images/panels/bottom.png")

  a.goNext(href="/#/home") &gt;

  a.goPrev(href="/#/9") &lt;

  a.goAway(href="/#/home") &times;
