.teaserPanel.teaserPanel__1(
  ng-controller="Panel1Ctrl as Panel1Vm"
  ng-mousemove="Panel1Vm.handleMouseMove()"
  ng-class="{'showControls': Panel1Vm.controlsVisible}"
)
  img.panelContentImage(src="/images/panels/1.png")

  .panelBottom
    a.goHome(href="/#/home")
      img(src="/images/panels/bottom.png")

  a.goNext(href="/#/2") &gt;

  .goAway
    a(href="/#/home") zur Homepage
