.teaserPanel.teaserPanel__1
  img.panelContentImage(src="/images/panels/1.png")

  .panelBottom
    a.goHome(href="/#/home")
      img.panelBottomImage(src="/images/panels/bottom.png")

  a.goAway(src="/#/panel1") &gt;

  a.goPrev(src="/#/panel1") &lt;

  a.goAway(src="/#/home") &times;
