.teaserPanel.teaserPanel__1
  img.panelContentImage(src="/images/panels/1.png")

  .panelBottom
    a.goHome(href="/#/home")
      img(src="/images/panels/bottom.png")

  a.goNext(href="/#/panel2") &gt;

  a.goAway(href="/#/home") &times;
