.module.module--0630kinderfest18
    .row
        .small-12.columns
            .row
                .small-12.large-10.large-offset-1.columns
                    head-area
                .small-0.large-1.end.columns

            .row.row__after-fixed-header.main-content-area
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            page-headline(data-content="BORNHOLM ZWEI LÄDT EIN")

                    .row
                        .small-12.columns
                            img.teaser-image(src="/images/banner/einlad.jpg")

                    .row
                        .small-12.large-10.large-offset-1.columns
                            .row
                                .small-12.columns
                                    .copytext.copytext__highlighted Frische Luft gibt's bei uns immer. Manchmal verschenken wir auch Pflanzen oder etwas Ernte. Und feiern können wir auch.<p>
                                    .small-12.columns
                                     p.copytext.copytext__centered <br>Liebe Kinder, Eltern und Großeltern, liebe Nachbarn im Kiez,<br><strong>am Sonnabend, dem 30. Juni, findet in Bornholm II von 15:00 bis 18:00 Uhr das diesjährige Kinderfest statt.</strong>
                                    p.copytext.copytext__centered Ab 15:00 Uhr gibt es verschiedene Spiele auf der Wiese am Vereinshaus, Katja verwandelt die Kinder mit Schminke und um 16:00 Uhr spielt das <a href="http://www.figurentheater-anna-sophia.de/"><u><strong>Figurentheater ANNA SOPHIA</u></strong></a> das Märchen von der „Regentrude“. Zwischendurch gibt es Kaffee und Kuchen und bei schönem Wetter wird gegrillt.
                                    p.copytext.copytext__centered Ihr seid alle herzlich eingeladen!
                        .small-0.large-1.end.columns
                .small-0.large-1.end.columns

            .row
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            foot-area
                .small-0.large-1.end.columns