.module.module--neuigkeiten
    .row
        .small-12.columns
            .row
                .small-12.large-10.large-offset-1.columns
                    head-area
                .small-0.large-1.end.columns

            .row.row__after-fixed-header.main-content-area
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            page-headline(data-content="NEUIGKEITEN")
                    
                    .row
                        .small-12.columns
                            img.teaser-image(src="/images/banner/einlad.jpg")

                    .row
                         .small-12.large-10.large-offset-1.columns
                            .row
                                .small-12.columns
                                    p.copytext.copytext__centered <strong>Offener Brief des Vorstands der KGA Bornholm II</strong>
                                    p.copytext.copytext__centered (Der offene Brief kann <u><a href="/downloads/OffenerBrief-Turnhalle-Senat.pdf">hier als PDF-Datei</a>)</u> angezeigt und heruntergeladen werden.)
                                    p.copytext Frau Senatorin Regine Günther <br>Senatsverwaltung für Umwelt, Verkehr und Klimaschutz <br>Am Köllnischen Park 3 <br>10179 Berlin
                                    p.copytext Berlin, 14.01.2020
                                    p.copytext <strong>Ja zu einer „grünen Turnhalle“ – Nein zur ersatzlosen Vernichtung von Stadtgrün</strong>
                                    p.copytext Sehr geehrte Frau Senatorin,
                                    p.copytext wir Gärtner der Kleingartenanlage Bornholm II in Berlin Pankow wenden uns mit diesem offenen Brief an Sie, weil wir wissen, dass Sie in der Klimakrise nach pragmatischen Ansätzen suchen, um den CO2-Ausstoß in Berlin zu reduzieren.
                                    p.copytext Bekanntermaßen ist innerstädtisches Grün eine wichtige CO2-Senke, die dazu beiträgt, den Treibhauseffekt zu mindern und die globale Erwärmung zu stoppen. Daher ist die Erhaltung des Berliner Stadtgrüns ein wichtiger Schritt auf dem Weg zur Klimaneutralität.
                                    p.copytext Auf dem Gelände unserer Kleingartenanlage soll in absehbarer Zeit eine Turnhalle für die benachbarte Bornholmer Grundschule errichtet werden. Über die genauen Pläne der Abteilung Schule, Sport, Facility Management und Gesundheit des Bezirksamts Pankow liegen uns zur Zeit leider keine aktuellen Informationen vor. Sicher ist, dass mindestens 12 Parzellen und damit ca. 3000 m2 fruchtbarer Boden, der seit mehr als 120 Jahren kultiviert wird, unwiederbringlich versiegelt werden.
                                    p.copytext Kinder müssen sich bewegen, Spiel und Sport sind für ihre gesunde Entwicklung unabdingbar. Wir Gärtner der Kleingartenanlage Bornholm II unterstützen ausdrücklich den Plan, für die Schüler der Bornholmer Grundschule eine neue Turnhalle zu bauen. Kinder brauchen aber auch eine gesunde und lebenswerte Umwelt – ganz besonders in einer dicht bebauten Großstadt wie Berlin.
                                    p.copytext Gemeinsam mit Architekten und Stadtplanern unter unseren Gärtnern haben wir ein Konzept erarbeitet, das den durch einen Neubau zu erwartenden Verlust in der Leistung der Grünfläche als CO2-Senke kompensieren könnte. Dabei geht es um einen neuen Typ Turnhalle (den Entwurf von Landschaftsarchitekt Axel Klapka finden Sie im Anhang).
                                    p.copytext Auf dem Dach der Turnhalle soll eine von Gärtnern zu nutzende Anbaufläche entstehen, die begrünten Wände können einerseits als Feinstaubfilter, andererseits als „essbare Stadt“ mit entsprechenden Rankgewächsen wie Stangenbohnen, Bauernkiwi oder Kapuzinerkresse gestaltet werden. Die „Ersatzfläche“ auf dem Dach kann die zu versiegelnde Fläche standortnah zumindest teilweise kompensieren. In einem gärtnerischen Modellprojekt könnten Gemeinschaftsgärtner, Kleingärtner und Waldgärtner erstmals gemeinsam die neu entstehende Anbaufläche nutzen und die Anlage Bornholm II würde einen weiteren wichtigen Schritt auf dem von uns bereits eingeschlagenen Weg in Richtung Kleingartenpark unternehmen.
                                    p.copytext Die Anbaufläche auf dem Dach der Turnhalle kann darüber hinaus als Versuchsfeld für neue wasserwirtschaftliche und energetische Ansätze dienen und wichtige Impulse für Nachhaltigkeit und ökologische Modernisierung setzen. Die geplante Turnhalle kann berlinweit und über Berlin hinaus als „Leuchtturmprojekt“ eine Vorbildwirkung für ähnliche Zweckbauten entfalten.
                                    p.copytext Nach unseren Recherchen bieten sich für den Neubau folgende Förderungmöglichkeiten an, die zu prüfen sind: Für innovative Vorhaben mit Alleinstellungsmerkmal und Vorbildwirkung sind im Rahmen der ”Green Roof Lab”-Förderung Begrünungsvorhaben auf Dächern von Neubauten förderfähig. Hierzu wird eine Kontaktaufnahme mit dem Ansprechpartner bei der IBB Business Team GmbH empfohlen. Durch Rücksprache mit dem Programmträger B.&S.U. Beratungs- und Service-Gesellschaft Umwelt mbH kann weiterhin geprüft werden, ob eine Förderung über “BENE“ (Berliner Programm für Nachhaltige Entwicklung ) oder “BEK“ (Berliner Energie- und Klimaschutzprogramm) möglich ist.
                                    p.copytext Obwohl unser Projektvorschlag von vielen Politikern und Institutionen, u.a. vom BUND, der Berliner Regenwasser Agentur, der Förderung Green Roof Lab, begeistert aufgenommen wurde, hat der Leiter der Abteilung Schule, Sport, Facility Management und Gesundheit des Bezirksamts Pankow, Dr. Torsten Kühne, ihn aus Kostengründen abgelehnt.
                                    p.copytext Wir Gärtner fordern
                                    p.copytext - eine unabhängige Prüfung unseres Projektvorschlags, <br>- die Umsetzung des Leuchtturmprojekts „Grüne Turnhalle Pankow“ über einen Förderantrag im Rahmen des senatseigenen Förderprogramms Green Roof Lab, des Förderprogramms BENE oder des Programms BEK <br>- eine Wertschätzung unseres bürgerschaftlichen Engagements.
                                    p.copytext Als verantwortliche Senatorin bitten wir Sie, unsere Initiative zu unterstützen und wir würden uns sehr freuen, wenn Sie Zeit für ein persönliches Gespräch vor Ort fänden.
                                    p.copytext Der Vorstand der KGA Bornholm II
                                    p.copytext Edwin Damrose, Torsten Löhn, Christiane Unger, Alisa Wessel
                                    p.copytext.copytext__centered _____
                                    p.copytext.copytext__centered (der offene Brief kann <u><a href="/downloads/OffenerBrief-Turnhalle-Senat.pdf">hier als PDF-Datei</a>)</u> angezeigt und heruntergeladen werden.)
                                    p.copytext.copytext__centered _______________________________________
                                .small-0.large-1.end.columns





                            .row
                                .small-12.columns
                                    p.copytext.copytext__highlighted 30 Jahre Mauerfall - 30 Minuten Bornholmer Gärten
                                    p.copytext.copytext__centered <strong>9. November 2019 in den Bornholmer Gärten</strong>
                                    .copytext.copytext__centered Im 30-minütigen Video berichten einige unserer Gärtner darüber, wie sie den 9. November damals erlebt haben.
                            .row
                                .small-12.columns
                                    #videogallery.videogallery--list
                                        span.videogallery--item
                                            img.videogallery--thumbnail(src="/images/banner/30video.jpg" alt="" data-reveal-id="video4")

                                        #video4.reveal-modal.large(data-reveal aria-hidden="true" role="dialog")
                                            .flex-video.widescreen.youtube
                                                iframe(width="1280" height="720" src="//www.youtube-nocookie.com/embed/4MOzztP0zag" frameborder="0" allowfullscreen)
                                            a.close-reveal-modal(aria-label="Close") &#215;

                                    script(type="text/javascript")
                                        | jQuery('#videogallery').foundation();
                                .small-0.large-1.end.columns

                            .row
                                    p.copytext.copytext__centered <a href="https://www.facebook.com/blue.media.VT/"><img src="/images/bluemedia.jpg" alt="Bild" /></a>
                                    p.copytext.copytext__centered _______________________________________
                                    p.copytext.copytext__centered <u><strong><a href="https://www.deutschlandfunk.de/oekologie-schrebergaerten-sind-insektenparadiese.676.de.html?dram:article_id=438409">Ein Audio-Beitrag des Deutschlandfunk von Dagmar Röhrlich</u></strong></a>
                                    p.copytext.copytext__centered _______________________________________
                                    p.copytext.copytext__centered <strong> Schrebergärten sind Insektenparadiese </strong>
                                    p.copytext.copytext__centered Insekten spielen in unseren Ökosystemen eine zentrale Rolle, vor allem als Bestäuber für Wild- und Nutzpflanzen. Die Zahl der Insekten nimmt aufgrund von Umweltveränderungen rapide ab – aber selbst in Städten gibt es Orte, an denen sich Bienen und Hummeln ausgesprochen wohl fühlen.
                                    p.copytext.copytext__centered <u><strong><a href="https://www.deutschlandfunk.de/oekologie-schrebergaerten-sind-insektenparadiese.676.de.html?dram:article_id=438409">Ein Audio-Beitrag des Deutschlandfunk von Dagmar Röhrlich</u></strong></a>
                                    p.copytext.copytext__centered _______________________________________
                                    p.copytext.copytext__centered <strong> Da wächst was... </strong>
                                    p.copytext.copytext__centered auf der Internationalen Grünen Woche 2019
                                    ng-gallery.imagegallery(images="[{thumb: '/images/galerie/thumbs/grwo1_thumb.jpg', img: '/images/galerie/grwo1.jpg', description: 'grwo1'},{thumb: '/images/galerie/thumbs/grwo2_thumb.jpg', img: '/images/galerie/grwo2.jpg', description: 'grwo2'},{thumb: '/images/galerie/thumbs/grwo3_thumb.jpg', img: '/images/galerie/grwo3.jpg', description: 'grwo3'}]" thumbs-num="3")
                                    p.copytext.copytext__centered _______________________________________
                                .small-12.columns
                                    p.copytext.copytext__centered <strong>Bornholm II unterstützt die Klimadaten-Messung der TU</strong>
                                    p.copytext.copytext__centered Gärtner der Kolonie Bornholm II beteiligen sich an einer mehrwöchigen Klimadaten-Messung des Studiengangs Stadtökologie der Technischen Universität Berlin, die der Frage nachgeht, wie kühl es in Berliner Kleingärten im Vergleich mit bebautem Gebiet, anderen Grünflächen und dem Berliner Umland ist. Die Messdauer beträgt ca. drei Monate. Die Ergebnisse der Messung werden einen Hinweis darauf geben, welchen Wert die durch hohe Biodiversität geprägte Landschaft einer Gartenkolonie für das Stadtklima besitzt.
                                    p.copytext.copytext__centered Ein in mehreren Gärten aufgestellter Sensor misst alle 10 min automatisch die Lufttemperatur und die Luftfeuchte; die Funktionalität des Sensors wird zwischenzeitlich überprüft. Die Ergebnisse der vorgenommenen Analysen werden im Anschluß frei zugänglich veröffentlicht.
                                    p.copytext.copytext__centered Ansprechpartner zur Messung sind die Studierenden des Masterstudiengangs Stadtökologie der TU Berlin Anahita Bidjanbeg, Lea Matscheroth, Annemarie Rost und Corinna Seidel sowie der Dozent Dr. Marco Otto.
                                    ng-gallery.imagegallery(images="[{thumb: '/images/galerie/thumbs/klima1_thumb.jpg', img: '/images/galerie/klima1.jpg', description: 'klima1'},{thumb: '/images/galerie/thumbs/klima2_thumb.jpg', img: '/images/galerie/klima2.jpg', description: 'klima2'},{thumb: '/images/galerie/thumbs/klima3_thumb.jpg', img: '/images/galerie/klima3.jpg', description: 'klima3'}]" thumbs-num="3")
                                    p.copytext.copytext__centered _______________________________________
                                .small-12.columns
                                    p.copytext.copytext__centered RTL-Beitrag<br><strong>Schrebergärten in Gefahr</strong><br>Städte brauchen Wohnraum
                                    p.copytext.copytext__centered Am 05.05.2018 berichtete RTL im Nachtjournal über die Situation der Berliner Kleingärten. Gedreht wurde der Beitrag in Bornholm II
                                    p.copytext.copytext__centered <strong><u><a href="https://rtlnext.rtl.de/cms/schrebergaerten-in-gefahr-staedte-brauchen-wohnraum-4158327.html?c=ddbd">Zum Artikel und zum Video geht's hier</a></u></strong><br>
                                p.copytext.copytext__centered _______________________________________
                                .small-12.columns
                                    p.copytext.copytext__centered <strong> Offener Brief</strong><br>von Pankows Kleingärtnern an Pankows Bezirkspolitik und die Anwohnerinnen und Anwohner in Prenzlauer Berg
                                    p.copytext.copytext__centered Als Vertreter der anliegenden Kleingartenanlagen äußern wir uns öffentlich zur Bauplanung und Bürgerbeteiligung bei der Erweiterung der Bornholmer Grundschule in der Ibsenstraße.
                                    p.copytext.copytext__centered <strong><u><a href="/downloads/offener_brief_03042018.pdf">Zum offenen Brief geht es hier </a></u></strong><br>
                                p.copytext.copytext__centered _______________________________________
                                .small-0.large-1.end.columns.row
                                .small-12.columns
                                    p.copytext.copytext__centered Mit dem Projekt<br><strong>'Vom Korn zum Brot' - Wie können wir alle satt werden?</strong><br>beteiligen sich die Gärtner aus Bornholm II am Bildungswettbewerb des Rats für Nachhaltige Entwicklung
                                    p.copytext.copytext__centered Im Kids-Kiezgarten der Gartenkolonie Bornholm II können Kinder aus dem Prenzlauer Berg und Pankow unter Anleitung von Mitarbeitern der Deutschen Schreberjugend gemeinsam gärtnern. Dabei erfahren sie, wie wir unsere wichtigsten Lebensmittel nachhaltig erzeugen, warum eine gesunde Ernährung eine intakte Natur voraussetzt und dass alle satt werden können, wenn wir die Ernte gerecht teilen.<br>Weitere Informationen über das Projekt, das die Gärtner fürs Gartenjahr 2018 in Planung haben, findet ihr hier: 
                                    p.copytext.copytext__centered <u><a href="http://www.tatenfuermorgen.de/sdg-bildungswettbewerb/?sdgid=127&sdgslug=vom-korn-zum-brot-wie-k%C3%B6nnen-wir-alle-satt-werden">#tatenfuermorgen - Vom Korn zum Brot</a></u><br>
                                p.copytext.copytext__centered _______________________________________
                                .small-0.large-1.end.columns.row
                                .small-12.columns
                                    p.copytext.copytext__centered <strong>Pankower Umweltpreis 2017<br>für das „Apfelprojekt“ der Gärtner aus Bornholm II</strong>
                                    p.copytext.copytext__centered Berliner Kleingärtner übernehmen seit vielen Jahren die wichtige Aufgabe, Arten vor ihrem Aussterben zu schützen und damit ein bedeutendes Kulturgut zu sichern. Wir Gärtner der Gartenkolonie Bornholm II sind bestrebt, im Rahmen der „Berliner Strategie zur biologischen Vielfalt“ einen Beitrag zum Schutz der vielfältigen Fauna und Flora in unseren Gärten zu leisten und die Bornholmer Gärten als besondere Kulturlandschaft im innerstädtischen Bereich zu erhalten. Eine Bestandsaufnahme des Obst- und Gemüsebestands der einzelnen Gärten und eine sorgfältige Prüfung und Beschreibung alter Obstbäume in Bornholm II bilden die Grundlage für das „Apfelprojekt“, das 2017 mit dem Pankower Umweltpreis ausgezeichnet wurde.<br><br><u><a href="/downloads/umweltpreis.pdf">Die ausführliche Projektbeschreibung findet ihr hier.</a></u><br><br> 
                                 .small-12.columns
                                    ng-gallery.imagegallery(images="[{thumb: '/images/galerie/thumbs/apfel1_thumb.jpg', img: '/images/galerie/apfel1.jpg', description: 'apfel1'},{thumb: '/images/galerie/thumbs/apfel2_thumb.jpg', img: '/images/galerie/apfel2.jpg', description: 'apfel2'},{thumb: '/images/galerie/thumbs/apfel3_thumb.jpg', img: '/images/galerie/apfel3.jpg', description: 'apfel3'}]" thumbs-num="3")
                                p.copytext.copytext__centered _______________________________________
                                .small-0.large-1.end.columns.row
                                .small-12.columns
                                    p.copytext.copytext__centered <strong>Herbstliche Tipps für den Naturgarten<br>Was jetzt getan werden sollte</strong>
                                    p.copytext.copytext__centered NABU gibt Tipps, was im Naturgarten im Herbst erledigt werden sollte.<br>Dafür wurden auch zwei Parzellen von Bornholm II fotografiert.<br><br><u><a href="http://www.nabu.de/gartenkarte">Hier geht es zum NABU-Artikel</a></u>
                                p.copytext.copytext__centered _______________________________________
                                .small-0.large-1.end.columns.row
                                .small-12.columns
                                    p.copytext.copytext__centered <strong>Tomatenzucht in Bornholm II</strong>
                                    p.copytext.copytext__centered Selbstverständlich pestizidfrei, nachhaltig und natürlich, ohne die Pflanzen hochzubinden, auszugeizen und auf einen Trieb zu beschränken, kultiviert unser Gärtner Giorgio in diesem Jahr seine alten, samenfesten Tomaten und folgt damit der Methode des österreichischen Bio-Bauern Stekovics, die er als das <strong>Erich-Stekovics-Experiment</strong> in seinem Blog beschreibt:
                                    p.copytext.copytext__centered <strong><u><a href="https://gehoelzbalkon.wordpress.com/2017/07/09/das-erich-stekovics-experiment-tomaten-nicht-giessen-nicht-ausgeizen-nicht-hochbinden/">gehoelzbalkon.wordpress.com</a></u></strong><br>
                                p.copytext.copytext__centered _______________________________________
                                .small-0.large-1.end.columns.row
                                .small-12.columns
                                    p.copytext.copytext__centered <strong>Brutvogelzählung in Bornholm II<br>Einladung zum Vorbereitungstreffen 30. März 19 Uhr, Vereinshaus</strong>
                                    p.copytext.copytext__centered Liebe Garten- und Vogelfreunde,
                                    p.copytext.copytext__centered wie auf der Mitgliederversammlung angekündigt, wollen wir in diesem Jahr versuchen, die Brutvögel in unseren Gärten zu erfassen und ihre Brutorte zu kartieren. Jeder, der Interesse an Vögeln hat, ist willkommen - je mehr mitmachen, desto besser!
                                    p.copytext.copytext__centered Wir treffen uns am 30. März um 19 Uhr im Vereinsheim Bornholm II zu einer Vorbesprechung und werden dabei von einem erfahrenen Vogelbeobachter unterstützt.
                                    p.copytext.copytext__centered Die Brutvogelzählung findet dann an einem Wochenende im April ab 4:30 statt.
                                    p.copytext.copytext__centered Eure Gartenfachberaterin Ina Rathfelder<br>
                                p.copytext.copytext__centered _______________________________________
                                .small-0.large-1.end.columns.row
                                .small-12.columns
                                    p.copytext.copytext__centered <strong>Bornholm II beteiligt sich an der Bürgerbefragung zum Landesentwicklungsplan<br>LEP Berlin - HR2016</strong>
                                    p.copytext.copytext__centered Einen Beitrag zum Landesentwicklungsplan liefern die folgenden  Stellungnahmen von Gärtnern der KGA Bornholm II, die über umweltbiologische, soziologische und kulturhistorische Werte der Kleingartenanlage informieren.
                                    p.copytext.copytext__centered <strong><u><a href="/downloads/Bornholm-LEP2016-CU.pdf">Stellungnahme von Dr. Christiane Unger, Vorstand KGA Bornholm II </a></u></strong><br>
                                    p.copytext.copytext__centered <strong><u><a href="/downloads/Bornholm-LEP2016-Torsten.pdf">Stellungnahme von Torsten Löhn, Gärtner der KGA Bornholm II</a></u></strong><br>
                                p.copytext.copytext__centered _______________________________________
                                .small-0.large-1.end.columns.row
                                .small-12.columns
                                    p.copytext.copytext__centered <strong>Shanghai Ecoland Club zu Besuch in Bornholm II</strong>
                                    p.copytext.copytext__centered Dr. Pan Tao vom Ecoland Club in Shanghai war zusammen mit Lu Xun, einem der Gründer des Sifang Art Museums in Nanjing, am 27. September 2016 zu Besuch in Bornholm II. Eduard Kögel übernahm die Führung durch die Anlage. Der Besuch fand im Rahmen des von der Robert Bosch Stiftung unterstützten Treffens STADTMACHER China–Deutschland, einem interdisziplinären Netzwerk für lebenswerte Städte, statt. Dr. Pan, der in Cottbus studiert hat und dort das Konzept des Schrebergartens kennenlernte, gründete in Shanghai den Ecoland Club, den er als Schrebergarten+ bezeichnet. Er arbeitet derzeit daran, das Schrebergartenkonzept in China bekannt zu machen und neue Anlagen in anderen Städten zu gründen. Beim Besuch in Bornholm II sprachen wir über die Notwendigkeit der Diversität von Grünanlagen in Städten, die durch unterschiedliche Fauna und Flora das städtische Leben bereichern. Aber auch Fragen der Klimaveränderung, des Regenwasserrückhalts und die Möglichkeiten für Kinder die Natur zu erleben, wurden erörtert. Gerade der Regenwasserrückhalt, der unter dem Begriff der „Schwammstadt“ (Sponge City) in der Fachwelt diskutiert wird, ist für große Städte wie Berlin und Shanghai von entscheidender Bedeutung. Dr. Pan ist sehr interessiert den Austausch mit Bornholm II auch in Zukunft aufrechtzuerhalten und sich über ökologische, soziale und kulturelle Belange auszutauschen.
                                    p.copytext.copytext__centered Für weitere Informationen Dr. Eduard Kögel, Parzelle 44
                                    p.copytext.copytext__centered Informationen zu Dr. Pan Tao: 
                                    p.copytext.copytext__centered <strong><u><a href="http://www.stadtmacher4986.com/content/language1/html/53570.asp">Interview in englischer Sprache</a></u></strong><br>
                                    p.copytext.copytext__centered <strong><u><a href="http://www.stadtmacher4986.com/content/language1/html/53393.asp">Informationen zum Ecoland Club in Shanghai in deutscher Sprache</a></u></strong> 
                                    p.copytext.copytext__centered <strong><u><a href="http://www.sifangartmuseum.org/en/index.php">Weitere Informationen zum Sifang Art Museum</a></u></strong>
                                .small-12.columns
                                    ng-gallery.imagegallery(images="[{thumb: '/images/galerie/thumbs/china.garten1_thumb.jpg', img: '/images/galerie/china.garten.1.jpg', description: 'china1'},{thumb: '/images/galerie/thumbs/china.garten.2_thumb.jpg', img: '/images/galerie/china.garten.2.jpg', description: 'china2'}]" thumbs-num="2")
                                .small-0.large-1.end.columns
                            .row
                                .small-12.columns
                                    p.copytext.copytext__centered _______________________________________
                                    p.copytext.copytext__centered <strong>Berliner Kartoffel erfolgreich in Brandenburg</strong>
                                    p.copytext.copytext__centered “Rosa Tannenzapfen” aus Bornholm II landet auf drittem Platz bei Kartoffelwettbewerb in Wandlitz
                                    p.copytext.copytext__centered Beim Erntefest zum Tag der Regionen am 25. September 2016 rund um das Wandlitzer Landwirtschaftsmuseum Barnim Panorama hat es eine Kartoffelrarität aus Bornholm II aufs Siegertreppchen geschafft. Eine Kartoffel der Sorte Rosa Tannenzapfen aus dem Kleingarten von Jan und Jasmin landete auf dem dritten Platz. “Beim Pflanzen der Kartoffeln konnte unser damals noch dreijähriger Sohn Johann besonders gut helfen. Und bei der Ernte war er dann ganz gespannt, wieviel wir nun aus der Erde holen würden”, erzählte Jasmin. Prämiert wurden die ausgefallensten Exemplare, naturgewachsen oder gestaltet. Die Kartoffel von Parzelle 50 überzeugte mit ihrem natürlich urwüchsigem Äußeren, das an ein “Baby mit Wiegenkissen” erinnert. Die Sorte Rosa Tannenzapfen, in Deutschland um 1850 kultiviert, gilt als eine der ältesten bekannten Sorten überhaupt, ist festkochend und besticht mit zarter rosa Schale und hellgelbem Fleisch. Unter Kennern ist die kräftig-würzige Kartoffel als Delikatesse beliebt, besonders eignet sie sich für Salate. Die Gärtnerfamilie, die auf ihrer Scholle neben Rosa Tannenzapfen in dieser Saison auch Blaue Schweden, Bamberger Hörnchen und Roter Erstling anbaute, freute sich sehr über ihren Preis: eine Familieneintrittskarte für das Barnim Panorama.
                                .small-12.columns
                                    ng-gallery.imagegallery(images="[{thumb: '/images/galerie/thumbs/ernte1_thumb.jpg', img: '/images/galerie/ernte1.jpg', description: 'ernte1'},{thumb: '/images/galerie/thumbs/ernte2_thumb.jpg', img: '/images/galerie/ernte2.jpg', description: 'ernte2'},{thumb: '/images/galerie/thumbs/ernte3_thumb.jpg', img: '/images/galerie/ernte3.jpg', description: 'ernte3'}]" thumbs-num="3")
                                .small-0.large-1.end.columns
                            .row
                                .small-12.columns
                                    p.copytext.copytext__centered _______________________________________
                                    p.copytext.copytext__centered <strong>Alles neu macht der Mai – Andersenweg und Kita-Kooperation</strong>
                                    p.copytext.copytext__centered Endlich ist es geschafft: Ende Mai haben viele fleißige Gartenfreunde den Andersenweg erneuert. Innerhalb einer Woche waren die neuen Gehwegplatten verlegt und unsere Anlage damit ein Stück barrierefreier. Das erste zarte Grün, das sich in den darauffolgenden Wochen zeigte, hat sich inzwischen in ansehnliche Rasenstreifen vor den Gärten verwandelt. Die alten Pflastersteine aus dem Andersenweg finden sich übrigens als neue Trockenmauer auf der Festwiese vor dem Vereinshaus. Vielen Dank allen Helfenden!
                                    p.copytext.copytext__centered Im Langen Weg haben Torsten und Britta eine Kooperation mit der Kita Gleimstrolche Haus 2 gestartet. Mitte Mai bekamen die Gartenfreunde das erste Mal Besuch von 14 Kindern aus der Einrichtung in der Gleimstraße. Gemeinsam wurden drei Beete mit unterschiedlichem Gemüse und Johannisbeersträuchern bepflanzt und drei Nistkästen für Fledermäuse gebaut. Natürlich blieb für die Kleinen genug Zeit zum Spielen und Herumtollen. Zwischendurch stärkten sich die Nachwuchsgärtner mit Säften, Äpfeln, Bananen und Kokosnüssen. Bei einem zweiten Treffen Ende August konnte dann sogar im Kleingarten geerntet werden: die Pflaumen und Äpfel waren gerade reif und auch Erbsen konnten ganz beetfrisch genascht werden. Natürlich musste das Kitabeet gejätet werden und die Kinder lernten, dass Gründüngung den Boden verbessert und säten dazu Lupine. Außerdem bauten alle gemeinsam eine sogenannte “Berliner Kiste”, eine Wurmkiste als Alternative zum Kompost, in der zukünftig bester Humus entstehen soll. “Die Kinder haben sehr gut mitgemacht”, freute sich Torsten. Ein weiterer Kita-Besuch soll in dieser Gartensaison noch folgen.
                                .small-12.columns
                                    ng-gallery.imagegallery(images="[{thumb: '/images/galerie/thumbs/weg1_thumb.jpg', img: '/images/galerie/weg1.jpg', description: 'weg1'},{thumb: '/images/galerie/thumbs/weg2_thumb.jpg', img: '/images/galerie/weg2.jpg', description: 'weg2'},{thumb: '/images/galerie/thumbs/treff1_thumb.jpg', img: '/images/galerie/treff1.jpg', description: 'treff1'},{thumb: '/images/galerie/thumbs/treff3_thumb.jpg', img: '/images/galerie/treff3.jpg', description: 'treff3'},{thumb: '/images/galerie/thumbs/treff12_thumb.jpg', img: '/images/galerie/treff12.jpg', description: 'treff12'},{thumb: '/images/galerie/thumbs/treff17_thumb.jpg', img: '/images/galerie/treff17.jpg', description: 'treff17'},{thumb: '/images/galerie/thumbs/treff4_thumb.jpg', img: '/images/galerie/treff4.jpg', description: 'treff4'},{thumb: '/images/galerie/thumbs/treff16_thumb.jpg', img: '/images/galerie/treff16.jpg', description: 'treff16'}]" thumbs-num="6")
                                .small-0.large-1.end.columns
                            
                            .row
                                .small-12.columns
                                    p.copytext.copytext__centered _______________________________________
                                    p.copytext.copytext__centered <strong>Vogelschutz in unseren Gärten</strong>
                                    .copytext.copytext__centered Wir freuen uns über das vielstimmige Vogelgezwitscher in unseren Gärten. Rotkehlchen, Gartenrotschwänze, Amseln, Heckenbraunellen und andere Vögel bauen gerade ihre Nester in der Gartenkolonie oder haben bereits mit der Brut begonnen. Einige haben ihre Brutstätte relativ dicht über dem Boden, wie z.B. die Heckenbraunelle. Ihre Eier können Nesträubern leicht zum Opfer fallen. Wir möchten die Vögel in Bornholm II schützen und ihren Bestand für die Gegend erhalten. Katzenbesitzer bitten wir daher, ihre Tiere während der Brutzeit nachts in der Wohnung zu halten. Auch im nächsten Frühjahr sollen uns wieder viele Vogelstimmen wecken!
                                    p.copytex.copytext_centered <br>
                                    p.copytext.copytext__centered <strong>Beratung zur Gestaltung von Lauben und Gartenhäusern</strong>
                                    .copytext.copytext__centered Unsere neuen Pächter Jennifer Meitzner und Eduard Kögel (Parzelle 44) sind Architekten. 
                                    .copytext.copytext__centered Auf Anfrage sind sie gern bereit, bei technischen oder ästhetischen Fragen zur Gestaltung der Lauben und Gartenhäuser in Bornholm II Ratschläge zu geben. Anfragen können direkt an Jennifer und Eduard oder an den Vorstand gerichtet werden, der sie dann weiterleitet.
                                    p.copytex.copytext_centered <br>
                                    p.copytext.copytext__centered <strong>Gartenbegehung 2016</strong>
                                    .copytext.copytext__centered Das <strong><a href="/downloads/Gartenbegehung-2016.doc">Formular</strong></a> zur Gartenbegehung 2016 kann <strong><a href="/downloads/Gartenbegehung-2016.doc">hier</strong></a> heruntergeladen werden.
                                 .small-0.large-1.end.columns

            .row
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            foot-area
                .small-0.large-1.end.columns