.module.module--neuigkeiten
    .row
        .small-12.columns
            .row
                .small-12.large-10.large-offset-1.columns
                    head-area
                .small-0.large-1.end.columns

            .row.row__after-fixed-header.main-content-area
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            page-headline(data-content="NEUIGKEITEN")
                    
                    .row
                         .small-12.large-10.large-offset-1.columns
                            .row
                                .small-12.columns
                                    p.copytext.copytext__centered <strong>Vogelschutz in unseren Gärten</strong>
                                    .copytext.copytext__centered Wir freuen uns über das vielstimmige Vogelgezwitscher in unseren Gärten. Rotkehlchen, Gartenrotschwänze, Amseln, Heckenbraunellen und andere Vögel bauen gerade ihre Nester in der Gartenkolonie oder haben bereits mit der Brut begonnen. Einige haben ihre Brutstätte relativ dicht über dem Boden, wie z.B. die Heckenbraunelle. Ihre Eier können Nesträubern leicht zum Opfer fallen. Wir möchten die Vögel in Bornholm II schützen und ihren Bestand für die Gegend erhalten. Katzenbesitzer bitten wir daher, ihre Tiere während der Brutzeit nachts in der Wohnung zu halten. Auch im nächsten Frühjahr sollen uns wieder viele Vogelstimmen wecken!
                                    p.copytex.copytext_centered <br>
                                    p.copytext.copytext__centered <strong>Beratung zur Gestaltung von Lauben und Gartenhäusern</strong>
                                    .copytext.copytext__centered Unsere neuen Pächter Jennifer Meitzner und Eduard Kögel (Parzelle 44) sind Architekten. 
                                    .copytext.copytext__centered Auf Anfrage sind sie gern bereit, bei technischen oder ästhetischen Fragen zur Gestaltung der Lauben und Gartenhäuser in Bornholm II Ratschläge zu geben. Anfragen können direkt an Jennifer und Eduard oder an den Vorstand gerichtet werden, der sie dann weiterleitet.
                                    p.copytex.copytext_centered <br>
                                    p.copytext.copytext__centered <strong>Gartenbegehung 2016</strong>
                                    .copytext.copytext__centered Das <strong><a href="/downloads/Gartenbegehung-2016.doc">Formular</strong></a> zur Gartenbegehung 2016 kann <strong><a href="/downloads/Gartenbegehung-2016.doc">hier</strong></a> heruntergeladen werden.
                                 .small-0.large-1.end.columns

            .row
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            foot-area
                .small-0.large-1.end.columns