.module.module--0224obstbaum
    .row
        .small-12.columns
            .row
                .small-12.large-10.large-offset-1.columns
                    head-area
                .small-0.large-1.end.columns

            .row.row__after-fixed-header.main-content-area
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            page-headline(data-content="ARCHIV: OBSTBAUMSCHNITT IM KLEINGARTEN")
                    
                    .row
                        .small-12.columns
                            img.teaser-image(src="/images/banner/einlad.jpg")

                    .row
                        
                        .small-12.columns
                            p.copytext.copytext__centered Liebe Gärtnerinnen und Gärtner,
                                    p.copytext.copytext__centered unser Gartenfreund Axel Klapka wird uns auch dieses Jahr wieder erklären, wie wir unsere Obstbäume sorgsam, aber wirkungsvoll mit Schnittmaßnahmen pflegen und erhalten können. Nach dem Vortrag bei uns im Vereinshaus wird die Praxis in einer unserer Parzellen demonstriert. Denkt also bitte an warme Kleidung!
                                    p.copytext.copytext__centered Gäste aus benachbarten Gartenkolonien sind herzlich willkommen.
                                    p.copytext.copytext__centered Eure Gartenfachberatung
                                p.copytext.copytext__centered _______________________________________
                                .small-0.large-1.end.columns.row
                     .row
                        .small-12.columns
                            ng-gallery.imagegallery(images="[{thumb: '/images/archiv/thumbs/obstbaum18-1_thumb.jpg', img: '/images/archiv/obstbaum18-1.jpg', description: 'obstbaum18-1'},{thumb: '/images/archiv/thumbs/obstbaum18-2_thumb.jpg', img: '/images/archiv/obstbaum18-2.jpg', description: 'obstbaum18-2'},{thumb: '/images/archiv/thumbs/obstbaum18-3_thumb.jpg', img: '/images/archiv/obstbaum18-3.jpg', description: 'obstbaum18-3'}]" thumbs-num="3")
                    .small-0.large-1.end.columns
                    
            .row
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            foot-area
                .small-0.large-1.end.columns