.module.module--kontakt
    .row
        .small-12.columns
            .row
                .small-12.large-10.large-offset-1.columns
                    head-area
                .small-0.large-1.end.columns

            .row.row__after-fixed-header.main-content-area
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            page-headline(data-content="KONTAKT")

                    .row
                        .small-12.columns
                            .copytext Kleingartenverein Bornholm II e.V.
                            .copytext Ibsenstr. 20
                            p.copytext 10439 Berlin

                            .copytext <strong>Vorstand</strong>
                            .copytext Vorsitzender: Edwin Damrose 
                            .copytext stellv. Vorsitzender: Tino Köhler 
                            .copytext Schatzmeisterin: Juliane Kilanowski 
                            p.copytext Schriftführerin: Christiane Unger

                            .copytext <strong>Kommissionen und Ausschüsse</strong>
                            .copytext Gartenfachberaterinnen: Gundi Freitag, Christine Herschmann, Ina Rathfelder 
                            .copytext Gemeinschaftsarbeit: Fritz Bardischefsky, Lars Jung
                            .copytext Wasserkommission: Jürgen Konowski, Peter Tittel
                            .copytext Baukommission: Karl Glauer
                            .copytext Obfrau Kirchengelände: Monika Sepke
                            .copytext Seniorenbetreuung: Hannelore Bruder
                            .copytext Konfliktausschuss: Rainer Gramsch, Ekkehard Maaß, Steffi Niemzok, Petra Seeger, Brit Wagner

                .small-0.large-1.end.columns

            .row
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            foot-area
                .small-0.large-1.end.columns