.module.module--0903120jahre
    .row
        .small-12.columns
            .row
                .small-12.large-10.large-offset-1.columns
                    head-area
                .small-0.large-1.end.columns

            .row.row__after-fixed-header.main-content-area
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            page-headline(data-content="ARCHIV: 120 Jahre Bornholmer Gärten am 03. und 04.09.2016")
                    
                    .row
                        .small-12.columns
                            img.teaser-image(src="/images/banner/einlad120.jpg")

                    .row
                        
                        .small-12.columns
                            p.copytext.copytext__centered Liebe Gärtner, liebe Nachbarn, liebe Kiezbewohner und alle Leute, die Lust haben, ein sonniges Wochenende im Grünen zu verbringen, 
                            p.copytext.copytext__centered Ihr seid herzlich eingeladen,<br> <strong>am 03. und 04. September</strong><br> den 120. Geburtstag der Bornholmer Gärten mit uns zu feiern.<br> Denn, kein Mist, die Gartenkolonie wurde 1896 auf einer Mülldeponie gegründet.<br>Die ersten Siedler bauten an, um zu überleben. 
                            .copytext.copytext__centered Mit einem tollen Programm wollen wir an die Geschichte der Bornholmer Gärten erinnern,<br>die Gegenwart feiern und für die Zukunft planen.<br>Das <strong><a href="/downloads/Programm-120-Jahre.pdf">Programm</a></strong> findet Ihr <strong><a href="/downloads/Programm-120-Jahre.pdf">hier</a></strong>.    
                            .small-0.large-1.end.columns
                     .row
                        .small-12.columns
                            ng-gallery.imagegallery(images="[{thumb: '/images/galerie/thumbs/120_1_thumb.jpg', img: '/images/galerie/120_1.jpg', description: '1201'},{thumb: '/images/galerie/thumbs/120_2_thumb.jpg', img: '/images/galerie/120_2.jpg', description: '1202'},{thumb: '/images/galerie/thumbs/120_3_thumb.jpg', img: '/images/galerie/120_3.jpg', description: '1203'}]" thumbs-num="3")
                    .small-0.large-1.end.columns
                    .row
                            .small-12.columns
                                #videogallery.videogallery--list
                                    span.videogallery--item
                                        img.videogallery--thumbnail(src="https://i.ytimg.com/vi/yRb3xKoA1Wo/hqdefault.jpg" alt="" data-reveal-id="video1")

                                    #video1.reveal-modal.large(data-reveal aria-hidden="true" role="dialog")
                                        .flex-video.widescreen.youtube
                                            iframe(width="1280" height="720" src="//www.youtube-nocookie.com/embed/yRb3xKoA1Wo" frameborder="0" allowfullscreen)
                                        a.close-reveal-modal(aria-label="Close") &#215;

                            script(type="text/javascript")
                                | jQuery('#videogallery').foundation();

                           

                .small-0.large-1.end.columns

            .row
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            foot-area
                .small-0.large-1.end.columns