.imagegallery
    .imagegallery--item-wrapper.imagegallery--item-wrapper__1
    .imagegallery--item-wrapper.imagegallery--item-wrapper__2
    .imagegallery--item-wrapper.imagegallery--item-wrapper__3
    .imagegallery--item-wrapper.imagegallery--item-wrapper__4
    .imagegallery--item-wrapper.imagegallery--item-wrapper__5
    .imagegallery--item-wrapper.imagegallery--item-wrapper__6
    .imagegallery--item-wrapper.imagegallery--item-wrapper__7
    .imagegallery--item-wrapper.imagegallery--item-wrapper__8