.imagegallery
    a(href="/#/bilder")
        img.imagegallery--item(src="/images/slider/thumbs/IMG_1948.jpg" alt="")
    a(href="/#/bilder")
        img.imagegallery--item(src="/images/slider/thumbs/IMG_4578.jpg" alt="")
    a(href="/#/bilder")
        img.imagegallery--item(src="/images/slider/thumbs/IMG_9129.jpg" alt="")
    a(href="/#/bilder")
        img.imagegallery--item(src="/images/slider/thumbs/IMG_9139.jpg" alt="")
    a(href="/#/bilder")
        img.imagegallery--item(src="/images/slider/thumbs/IMG_9146.jpg" alt="")
    a(href="/#/bilder")
        img.imagegallery--item(src="/images/slider/thumbs/IMG_9195.jpg" alt="")
    a(href="/#/bilder")
        img.imagegallery--item(src="/images/slider/thumbs/IMG_9198.jpg" alt="")
    a(href="/#/bilder")
        img.imagegallery--item(src="/images/slider/thumbs/IMG_9204.jpg" alt="")
    a(href="/#/bilder")
        img.imagegallery--item(src="/images/slider/thumbs/IMG_9195.jpg" alt="")
    a(href="/#/bilder")
        img.imagegallery--item(src="/images/slider/thumbs/IMG_9198.jpg" alt="")
    a(href="/#/bilder")
        img.imagegallery--item(src="/images/slider/thumbs/IMG_9204.jpg" alt="")