.imagegallery
    .imagegallery--item.imagegallery--item__1
    .imagegallery--item.imagegallery--item__2
    .imagegallery--item.imagegallery--item__3
    .imagegallery--item.imagegallery--item__4
    .imagegallery--item.imagegallery--item__5
    .imagegallery--item.imagegallery--item__6
    .imagegallery--item.imagegallery--item__7
    .imagegallery--item.imagegallery--item__8