.teaserPanel.teaserPanel__5
  img.panelContentImage(src="/images/panels/5.png")

  .panelBottom
    a.goHome(href="/#/home")
      img(src="/images/panels/bottom.png")

  a.goNext(href="/#/panel6") &gt;

  a.goPrev(href="/#/panel4") &lt;

  a.goAway(href="/#/home") &times;
