.teaserPanel.teaserPanel__5(
  ng-controller="Panel5Ctrl as Panel5Vm"
  ng-mousemove="Panel5Vm.handleMouseMove()"
  ng-class="{'showControls': Panel5Vm.controlsVisible}"
)
  img.panelContentImage(src="/images/panels/5.png")

  .panelBottom
    a.goHome(href="/#/home")
      img(src="/images/panels/bottom.png")

  a.goNext(href="/#/6") &gt;

  a.goPrev(href="/#/4") &lt;

  .goAway
    a(href="/#/home") zur Homepage
