.imagecarousel2
    a(href="/#/kampagne#campaignGallery")
        img.imagecarousel2--item(src="/images/kampagne/thumbs/K1_thumb.jpg" alt="")
    a(href="/#/kampagne#campaignGallery")
        img.imagecarousel2--item(src="/images/kampagne/thumbs/K2_thumb.JPG" alt="")
    a(href="/#/kampagne#campaignGallery")
        img.imagecarousel2--item(src="/images/kampagne/thumbs/K3_thumb.jpg" alt="")
    a(href="/#/kampagne#campaignGallery")
        img.imagecarousel2--item(src="/images/kampagne/thumbs/K4_thumb.jpg" alt="")
    a(href="/#/kampagne#campaignGallery")
        img.imagecarousel2--item(src="/images/kampagne/thumbs/K5_thumb.jpg" alt="")
    a(href="/#/kampagne#campaignGallery")
        img.imagecarousel2--item(src="/images/kampagne/thumbs/K6_thumb.jpg" alt="")
    a(href="/#/kampagne#campaignGallery")
        img.imagecarousel2--item(src="/images/kampagne/thumbs/K7_thumb.jpg" alt="")
    a(href="/#/kampagne#campaignGallery")
        img.imagecarousel2--item(src="/images/kampagne/thumbs/K8_thumb.jpg" alt="")
