.teaserPanel.teaserPanel__4
  img.panelContentImage(src="/images/panels/4.png")

  .panelBottom
    a.goHome(href="/#/home")
      img(src="/images/panels/bottom.png")

  a.goNext(href="/#/panel5") &gt;

  a.goPrev(href="/#/panel3") &lt;

  a.goAway(href="/#/home") &times;
