.module.module--satzung
    .row
        .small-12.columns
            .row
                .small-12.large-10.large-offset-1.columns
                    head-area
                .small-0.large-1.end.columns

            .row.row__after-fixed-header.main-content-area
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            page-headline(data-content="SATZUNG")

                    .row
                        .small-12.columns
                            .copytext.copytext__centered Hier gibt es die <strong><a href="/downloads/Satzung.docx">Satzung</strong></a> und die <strong><a href="/downloads/Gartenordnung.doc">Gartenordnung</strong></a> zum Download.
                            
                .small-0.large-1.end.columns

            .row
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            foot-area
                .small-0.large-1.end.columns