.teaserPanel.teaserPanel__9(
  ng-controller="Panel9Ctrl as Panel9Vm"
  ng-mousemove="Panel9Vm.handleMouseMove()"
  ng-class="{'showControls': Panel9Vm.controlsVisible}"
)
  img.panelContentImage(src="/images/panels/9.png")

  .panelBottom
    a.goHome(href="/#/home")
      img(src="/images/panels/bottom.png")

  a.goNext(href="/#/panel10") &gt;

  a.goPrev(href="/#/panel8") &lt;

  a.goAway(href="/#/home") &times;
