.imagegallery-syncedpreview
    .imagegallery-syncedpreview--gallery
        .imagegallery-syncedpreview--item.imagegallery-syncedpreview--item__1(ng-click="toggleSlick()")
        .imagegallery-syncedpreview--item.imagegallery-syncedpreview--item__2(ng-click="toggleSlick()")
        .imagegallery-syncedpreview--item.imagegallery-syncedpreview--item__3(ng-click="toggleSlick()")
        .imagegallery-syncedpreview--item.imagegallery-syncedpreview--item__4(ng-click="toggleSlick()")
        .imagegallery-syncedpreview--item.imagegallery-syncedpreview--item__5(ng-click="toggleSlick()")
        .imagegallery-syncedpreview--item.imagegallery-syncedpreview--item__6(ng-click="toggleSlick()")
        .imagegallery-syncedpreview--item.imagegallery-syncedpreview--item__7(ng-click="toggleSlick()")
        .imagegallery-syncedpreview--item.imagegallery-syncedpreview--item__8(ng-click="toggleSlick()")
        .imagegallery-syncedpreview--item.imagegallery-syncedpreview--item__9(ng-click="toggleSlick()")
        .imagegallery-syncedpreview--item.imagegallery-syncedpreview--item__10(ng-click="toggleSlick()")
        .imagegallery-syncedpreview--item.imagegallery-syncedpreview--item__11(ng-click="toggleSlick()")

    .imagegallery-syncedpreview--window
        .imagegallery-syncedpreview--item.imagegallery-syncedpreview--item__1
        .imagegallery-syncedpreview--item.imagegallery-syncedpreview--item__2
        .imagegallery-syncedpreview--item.imagegallery-syncedpreview--item__3
        .imagegallery-syncedpreview--item.imagegallery-syncedpreview--item__4
        .imagegallery-syncedpreview--item.imagegallery-syncedpreview--item__5
        .imagegallery-syncedpreview--item.imagegallery-syncedpreview--item__6
        .imagegallery-syncedpreview--item.imagegallery-syncedpreview--item__7
        .imagegallery-syncedpreview--item.imagegallery-syncedpreview--item__8
        .imagegallery-syncedpreview--item.imagegallery-syncedpreview--item__9
        .imagegallery-syncedpreview--item.imagegallery-syncedpreview--item__10
        .imagegallery-syncedpreview--item.imagegallery-syncedpreview--item__11