@import "../../constants";

.teaser-anchor {
  background-color: $color--ci;
  color: $color--white;
  padding: 23px 15px 13px;
  font-size: #{26 / $font-size--base__no-unit}em;
  font-family: BrandonPrintedOneWeb, sans-serif;
  display: inline-block;
  position: relative;

  &:hover,
  &:active,
  &:focus {
    background-color: $color--ci__hover;
    color: $color--white;
  }
}

.teaser-anchor--corner {
  zoom: 1;
}

.teaser-anchor--corner-background {
  background-color: transparent;
  width: 0;
  height: 0;
  border: 20px solid $color--accent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
}

.teaser-anchor--corner-content {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  right: 0;
  top: 10px;
  font-size: 10px;
}

// small devices
@media screen and (max-width: $breakpoint--small__max) {
  .teaser-anchor {
    font-size: #{20 / $font-size--base__no-unit}em;
    text-align: center;
    padding: 10px;
  }
}

// medium devices
@media screen and (min-width: $breakpoint--medium__min) and (max-width: $breakpoint--medium__max) {
  .teaser-anchor {
    font-size: #{26 / $font-size--base__no-unit}em;
    text-align: center;
    padding: 10px;
  }
}