@import "../../constants";

.teaser-anchor {
  background-color: $color--ci;
  color: $color--white;
  padding: 25px 20px 20px;
  font-size: #{26 / $font-size--base__no-unit}em;
  font-family: BrandonPrintedOneWeb, sans-serif;
  display: inline-block;

  &:hover,
  &:active,
  &:focus {
    background-color: $color--ci__hover;
    color: $color--white;
  }
}

// small devices
@media screen and (max-width: $breakpoint--small__max) {
  .teaser-anchor {
    font-size: #{20 / $font-size--base__no-unit}em;
    text-align: center;
    padding: 10px;
  }
}

// medium devices
@media screen and (min-width: $breakpoint--medium__min) and (max-width: $breakpoint--medium__max) {
  .teaser-anchor {
    font-size: #{26 / $font-size--base__no-unit}em;
    text-align: center;
    padding: 10px;
  }
}