@import "../../constants";

.teaser-anchor {
  background-color: $color--ci;
  color: $color--white;
  padding: 20px;
  font-size: 28px;
  font-family: 'Lilita One', cursive;
  display: inline-block;
  letter-spacing: 3px;

  &:hover,
  &:active,
  &:focus {
    background-color: $color--ci__hover;
    color: $color--white;
  }
}