@import "../../constants";

.page-title {
  font-family: 'Oxygen', sans-serif;
  font-size: #{46 / $font-size--base__no-unit}em;
  font-weight: 300;
  line-height: 1;
}

// small devices
@media screen and (max-width: $breakpoint--small__max) {
  .page-title {
    font-size: #{35 / $font-size--base__no-unit}em;
    text-align: center;
  }
}

// medium devices
@media screen and (min-width: $breakpoint--medium__min) and (max-width: $breakpoint--medium__max) {
  .page-title {
    font-size: #{45 / $font-size--base__no-unit}em;
  }
}