@import "../../constants";

.page-headline {
  background-color: $color--ci;
  color: $color--white;
  padding: 25px 20px 20px;
  font-size: 28px;
  font-family: BrandonPrintedOneWeb, sans-serif;
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  margin-top: 25px;
  width: 100%;
  text-align: center;
}

// small devices
@media screen and (max-width: $breakpoint--medium__max) {
  .page-headline {
    font-size: 20px;
    padding: 10px;
  }
}

// medium devices
@media screen and (min-width: $breakpoint--medium__min) and (max-width: $breakpoint--medium__max) {
  .page-headline {
    font-size: 26px;
    padding: 10px;
  }
}