@import "../../constants";

.page-headline {
  background-color: $color--ci;
  color: $color--white;
  padding: 20px;
  font-size: 28px;
  font-family: 'Lilita One', cursive;
  display: inline-block;
  letter-spacing: 3px;
  white-space: nowrap;
  margin-left: -50px;
  margin-top: 25px;
}

// small devices
@media screen and (max-width: $breakpoint--medium__max) {
  .page-headline {
    margin-left: 0;
    width: 100%;
    text-align: center;
    font-size: 20px;
    padding: 10px;
  }
}

// medium devices
@media screen and (min-width: $breakpoint--medium__min) and (max-width: $breakpoint--medium__max) {
  .page-headline {
    margin-left: 0;
    width: 100%;
    text-align: center;
    font-size: 26px;
    padding: 10px;
  }
}