@import "../../constants";

.page-headline {
  background-color: $color--ci;
  color: $color--white;
  padding: 25px 20px 20px;
  font-size: #{26 / $font-size--base__no-unit}em;
  font-family: BrandonPrintedOneWeb, sans-serif;
  font-weight: 500;
  display: inline-block;
  line-height: 1;
  width: 100%;
  text-align: center;
}

// small devices
@media screen and (max-width: $breakpoint--medium__max) {
  .page-headline {
    font-size: #{20 / $font-size--base__no-unit}em;
    padding: 18px 10px 10px;
  }
}

// medium devices
@media screen and (min-width: $breakpoint--medium__min) and (max-width: $breakpoint--medium__max) {
  .page-headline {
    font-size: #{26 / $font-size--base__no-unit}em;
    padding: 20px 10px 10px;
  }
}