.module.module--bewerbung
    .row
        .small-12.columns
            .row
                .small-12.large-10.large-offset-1.columns
                    head-area
                .small-0.large-1.end.columns

            .row.row__after-fixed-header.main-content-area
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            page-headline(data-content="Bewerbungen")

                    .row
                        .small-12.columns
                            .copytext Informationen zur Bewerbung um einen Kleingarten – Stand 2018
                            p.copytext <strong>Da die offizielle Schutzfrist der Kolonie Bornholm II 2020 ausläuft und bislang keine zuverlässigen Aussagen über die weitere Verlängerung getroffen wurden, können bis auf weiteres leider keine Bewerbungen entgegen genommen werden. Dafür bitten wir um Verständnis.</strong>
                            p.copytext Die Schutzfrist unserer Kolonie Bornholm II endet 2020. Der Vorstand und viele Gärtner der Kolonie setzen sich sehr engagiert für eine Verlängerung ein und haben begründete Hoffnung auf ein Weiterbestehen.
                            p.copytext Zu unserer Kolonie gehören 180 Parzellen, eine davon ist der Kids-Kiezgarten, der als Gemeinschaftsgarten für Kinder umliegender Kitas von der „Schreberjugend Berlin“ geführt wird.
                            p.copytext Unsere Bewerberliste enthält zur Zeit ca. 70 Bewerbungen, darunter viele junge Familien mit kleinen Kindern. Nach unseren bisherigen Erfahrungen müssen sich Bewerber auf eine Wartezeit von etwa 2 bis 4 Jahren einrichten. Allerdings hat die Anzahl jährlicher Bewerbungen in den letzten zwei Jahren enorm zugenommen, so dass nach erneuter Öffnung der Liste mit einer Verlängerung der Wartezeit zu rechnen ist.
                            p.copytext Bewerbungen können in der Regel zu den Vorstandssprechstunden an jedem 1. Sonntag im Monat von 11 bis 12 Uhr im Vereinshaus erfolgen. Die Bewerber stellen sich persönlich vor und erhalten ein entsprechendes Formular. Für die Bewerbung erheben wir 10 Euro Verwaltungsgebühr. Nach der Bewerbung erwarten wir von allen Bewerbern eine Meldung zu Beginn und zum Ende der Gartensaison, also im März und Oktober jedes Jahres, mit der sie uns mitteilen, dass weiterhin Interesse an einem Garten in unsererK olonie besteht und die Bewerbung aufrechterhalten wird. Diese Interessenbekundung sollte schriftlich, postalisch oder per Email, erfolgen.
                            p.copytext Nach erfolgter Kündigung eines Gartens wird der Wert von Laube, Außenanlagen und Pflanzungen durch unabhängige Schätzer des Bezirksverbands der Kleingärtner Prenzlauer Berg ermittelt und ein Schätzprotokoll erstellt, das Vor- und Nachpächter des Gartens ausgehändigt wird. Nach bisherigen Erfahrungen kann die Schätzsumme eines Gartens, die an dessen Vorpächter zu zahlen ist, je nach Ausstattung zwischen 2000 Euro und 15000 Euro betragen.
                            p.copytext Mit Unterzeichnung des Unterpachtvertrages, den der Bezirksverband Prenzlauer Berg als Zwischenpächter ausstellt, wird der Bewerber zugleich Mitglied des Vereins Bornholm II e.V. Hierfür fällt eine einmalige Gebühr in Höhe von 330 Euro an. Alle  Vereinsmitglieder erkennen die Satzung des Vereins und die Bau- und Gartenordnung sowie das Bundeskleingartengesetz an.
                            p.copytext Der Vorstand
                .small-0.large-1.end.columns

            .row
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            foot-area
                .small-0.large-1.end.columns