.teaserPanel.teaserPanel__8(
  ng-controller="Panel8Ctrl as Panel8Vm"
  ng-mousemove="Panel8Vm.handleMouseMove()"
  ng-class="{'showControls': Panel8Vm.controlsVisible}"
)
  img.panelContentImage(src="/images/panels/8.png")

  .panelBottom
    a.goHome(href="/#/home")
      img(src="/images/panels/bottom.png")

  a.goNext(href="/#/9") &gt;

  a.goPrev(href="/#/7") &lt;

  a.goAway(href="/#/home") &times;
