.teaserPanel.teaserPanel__8
  img.panelContentImage(src="/images/panels/8.png")

  .panelBottom
    a.goHome(href="/#/home")
      img(src="/images/panels/bottom.png")

  a.goNext(href="/#/panel9") &gt;

  a.goPrev(href="/#/panel7") &lt;

  a.goAway(href="/#/home") &times;
