.module.module--0908essbar
    .row
        .small-12.columns
            .row
                .small-12.large-10.large-offset-1.columns
                    head-area
                .small-0.large-1.end.columns

            .row.row__after-fixed-header.main-content-area
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            page-headline(data-content="ARCHIV: Forum Stadtgärtnern am 08.09.2017")
                    
                    .row
                        .small-12.columns
                            img.teaser-image(src="/images/banner/einlad.jpg")

                    .row
                        .small-12.large-10.large-offset-1.columns
                                 
                            .row
                                .small-12.columns
                                    p.copytext.copytext__centered <strong>Forum Stadtgärtnern "Essbare Stadt"</strong>
                                    p.copytext.copytext__centered Freitag, 8. September 2017, 16-20 Uhr<br>KGA Bornholm II, Vereinsheim und Festwiese<br>Bergener Weg, 10439 Berlin
                                    p.copytext.copytext__centered Das Thema „Essbare Stadt“ ist ja zur Zeit in aller Munde und auch Bestandteil des Koalitionsvertrages der rot-rot-grünen Landesregierung. Wir Kleingartenvereine leisten dazu schon seit vielen Jahren unseren Beitrag. An diesem Nachmittag möchten wir über den Tellerrand blicken, aber auch ganz praktische Tipps austauschen.
                                    p.copytext.copytext__centered <strong>Wir laden alle Gärtner, Nachbarn und alle, die sich informieren und sich mit ihren Ideen, Fragen, Anregungen einbringen möchten, ein, dabei zu sein!</strong>
                                    p.copytext.copytext__centered Und das erwartet Sie:
                                    p.copytext.copytext__centered - Info-Austausch-Büffet (Infos, Schriften, zu tauschende Bücher, Sämereien, Pflanzen.... Jede/r ist eingeladen, etwas mitzubringen)
                                    p.copytext.copytext__centered - Führung durch die Anlage
                                    p.copytext.copytext__centered - Impulsreferat: Essbare Stadt – Was ist das? Wo kommt es her und was kann daraus werden? (Maike Majewski, Transition Town Pankow)
                                    p.copytext.copytext__centered - Infotische und Experten zu folgenden Themen: Apfelbaumprojekt Bornholm II, Tomatenwiese anlegen, die Bedeutung der Kleingärten für die Nahversorgung in der DDR, naturnahes Gärtnern, Bau eines Grauwasserturms, weitere Ideen und Themen sind auch kurzfristig noch herzlich willkommen...
                                    p.copytext.copytext__centered - Abschlussrunde – Was nehme ich mit? Welche Fragen sind noch offen? Woran, wann und mit wem arbeite ich weiter? Was ist unser Beitrag, damit Berlin auf dem Weg zur „essbaren Stadt“ voran kommt?
                                    p.copytext.copytext__centered - Gemeinsames Essen aus unseren Gärten
                                    p.copytext.copytext__centered Die Teilnahme ist kostenlos. Anmeldungen bis zum 06. September per Mail an<br><strong><a href="mailto:forum_stadtgaertnern_essbare_stadt@gmx.de">forum_stadtgaertnern_essbare_stadt@gmx.de</a></strong><br>(oder einfach kommen...)
                                    p.copytext.copytext__centered Wir freuen uns auf Ihr Kommen!
                                    p.copytext.copytext__centered Christiane Unger und Ina Rathfelder, im Namen des Vorstandes KGA Bornholm II e.V.
                            .row
                                .small-12.columns
                                    ng-gallery.imageExpand(images="[{thumb: '/images/einladung/essbare_stadt.jpg', img: '/images/einladung/essbare_stadt.jpg', description: 'Essbare Stadt'}]" thumbs-num="0")        
                                .small-0.large-1.end.columns
                .small-0.large-1.end.columns

            .row
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            foot-area
                .small-0.large-1.end.columns