.module.module--archiv
    .row
        .small-12.columns
            .row
                .small-12.large-10.large-offset-1.columns
                    head-area
                .small-0.large-1.end.columns

            .row.row__after-fixed-header.main-content-area
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            page-headline(data-content="ARCHIV")
                    .row
                        .small-12.columns
                            img.teaser-image(src="/images/banner/archiv.jpg")

                     .row
                        .small-12.large-10.large-offset-1.columns
                            .row
                                .small-12.columns
                                    .copytext.copytext__highlighted Ein kleiner Rückblick auf frühere Veranstaltungen
                    
                    .row
                         .small-12.large-10.large-offset-1.columns
                            .row
                                .small-12.columns
                                    a.copytext--anchor(href="/#/archiv-2016/05-15-pfingstsonntag") <strong>15.05.2016 - Pfingstsonntag:</strong> Blechmusik und Figurentheater<br>
                                    a.copytext--anchor(href="/#/archiv-2016/04-24-gartenwerkstatt") <strong>24.04.2016 - Gartenwerkstatt:</strong> "Biologische Vielfalt in Pankower Kleingärten"
                                 .small-0.large-1.end.columns

            .row
                .small-12.large-10.large-offset-1.columns
                    .row
                        .small-12.columns
                            foot-area
                .small-0.large-1.end.columns
