.imagecarousel
    a(href="/#/galerie")
        img.imagecarousel--item(src="/images/galerie/10.jpg" alt="")
    a(href="/#/galerie")
        img.imagecarousel--item(src="/images/galerie/12.jpg" alt="")
    a(href="/#/galerie")
        img.imagecarousel--item(src="/images/galerie/1.jpg" alt="")
    a(href="/#/galerie")
        img.imagecarousel--item(src="/images/galerie/6.jpg" alt="")
    a(href="/#/galerie")
        img.imagecarousel--item(src="/images/galerie/3.jpg" alt="")
    a(href="/#/galerie")
        img.imagecarousel--item(src="/images/galerie/17.jpg" alt="")
    a(href="/#/galerie")
        img.imagecarousel--item(src="/images/galerie/13.jpg" alt="")
    a(href="/#/galerie")
        img.imagecarousel--item(src="/images/galerie/16.jpg" alt="")
    a(href="/#/galerie")
        img.imagecarousel--item(src="/images/galerie/19.jpg" alt="")
    a(href="/#/galerie")
        img.imagecarousel--item(src="/images/galerie/20.jpg" alt="")
    a(href="/#/galerie")
        img.imagecarousel--item(src="/images/galerie/17.jpg" alt="")