.imagecarousel
    a(href="/#/galerie")
        img.imagecarousel--item(src="/images/galerie/thumbs/schwalbenschwanz1_thumb.jpg" alt="")
    a(href="/#/galerie")
        img.imagecarousel--item(src="/images/galerie/thumbs/china.gartenk1.jpg" alt="")
    a(href="/#/galerie")
        img.imagecarousel--item(src="/images/galerie/thumbs/china.garten.k2.jpg" alt="")
    a(href="/#/galerie")
        img.imagecarousel--item(src="/images/galerie/thumbs/basteln_1k_thumb.jpg" alt="")
    a(href="/#/galerie")
        img.imagecarousel--item(src="/images/galerie/thumbs/basteln_2k_thumb.jpg" alt="")
    a(href="/#/galerie")
        img.imagecarousel--item(src="/images/galerie/thumbs/10_thumb.jpg" alt="")
    a(href="/#/galerie")
        img.imagecarousel--item(src="/images/galerie/thumbs/p1_thumb.jpg" alt="")
    a(href="/#/galerie")
        img.imagecarousel--item(src="/images/galerie/thumbs/12_thumb.jpg" alt="")
    a(href="/#/galerie")
        img.imagecarousel--item(src="/images/galerie/thumbs/1_thumb.jpg" alt="")
    a(href="/#/galerie")
        img.imagecarousel--item(src="/images/galerie/thumbs/6_thumb.jpg" alt="")
    a(href="/#/galerie")
        img.imagecarousel--item(src="/images/galerie/thumbs/3_thumb.jpg" alt="")
    a(href="/#/galerie")
        img.imagecarousel--item(src="/images/galerie/thumbs/17_thumb.jpg" alt="")
    a(href="/#/galerie")
        img.imagecarousel--item(src="/images/galerie/thumbs/13_thumb.jpg" alt="")
    a(href="/#/galerie")
        img.imagecarousel--item(src="/images/galerie/thumbs/16_thumb.jpg" alt="")
    a(href="/#/galerie")
        img.imagecarousel--item(src="/images/galerie/thumbs/19_thumb.jpg" alt="")
    a(href="/#/galerie")
        img.imagecarousel--item(src="/images/galerie/thumbs/20_thumb.jpg" alt="")